.table-tree
		.tree-icon
				width 25px
				min-height 1px
				float left
				padding-top 1px

		.with_sub_menu
				.tree-icon:before
						font-family: "Glyphicons Halflings";
						content: "\e114"
		.item-link
				display block
				float right
				margin-right 50px
	
		.item-title
				display block
				float left
				

		for level in 1 2 3 
				.level-{level}
						.item-title
								padding-left  (level - 1) * 10px

.text_field_value
		overflow scroll

th.table_key_id,
th.table_key_idx,
th.table_key_active,
th.table_key_actions
		width 12px

th.table_key_created
		width 72px
.select-2
		width 300px
.show-more-data
		cursor pointer
.inside-td
		padding 0 !important
.inside-table
		margin-bottom 0 !important
.tree-icon {
	cursor: pointer;
}
.hide-childrens .tree-icon:before
		content "\e080" !important
.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #89cf96;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #89cf96 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.place-for-error
		color red



.form-inline
		.search-row
				th
						padding-right 8px
				.form-control
						width 100%
						min-width 30px
						height 25px
						padding 2px 5px
						font-size 12px
						line-height 1
						border-radius 1px
				.input-group-addon
						padding 2px 5px
						cursor pointer

#table_filter, #crudtable_filter
		display none
li.group-title
	color #333333
	font-size 16px
	cursor pointer
	&:before 
		content "\025BE"
		margin-right 5px
		font-size 14px
