body {
	background:#FFFFFF;
	margin:0px;
	padding:0px;
	font-family: tahoma, Sans-Serif;
}
body, td, textarea, input, select, h1 {
	font-size: 12px;
	font-family:tahoma, Sans-Serif;
}
a {
	color:#345e59;
}
a.gray {
	color:#333333;
}
a.gray:hover {
	color:#cc0000;
}
a.active {
	font-weight bold
}
img {border: 0;}
.clear {
	clear: both;
}
.header {
	background: url(../img/head.gif) top left repeat;
	padding: 20px 100px;
}
.header div {
	float: right;
	text-align: right;
}
#docbody {
	padding: 20px 100px;
}
div.domainname {
	background: #a2d9f7;
	color: white;
	padding: 10px;
	line-height: 1.5;
}
div.domainname b {
	color: #345e59;
}
div.leftblock
	line-height: 1.5;
	margin-top: 25px;
	font-size: 20px
	ul
		font-size: 14px
		li
			margin 5px 0px
			position relative
			i
				top 50%
				transform translateY(-50%)
				left -25px
				color #345e59
				position absolute
div.leftblock b {
	color: #345e59;
}
div.leftline {
	height: 1px;
	border-top: 1px solid #a2d9f7;
	margin-top: 25px;
}
div.line {
	height: 1px;
	border-top: 1px solid #a2d9f7;
	margin: 10px 0;
}
.footer {
	background: url(../img/head.gif) top left repeat;
	width: 100%;
	padding: 20px 100px;
}

div.icon {
	width:170px;
	float:left;
	height: 100px;
	text-align: center;
}
div.icon img {
	width: 60px;
	height: 60px;
}

h1 {
	color: #000;
	font-size: 24px;
	margin: 0px;
	padding: 10px 0px 15px 0;
	font-weight: normal;
	margin-bottom 10px
}

div.link {
	margin-top:5px;
	padding-right:20px;
	text-align:center;
	margin-bottom:10px;
}

.br                {border-right:1px dotted #cccccc; width: 200px;}
textarea.pre       {width:100%; height:50px;}
textarea.news      {width:100%; height:100px;}
textarea.area      {width:100%; height:300px;}
select.selcat      {width: 250px;}
div.catname        {float:left; padding-right:10px; margin-right:10px; border-right:1px dotted #cccccc;}
div.error          {color: #cc0000; font-size:20px; margin-left:15px; margin-bottom:10px;}
.dates 			{width: 20px; text-align: center;}
.datesy 			{width: 30px; text-align: center;}
.f0 {width: 30px; font-size: 16px;}
.f1 {width: 70%;}
.f2 {width: 100px;}
.f3 {width: 80px;}

.inputblock {
	padding-bottom: 10px;
}
.inputblockn {
	padding-bottom: 10px;
}

.inputblock input, .inputblock select, .inputblock textarea {
	margin-top: 5px;
	width: 100%;
}
.imageblock {
	margin-top: 5px;
	background: #a2d9f7;
	padding: 10px;
	float: left;
	text-align: center;
	margin: 10px 10px 0 0;
}

.imageblock img {
	margin-bottom: 5px;
}

#vtext h2 {
	font-size: 48px;
	font-weight: normal;
	margin: 255px 0 0 75px;
	padding: 0;
	width: 950px;
	position: absolute;
	font-family: Georgia,\"Times New Roman\",Times,serif;
}
#vtext h2 span {
	display: block;
	font-size: 36px;
}

#rubriclist, #rubriclist li {
	margin: 0px; 
	padding: 0px;
	list-style: none;
}

.optim {
	cursor: pointer;
	margin-bottom: -3px;
	margin-right: 10px;
}

span.editbox {
	position: relative;
}

.options {
	position: absolute;
	display:none;
	background: #57a7b3;
	padding: 2px;
	left: 0px;
	top: 15px;
	width: 135px;
	z-index: 1;
}

.options a {
	color: white;
	background: #57a7b3;
	padding: 4px 8px;
	display: block;
}
.options a:hover {
	background: #14636f;
}

ul
	list-style none
	padding-left 0
	padding-top 5px
	for num in 1 2 3 4
		.level-{num}
			display none
			padding-left num*10px

	.level-1
		font-size: 14px
		margin-top 10px
		display block
.tree-icon
	position relative
	z-index 10