.about-us
	background-color: $light_gray
	&__title
		color #565656
		font-size: 36px
		font-weight: $fontm
		@media xs
			font-size: 22px
	&__item
		background-image: url('../img/about-us/bg.jpg')
		width 100%
		height 390px
		margin-bottom: 20px
		box-shadow: 0 5px 11px -3px #80808054
		background-position: center
		border-radius: 3px
	&__item__title
		color #4d4d4d
		font-size: 30px
		text-transform: uppercase
		width 50%
		margin 0 auto
		text-align: center
		padding-top: 80px
		padding-bottom: 10px
		@media xs
			width 90%
			font-size 20px
			padding-top 70px
		@media sm
			width 50%
			padding-top: 70px
	&__item__desc
		color #7d7d7d
		font-size: 16px
		width 50%
		text-align: center
		margin 0 auto
		padding-top: 10px
		@media xs
			width 90%
		@media sm
			width 50%
	&__mission
		box-shadow: 0 5px 11px -3px #80808054
		border-radius: 3px
		background-color: #FFF
		margin-bottom: 20px
		padding 20px
		padding-left: 60px
		@media xs
			padding-left: 20px
		@media sm
			padding-left: 20px
		@media md
			padding-left: 20px
	&__mission__title
		font-size: 22px
		color #4d4d4d
		text-transform: uppercase
		text-align: center
		margin-bottom: 0
		padding 80px 0
		@media xs
			padding 30px 0
		@media sm
			padding 30px 0
			padding-bottom: 10px
		@media md
			padding 50px 0 0 0
	&__mission__desc
		font-size: 12px
		color #4d4d4d
		text-transform: uppercase
		display inline-block
		width 39%
		font-weight: $fontm
		vertical-align: middle
		padding-left: 10px
		@media xs
			width 100%
			padding-left: 0px
			font-size: 14px
			display block
			padding-top 15px
		@media sm
			width auto
			padding-left: 15px
		@media md
			width 40%
			font-size: 14px
			padding-left: 5px
	&__mission__item
		padding: 50px 0
		@media xs
			padding 20px 10px
			display inline-block
			text-align: center
			width 100%
		@media sm
			padding 20px 10px
			display inline-block
			text-align: center
			width 100%
		img
			vertical-align: middle
			display inline-block
	&__worth
		margin-bottom: 20px
		box-shadow: 0 5px 11px -3px #80808054
		border-radius: 3px
		background-color: #FFF
		padding 60px 60px
		@media xs
			padding 30px 10px
		@media sm
			padding 30px 50px
	&__worth__title
		color #4d4d4d
		text-transform: uppercase
		font-size: 26px
		margin-bottom: 0
		@media xs
			text-align center
		@media sm
			text-align center
	&__worth__item
		color #7d7d7d
		font-size: 16px
		ol
			counter-reset: number
			@media xs
				padding-top 15px
			@media sm
				padding-top 15px
			li
				position: relative
				padding 10px 0
				padding-left: 45px
				@media xs
					padding-left: 35px
			li:before
				content counter(number)
				counter-increment: number
				color #fff
				position absolute
				left 0
				font-size: 18px
				z-index 5
				width 33px
				height 33px
				text-align: center
				font-weight: $fontb
				@media xs
					width 25px
					height 25px
			li:after
				content ''
				position absolute
				background-color: #fe7d00
				width 33px
				height 33px
				border-radius: 50%
				left 0
				top 5px
				@media xs
					width 25px
					height 25px
					top 9px
	&__worth__subtitle
		color #494949
		font-size: 20px
		text-transform: none
		padding-bottom: 5px
		margin-bottom: 0
		@media xs
			font-size: 18px
	&__team
		padding 20px 0
	&__team__title
		color #4d4d4d
		text-transform: uppercase
		font-size: 30px
		margin-bottom: 0
		padding-bottom: 20px
	&__team__item
		background-color: #FFF
		padding 20px
		margin 20px 0
		box-shadow: 0 5px 11px -3px #80808054
		border-radius: 3px
		@media xs
			padding 20px
	&__team__img
		background-image: url('../img/about-us/team1.jpg')
		background-position: center
		background-repeat: no-repeat
		width 100%
		height 190px
		border-radius: 50%
		@media xs
			height 230px
			width 230px
			margin 0 auto
		@media sm
			height 250px
	&__team__name
		color #4d4d4d
		font-size: 17px
		text-transform: uppercase
		text-align: center
		padding-top 20px
	&__team__position
		color #969696
		font-size: 14px
		text-transform: uppercase
		text-align: center
		padding 10px 0