.account
	display flex
	flex-wrap wrap
	flex-direction row
	justify-content space-between
	&__info
		display flex
		flex-direction row
		justify-content space-between
		@media xs
			width: 100%
			@media (max-width: 480px)
				flex-direction column
		&__link
			color $ligtGray
			font-size: 14px
			&:hover
				text-decoration: none
				color $orange
			&:visited
				color $ligtGray
		&-block
			display flex
			min-width 119px
			flex-direction column
			margin-bottom 20px
			&:first-child
				padding-right 128px
			&:last-child
				padding-left 113px
			@media sm
				&:first-child
					padding-right: 20px
				&:last-child
					padding-left 20px
			@media xs
				&:first-child
					padding-right: 20px
				&:last-child
					padding-left 20px
			@media (max-width: 480px)
				&:first-child
					padding-right: 0
				&:last-child
					padding-left 0
			&__item
				display flex
				justify-content flex-start
				font-size 14px
				font-weight $fontr
				color $innerBlack
				text-transform uppercase
				margin-bottom 10px
				// &:after
				// 	content ":"
			&__number
				font-size 18px
				font-weight $fontm
				text-transform uppercase
				margin-bottom 5px
			&__text
				font-size 16px
				font-weight $fontm
				margin-bottom: 8px
			.dropdown-toggle
				border none
				background none
				color $ligtGray
				font-size 14px
				font-weight $fontr
				padding 0
				&:hover
					color #fe7d00
			.caret
				background-image url('../img/icons/dropdown-arrow.png')
				width 15px
				height 8px
				border none
				margin-right 5px
		&__item
			max-height 40px
button.account__info__item
	border 2px solid #a4adb4
	transition all .4s
	font-weight 700
	padding 0 25px
	&:hover,
	&:focus
		cursor pointer
		text-decoration none
		color $orange
		border-color $orange
		background-color #ffffff 