.agreement
	background-color: $light_gray
	&__title
		color #565656
		font-size: 36px
		font-weight: $fontr
		@media xs
			font-size: 22px
	&__content
		margin 30px 0
		padding 35px 50px
		background-color: #FFF
		box-shadow: 0 5px 11px -3px #80808054
		border-radius: 3px
		@media xs
			padding 10px 20px
		@media sm 
			padding 20px 30px
	ol
		counter-reset: number
		list-style-type: none
		padding-left: 0
		li
			position: relative
			padding 10px 0
			padding-left: 40px
			@media xs
				padding-left: 20px
		li:before
			content counter(number) '.'
			counter-increment: number
			color #fe7d00
			position absolute
			left 0
			font-size: 18px
	h4
		color #333333
		font-size: 24px
		@media xs
			font-size: 20px
	ol 
		counter-reset:item
	ol > li
		counter-increment:item
	ol > li:before
		content: counter(item)
	ol > li > ol
		counter-reset:subitem
	ol > li > ol > li 
		counter-increment:subitem
		padding-left: 26px
	ol > li > ol > li:before
		content: counter(item) "." counter(subitem)