.page-banner-auto-inner
	min-height 557px
	@media sm
		min-height 400px
	@media xs
		min-height 400px
		padding 20px 0
		text-align center
.page-banner-auto
	background-image url('/img/auto-bg.jpg')
	background-size cover
	background-position 50% 100% !important
	@media xs
		background-image url('/img/decor-bg-light.jpg') !important
	@media md
		background-position 60% 100%
	img
		position absolute
		right -150px
		bottom 0
		max-width 65%
		@media md
			max-width 50%
			right 0
		@media sm
			max-width 50%
			right 0
		@media xs
			margin-top 20px
			max-width 60%
			position static
	.page-banner-title
		line-height 1.2
		@media md
			font-size 40px
			margin-bottom 20px
		@media sm
			font-size 30px
			margin-bottom 20px
		@media xs
			font-size 30px
			margin-bottom 15px
	.page-banner-info
		max-width 43%
		position absolute
		top 100px
		right: 0
		left 0
		@media sm
			top 70px
			max-width 50%
		@media md
			max-width 50%
		@media xs
			// position static
			max-width 100%
	.page-banner-text
		margin-bottom 60px
		font-weight $fontr
		@media sm
			font-size 16px
		@media xs
			font-size 14px
			margin-bottom 20px
.benefits
	.title
		margin-bottom 65px
		@media xs
			margin-bottom 35px
	&.paddings
		padding 60px 0 65px 0
	.benefit-item
		max-width 290px
		margin: 0 auto
		@media xs
			max-width 250px
			margin-bottom 20px
		&-pic
			min-height 140px
			position relative
			@media xs
				min-height 100px
			img
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				margin: 0 auto
				left 0
				right 0
				@media xs
					max-width 80%
					max-height 90px
		&-title
			color #4d4d4d
			margin-top 30px
			text-align center
			text-transform uppercase
			font-weight 500
			font-size 20px
			@media xs
				font-size 10px
				margin-top 0px
		&-text
			font-size 14px
			color #909090
			margin-top 10px
			text-align center
			@media xs
				font-size 12px
.getting-started
	@media sm
		padding-bottom 30px
	&.paddings
		padding 60px 0 50px
.getting-started-steps
	text-align justify
	@media xs
		text-align: center
	&:after
		content ''
		display inline-block
		width 100%
		height 0
	.step
		margin-top 30px
		max-width 220px
		text-align center
		display inline-block
		vertical-align top
		width 100%
		@media md
			max-width 220px
		@media sm
			max-width 160px
		@media xs
			max-width 140px
		&-number
			font-size 30px
			border-radius 50%
			font-weight 400
			color #fff
			background $orange
			width 79px
			height 79px
			text-align center
			position relative
			margin: 0 auto 35px auto
			@media sm
				font-size 25px
				width 69px
				height 69px
			@media xs
				font-size 25px
				width 69px
				height 69px
			span
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				left 0
				right 0
				margin: 0 auto
			&:after
				content ''
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				width 400%
				background #b3b3b3
				height 4px
				left 100%
				z-index 0
				@media md
					width 20rem
				@media sm
					width 15rem
					height 2px
				@media xs
					display none
				@media (max-width 457px)
					display block
					width 200%
		&:nth-child(even)
			.step-number
				&:after
					@media (max-width 457px)
						width 0
		&:last-child
			.step-number
				&:after
					width 0
		&-text
			font-size 18px
			font-weight 500
			text-align center
			@media sm
				font-size 14px
			@media xs
				font-size 14px
.offer-block
	.inner-title
		margin-bottom 30px
		margin-top 30px
		@media sm
			font-size 24px
		@media xs
			text-align center
			margin-top 0
			font-size 20px
	.offer-block-pic
		margin-top 130px
		@media sm
			margin-top 50%
	p
		color #7d7d7d
		line-height 24px
		font-size 16px
		@media sm
			font-size 12px
		@media xs
			font-size 12px
.faq
	&-item
		min-height 85px
		cursor pointer
		position relative
		border-top 1px #dedede solid
		@media xs
			min-height 60px
		&:last-child
			border-bottom 1px #dedede solid
		&:hover,
		&:focus
			.faq-title
				color $orange
		&.opened
			.faq-title
				color $orange
			.faq-icon
				transform translateY(-50%) perspective(1px) rotate(-180deg)
	&.paddings
		padding 60px 0 50px
	&-icon
		width 37px
		height 37px
		background-image url('/img/icons/faq-arrow.png')
		left 20px
		position absolute
		top 50%
		transform translateY(-50%) perspective(1px)
		transition transform .3s ease
	&-title
		color #4d4d4d
		font-size 20px
		text-transform uppercase
		font-weight 500
		position absolute
		top 50%
		transform translateY(-50%) perspective(1px)
		left 90px
		transition color .3s ease
		@media xs
			left 70px
			font-size 12px
	&-full-text
		padding 30px 90px
		display none
		@media xs
			padding 15px 30px
.page-couriers-list
	margin-top 60px
	// .courier
	// 	max-width 570px
	// 	@media sm
	// 		display block
	// 		margin: 0 auto 37px auto
	// 		&:last-child
	// 			margin-bottom 37px
	// 	@media xs
	// 		display block
	// 		margin: 0 auto 37px auto
	// 		&:last-child
	// 			margin-bottom 37px
