.basket
	&__area
		&-text
			width: 100%
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
			background-color: #ffffff;
			border: 1px solid #d4d4d4;
			height 76px
			border-radius: 3px;
			resize none
			margin-bottom: 20px
			margin-top 12px
			padding 8px 12px
	&__button
		float right
		@media xs
			display: block
			float unset
			margin 0 auto
	&-input
		width: 100%
		border-radius: 3px;
		border: 1px solid #d4d4d4;
		padding: 3px 8px;
		margin-bottom: 15px
	&-order
		.order-content-image
			flex-shrink: 0;
		.order-content-name
			display inline
			word-break: break-word
		.order-order-content
			align-items center
			display flex
		.order-content-sum
			padding-left 0
			margin-bottom 0
		.order-content__order-sum
			display flex
			align-items center
			padding-left 0
			color: #838383;
			@media md
				flex-direction column
			span
				color: #545454;
		.order-content__order-portion
			font-size: 12px;
			color: #838383;
			display: flex
			align-items center
			padding-left: 15px
		.order-content__order-price
			display flex
			align-items center
		.order-content-price
			display flex
			margin-bottom 0
		.order-content
			display flex
			align-items center
			@media sm
				flex-wrap wrap
			@media xs
				flex-wrap wrap
			&:before
				display: none
	&__button-counter
		background-color: #ffffff;
		border: 1px solid #d4d4d4;
		border-radius: 3px;
		height: 31px;
		width: 78px;
		text-align: center
		color: #545454;
		font-weight: 500;
		&--elements
			margin-left: 10px
			position: relative
			display flex
			align-items center
		&--elem
			position: absolute
			display flex
			align-items center
			height 100%
			width: 25px
			justify-content center
			cursor: pointer
			transition .3s
			&:hover
				&:after,&:before
					background-color #ff9800
			&:active
				&:after,&:before
					background-color #fbdfb7
			&:after
				content ''
				width: 14px
				height: 2px
				background-color: #d4d4d4;
		&--minus
			left: 0
		&--plus
			right: 0
			&:before
				content ''
				width: 2px
				height: 14px
				position: absolute
				background-color: #d4d4d4;