.breadcrumb
	padding: 39px 15px 13px
	// padding: 47px 15px 4px -old
	// padding: 30px 15px 10px -old
	background-color: inherit
	margin-bottom 0
	li
		text-transform: uppercase
		font-size: 14px
		font-weight: $fontr
		@media xs
			font-size: 12px
		a
			color #999999
			text-decoration: none
	.active
		color #999999
	>li+li:before
		padding 0