.button-up#button-up
	position: fixed
	bottom 10px
	right 0
	left calc(50% + 615px)
	background-color: #a4adb4
	padding 25px 5px 5px
	text-align: center
	color #fff
	text-decoration: none
	border-radius: 70px
	width 120px
	display none
	z-index: 999
	@media xs
		left 10px
		right auto
		bottom 10px
		width 60px
		font-size: 0
	@media sm
		left 10px
		right auto
		bottom 10px
		width 90px
		font-size: 0
	@media md
		left calc(50% + 480px)
	@media (min-width 992px) and (max-width 1195px)
		left auto
		right 5px
	@media (min-width 1240px) and (max-width 1480px)
		left auto
		right 5px
	&:hover, 
	&:focus
		color #fe7d00
		text-decoration: none
		background-color: #fff
		font-weight: bold
		border 2px solid #fe7d00 
	&:before
		content ''
		background-image: url('../img/button_up.png')
		position absolute
		width 23px
		height 12px
		top 10px
		left 50%
		transform translateX(-50%)
	&:hover:before,
	&:focus:before
		background-image: url('../img/button_up_hover.png')
		content ''
		position absolute
		width 23px
		height 12px
		top 10px
		left 50%
		transform translateX(-50%)