.button
	&-wrap
		margin-left: -8px
		margin-right: -8px
	&-standard
		display: inline-block
		margin-left: 8px
		margin-right: 8px
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		border 2px solid #a4adb4
		background-color: #a4adb4;
		padding 11px 25px
		text-decoration: none!important
		border-radius 50px
		transition .4s
		text-align: center
		cursor: pointer
		&:focus
			color: inherit;
		&:hover
			color #fe7d00
			background-color #fff
			border-color: #fe7d00
		&:active
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		&--orange
			background-color: #fe7d00;
			border-color #fe7d00;
		&--small
			padding 8px 23px
			margin-left: 15px
			margin-right: 0px
		&--white
			background-color #fff
			border-color: #fff
			color black
		&--mini
			font-size 12px
			padding 7.5px 24px
			margin-left 5.5px
			margin-right 5.5px
		&[disabled]
			border-color #858e94
			background-color #858e94
			&:hover
				border-color #858e94
				background-color #858e94
				color #fff
		span
			vertical-align: middle
		&-xs
			&-100
				@media xs
					margin-left 0
					margin-right 0
					width 100%
.chat__buttons
	@media xs
		text-align: center
		.button-standard
			width: 80%
			margin 0
			margin-bottom: 10px
.messages
	&__message
		padding 30px 25px
		width: 65%
		position: relative
		overflow visible
		display: flex
		flex-direction row
		align-items center
		@media sm
			width: 85%
		@media xs
			padding 25px 20px
			margin-top: 20px
			width: 100%
	&__text
		color: #545454;
		font-size: 14px;
	&__name
		color: #fe7d00;
		font-size: 14px;
		font-weight: 500;
		margin-right: 100px
		@media xs 
			margin-right: 15px 
		&--user
			color: #545454;
	&__date
		color: #9f9f9f;
		font-size: 12px;
		position: absolute
		right -83px
		display flex
		flex-direction column
		@media xs
			right 0px
			top -20px
			flex-direction row
			span
				margin-left: 10px
		&--left
			right 0
			left -83px
			@media xs
				left: -0px
				span
					margin-left: 0
					margin-right: 10px
	&__wrapper
		display: flex
		&--left
			flex-direction row-reverse
.message
	&__area
		padding 30px
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		flex-wrap wrap
		justify-content flex-start
		@media xs
			justify-content flex-end
			padding 25px
	&__field
		border-radius: 3px;
		border: 1px solid #d8d8d8;
		padding 2px 8px
		resize none
		height: 90px
		width: 80%
		@media sm
			width: 75%
		@media xs
			width: 100%
	&__button
		@media xs
			margin-top: 25px