$black   = #484848
$gray 	 = #eaeaea
$dgray 	 = #a4adb4
$link 	 = #7470ba
$orange  = #fe7d00
$innerBlack = #545454
$ligtGray = #9d9d9d
$fontl  = 300
$fontr 	= 400
$fontm  = 500
$fontsb = 600
$fontb  = 700

xs = '(max-width: 767px)'
sm = '(max-width: 991px) and (min-width: 768px)'
sm-all = '(max-width: 991px)'
md = '(max-width: 1259px) and (min-width: 992px)'
lg = '(min-width: 1260px)'

// *,
// *:before,
// *:after
// 	box-sizing: border-box;


[tabindex='-1']:focus
	outline: none !important;


// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button']
	cursor: pointer;


// Мы любим Сафари (на самом деле, нет).
input[type='search']
	-webkit-appearance: textfield;


// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea
	touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
	margin: 0;                  // Убираем margin в Firefox и Safari


button,
input
	overflow: visible;    // Покажем торчащее в Edge
	text-transform: none; // Уберём наследование text transform в Firefox

button,
html [type="button"],
[type="reset"],
[type="submit"]
	-webkit-appearance: button; // Коррекция проблем стилизации для Safari


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
	padding: 0;
	border-style: none;

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]
	-webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)


textarea
	overflow: auto;   // Удаление верт. скролла в IE.
	resize: vertical; // Правильное изменение размеров


svg
	a &,
	button &
		pointer-events: none; // Мы любим Edge, это браузер! (почти)
	&:not(:root)
		overflow: hidden; // Скрыть выступающее за границы в IE

img
	max-width: 100%;
	height: auto;

a {
	color: #fff;
	background-color: transparent;
	text-decoration-skip: auto;
	transition: color 0.3s;
	text-decoration none

	&:hover,
	&:focus {
		text-decoration underline
	}

	&:visited {
		text-decoration underline
	}
}

hr
	box-sizing: content-box; // Проблема Firefox
	overflow: visible;       // Проблема Edge и IE
