.contacts
	background-color: $light_gray
	&__title
		color #565656
		font-size: 36px
		font-weight: $fontm
		@media xs
			font-size: 22px
	&__item
		margin-bottom: 20px
		box-shadow: 0 5px 11px -3px #80808054
		border-radius: 3px
		background-color: #FFF
		padding 60px 40px
		margin-top: 20px
		height 186px
	&__subtitle
		color #fe7d00
		font-size 18px
		text-transform: uppercase
		text-align: center
		padding-bottom: 5px
		margin-bottom: 0
	&__number
		color #484848
		font-size: 24px
		text-align: center
	&__desc
		color #484848
		font-size: 18px
		text-align: center
		padding-top: 5px
	&__map
		background-image: url('../img/contacts_map.jpg')
		width 100%
		height 360px
		background-position: center
		border-radius: 3px
		margin: 20px 0
		box-shadow: 0 5px 11px -3px #80808054
	&__form
		border-radius: 3px
		margin: 20px 0
		box-shadow: 0 5px 11px -3px #80808054
		background-color: #FFF
		padding 40px 50px
		@media xs
			padding 40px 20px
		.form-control
			border-color #d4d4d4
			margin-bottom: 35px
			@media xs
				margin-bottom: 25px
		.button
			padding 0 48px
			font-size: 12px
			font-weight: $fontb
			&:hover, 
			&:focus
				color #fe7d00
				text-decoration: none
				background-color: #fff
				font-weight: bold
				border 2px solid #fe7d00
		input.form-control
			height 40px
	&__form__title
		text-transform: uppercase
		font-size: 24px
		color #565656
		padding-bottom: 30px