.courier
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	align-items center
	@media xs
		flex-direction row
		align-items stretch
	&__info
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		@media sm
			width: 100%
		@media xs
			flex-direction column
		&-block
			padding 25px 23px
			display flex
			flex-direction column
			flex-wrap wrap
			justify-content space-between
			@media md
				padding 25px 14px
			@media lg
				&:first-child
					padding-left 0
				&:last-child
					padding-right 0
			@media md
				&:first-child
					padding-left 0
				&:last-child
					padding-right 0
			@media sm
				&:first-child
					padding-left 0
				&:last-child
					padding-right 0
			@media xs
				padding 15px 14px
				flex-direction row
				justify-content start
				padding-left 0
				padding-top: 0
	&__headline
		padding-bottom 12px
		font-size 14px
		font-weight $fontr
		color #999999
		text-transform uppercase
		&:after
			content ':'
	&__caption
		font-size 16px
		font-weight $fontr
		color $innerBlack
		text-transform uppercase
		&--tel
			font-size 18px
	&__buttons
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content center
		@media sm
			width: 100%
			justify-content space-between
		@media xs
			height: inherit
			justify-content space-around
			flex-direction column
	&__button
		&-block
			display flex
			flex-direction column
			flex-wrap wrap
			justify-content space-between
			margin-bottom -8px
			margin-top -8px
	&__btn-new_order
		position relative
		border-radius 50px
		padding 20px 38px 20px 100px
		display flex
		align-items center
		text-transform uppercase
		font-size 14px
		font-weight $fontm
		border 2px solid $orange
		margin-right 38px
		@media md
			margin-right 10px
			padding: 20px 30px 20px 80px
			&:before
				left 20
		@media xs
			margin-right: 0
			margin-bottom: 10px
		&:before
			position absolute
			left 30px
			content url('../img/icons/food-solid.png')
.button-courier
	background-color #a4adb4
	margin 6px 0!important
	border-radius 50px
	border 2px solid #a4adb4
	font-weight $fontb
	text-transform uppercase
	color #ffffff
	font-size 12px
	min-height 40px
	padding 0 20px
	transition all .4s
	@media md
		padding 0 16px
	&:hover,
	&:focus
		cursor pointer
		text-decoration none
		color $orange
		border-color $orange
		background-color #ffffff 
	&.orange-button
		background-color $orange
		&:hover,
		&:focus
			color #fe7d00
			text-decoration: none
			background-color: white
			font-weight: bold
			border 2px solid #fe7d00
