.courier
	&-order
		display flex
		align-items center
		justify-content space-between
		padding: 15px 24px
		min-height 70px
		flex-wrap wrap
		&__block
			font-size: 14px;
			color: #545454;
			font-weight: 400;
			padding 15px 10px
			@media xs
				padding 10px 0px
			&--number
				font-weight: 500;
				text-transform: uppercase;
			&--buttons
				@media xs
					display flex
					width: 100%
					justify-content space-between
				@media (max-width: 400px)
					flex-direction column