.orders
	// margin -10px
	// padding -15px
	ul
		li
			list-style-type none
			display inline
	&-number-date
		padding-left 0	
	&__orders
		&-number
		&-total
			font-size 18px
			font-weight 500
		&-status
			font-weight 600
		&-date
			padding-left 40px
	&-total
		// @media xs
		// 	padding-left 0
		&-status
			text-align right
			padding-right 45px
			@media xs
				padding-left 0
				text-align left
	&-total
	&-status
		display inline
		@media xs
			display inline-block
			padding-left 0
		@media md 
			display inline-block