.order-content
	background-color #efefef
	border-radius 3px
	margin 20px 10px
	padding-top 15px
	padding-bottom 15px
	vertical-align center
	&-image
		width 45px
		height 45px
	&__dishes
		width 100% 
		height 100%
		background-position center
		background-size 37px 24px
		border 1px solid #d4d4d4
		border-radius 3px
		background-color #ffffff
		@media xs
			// display inline-flex
			padding-bottom 15px
			margin-top -10px
	&-name
		text-transform uppercase
		font-weight 500
		text-align left
		@media xs
				display inline
	&-image
	&-name
		display inline-block
	&-price
		padding-top 15px
	&-sum
		text-align center
		padding-top 12px
		@media xs
			padding-left 0
			text-align left
	&_price
		text-align left
		margin-top 15px
		@media xs
			padding-left 0
	&_price
	&-amt
		list-style-type none
		// vertical-align 12px
		margin-top 10px
	&-amt
	&_price
		display inline
	&-amt
		font-weight 600
	&__order
		&-price
		&-portion
		&-sum
		&-count
			display inline-block
			padding-left 5px
			// text-align center
		&-price
		&-count
			font-weight 600
		&-portion
			padding-left 40px
		&-count
			font-size 18px
		&-portion
		&-sum
			font-size 12px
		&-name
			vertical-align 15px
			padding-left 10px
			display inline
			align-items center
			@media xs
				display table-caption
				padding-left 10px
				font-size 14px
				