.order
	margin-left: 5px
	margin-right 5px
	&__delete
		color: #fe7d00;
		padding-right: 30px
		position: relative
		display flex
		align-items center
		&:before
			font-size 34px
			right 2px
			position: absolute
			font-weight 900
			content: "\f00d";
			font-family: "Font Awesome 5 Free"
		&--small
			height: 24px;
			cursor: pointer
			&:before
				font-size: 26px
	&-image
		width 65px
		height 65px
		.order
			&__image
				width 100%
				height 100%
				border 1px solid #d4d4d4
				border-radius 3px
				background-position center
				background-repeat:no-repeat;
				background-size: contain
	&-name-type
		display block
		line-height 1em
		padding-left 10px
		vertical-align 12px
	&-amt-count
	&-delivery-cost
		list-style-type none
		display inline-block
	&-amt
		&-count
			@media sm
				padding-left 0
			&:first-child
				@media xs
					padding-left 0
	&__order
		&-name
			text-transform uppercase
			font-size 20px
			font-weight 500
		&-count
		&-cost
			font-weight 500
			font-size 18px
	&-order
		margin -10px
		@media sm
			padding-bottom: 15px
		@media xs
			padding-bottom: 15px
			margin: 0
.order-image
.order-name-type
	display inline-block
	// padding-left -25px
