.orders-content
	// min-width 346px
	background-color #efefef
	border-radius 3px
	margin 20px 15px
	padding-top 15px
	padding-bottom 15px
	vertical-align center
	&-image
		// display inline-block
		width 64px
		height 64px
	&__image
		width 100% 
		height 100%
		background-position center
		// background-size 37px 24px
		border 1px solid #d4d4d4
		border-radius 3px
		background-color #ffffff
		// @media xs
		// 	margin-top -15px
	span
		font-weight 500
	&-image
	&-name
		display inline-block
	&-name
		vertical-align 10px
		padding-left 27px
		@media xs
			padding-left 20px
			display table-caption
			margin-top 0
	&-price
		text-align right
		padding-top 20px
		@media xs
			text-align left
.orders
	&-orders
		&-content
			display flex
			align-items center
			@media xs
				display inline
				padding-bottom 10px
.orders-details
	// margin-right 30px
	&-button
		background-color #a4adb4
		border-radius 50px
		font-weight 600
		text-transform uppercase
		color #fff
		font-size 12px
		min-height 35px
		// padding-left 20px
		transition all .3s ease
		border 2px solid transparent
		z-index 5
		position relative
		margin-right 45px
		@media xs
			font-size 10px
			padding 10px
			min-height 30px
		&:hover
		&:focus
			color #fe7d00
			text-decoration none
			background-color #fff
			font-weight 600
			border 2px solid #fe7d00