.order-comment-sum
	padding-top 20px
	@media xs
		padding-top 0
		text-align center
	.order_comment
		padding-left 0
		line-height 1.8em
		&__content
			font-weight 500
			@media xs
				line-height 1.3em				
	.order_sum
		float right
		text-align right
		@media xs
			float none
			text-align center
			margin-right 30px
		&__cost
		&__delivery
		&__total
			&-value
				font-weight 500
				padding-left 5px
		&__cost
			&-value
				font-size 20px
		&__total
			&-value
				font-size 24px
	ul
		li
			list-style-type none
			display inline-block