.order-back
	margin-top 20px
	display block
	justify-content end
	@media xs
		margin-top 0
		padding-bottom 10px
		align-items center
		margin-right 30px
	&_image
		// background-size 8px 14px
		background-position center
		width 8px
		height 14px
		vertical-align 5px
		background-image url('/img/button_left.png')
		transition background-image 300ms
		&:hover
		&:focus
			background none
			background-image url('/img/button_left_hover.png') !important
			background-repeat no-repeat
			background-position center
			width 8px
			height 14px
			
	&-button
		background-color #a4adb4
		border-radius 50px
		font-weight 600
		text-transform uppercase
		color #fff
		font-size 12px
		min-height 30px
		padding-left 20px
		transition all .3s ease
		border 2px solid transparent
		z-index 5
		position relative
		padding-top 0
		padding-bottom 0
		@media xs
			font-size 10px
			padding-left 10px
			min-height 30px
			margin-top 0
			padding-top 3px
		&:hover,
		&:focus
			color #fe7d00
			text-decoration none
			background-color #fff
			font-weight 600
			border 2px solid #fe7d00
			.order-back_image
				transition background-image 300ms
				background-image url('/img/button_left_hover.png') !important
	&_name
		vertical-align 8px
	&_image
	&_name
		display inline-block
		padding 7px
		padding-right 5px
		// margin-top 7px
	&_button
		@media sm
			display inline-block
			text-align right
	&_image
	&-button
		display inline-block
.order
	&-back
		&-label
			display flex
			margin-right: 10px
			@media sm
				flex-direction column
			@media xs
				flex-direction column
				margin-bottom 15px
			&__title
				color: #8a8a8a;
				font-size: 14px;
				margin-right: 8px
			&__text
				color: #545454;
			&__number
				color: #545454;
				font-weight: 500;
				font-size: 24px;
				text-transform: uppercase;
				margin-right 10px
		&--flex
			display flex
			justify-content space-between
			align-items center
			@media xs
				flex-direction: column;
				align-items: self-end;
			&:after,&:before
				display: none