.order-geo
	margin-top 30px
	&__block
		padding 10px 10px
	&__title
		color: #949494;
		font-size: 14px;
		margin-bottom: 11px
	&__desc
		color: #545454;
		font-size: 18px;
		font-weight: 500;
	@media xs
		margin-top 0
	&-image
		width 65px
		height 65px
	&__image
		width 100%
		height 100%
		background-position center
	&-courier
	&-status
		vertical-align 12px
		ul
			padding-inline-start 15px
			li
				list-style-type none
				line-height 1.8em
				&:nth-child(2)
					font-size 16px
					font-weight 500
	&-image
	&-courier
	&-status
		display inline-block
	&-status
		padding-top 9px
		@media xs
			margin-left -15px
	&-map
		width calc(100% + 14px)
		height 360px
		margin-left -7px
		margin-bottom -8px
	&__map
		width 100%
		height 110%
		background-position center
	&__courier
		@media xs
			padding-left 0 !important