.delivery
	background-color: $light_gray
	&__title
		color #565656
		font-size: 36px
		font-weight: $fontr
		@media xs
			font-size: 22px
	&__content
		background-color: #FFF
		padding 35px
		margin 25px 0
		box-shadow: 0 5px 11px -3px #80808054
		margin-bottom: 50px
		@media xs
			padding 15px
	&__img
		background-image: url('../img/news/item_inside.png')
		width 100%
		height 320px
		background-position: center
		background-repeat: no-repeat
	&__desc
		color #636363
		font-size: 16px
		@media xs
			padding-top: 20px
		@media sm
			padding-top: 20px
	&__text
		color #636363
		font-size 16px
		padding 40px 0
	&__follow
		color #808080
		font-size: 14px
		text-transform: uppercase
		display inline-block
		vertical-align: middle
	.btn-right
		float right
	&__button
		width 176px
		margin-bottom: 30px
		margin-top: 15px
		@media xs
			width 100px
			margin-bottom: 50px
			padding: 0 20px
		@media sm
			margin-bottom: 50px
		&:hover, 
		&:focus
			color #fe7d00
			text-decoration: none
			background-color: #fff
			font-weight: bold
			border 2px solid #fe7d00
	.social-buttons
		display inline-block
		vertical-align: middle
		padding-left: 20px
		@media xs
			padding-left: 10px
		.social-button
			width 40px
			height 40px
			display inline-block
			margin-right 7px
			border-radius 50%
			position relative
			text-align center
			transition all .3s ease
			background #a4adb4
			&:last-child
				margin-right 0
			i
				transition all .3s ease
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				left 0
				right 0
				margin: 0 auto
				font-size 20px
				color #fff
			&:hover,
			&:focus
				background-color: #fff
				border 2px solid #fe7d00
				i
					color #fe7d00