.page-banner-dishes
	background url('/img/dish-banner.jpg') center center no-repeat
	background-size cover
	text-align center
	background-position: center !important
	@media xs
		background #b4b6b7
		padding 20px 0
	.page-banner-dishes-inner
		min-height 555px
		@media sm
			min-height 400px
		@media xs
			min-height 400px
	.page-banner-info
		position absolute
		top 155px
		left: 0
		right: 0
		margin: 0 auto
		@media md
			top 100px
		@media sm
			top 60px
		@media xs
			top 60px
	.page-banner-title
		line-height 1.3
		margin-bottom 30px
		@media sm
			font-size 26px
		@media xs
			font-size 20px
	.page-banner-text
		margin-bottom 80px
		@media sm
			margin-bottom 50px
			font-size 15px
		@media xs
			margin-bottom 40px
.infoblock
	&.paddings
		padding 60px 0
	&-title
		margin-top 10px
		@media md
			font-size 26px
		@media sm
			font-size 24px
			margin-top 0
			margin-bottom 20px
	&-pic
		img
			border-radius 3px
			@media xs
				max-width 90%
	&-text
		color #7d7d7d
		font-size 16px
		line-height 28px
		@media md
			font-size 15px
			line-height 1.6
		@media sm
			font-size 14px
			line-height 1.5
.partners-wrap
	@media md
		.slick-dots
			bottom -50px
	.partners
		margin-top 55px
	.partner
		width 117px
		height 117px
		img
			border-radius 50%
			margin 0 auto
		@media sm
			img
				width 100px
				height 100px
		@media xs
			img
				width 90px
				height 90px
	.slick-dots
			bottom -75px
	&.paddings
		padding 60px 0 70px 0
