footer
	// Косяк, футер не того цвета
	// background #fff
	// Вот блин сорри меня заставили
	// 22.11.2018 _14.39_ Logic Rip
	background #efefef
	// background #ffff
	padding 65px 0 35px 0
	@media xs
		background #ffff
		padding-top 0px
		padding-bottom 5px
	.gray-bg
		background #efefef
	.f-links
		float left
		@media xs
			background-color: #eee
			float none
			text-align center
			padding 10px 0
		.f-link
			margin-bottom 50px
			@media sm
				margin-bottom 20px
			@media xs
				margin 20px 0
			&:last-child
				margin-bottom 12px
				@media xs
					margin-bottom: 20px
			&-pic
				width 100px
				display inline-block
				vertical-align middle
				margin-right 15px
			&-info
				display inline-block
				vertical-align middle
			&-title
				color #5c5c5c
				font-size 14px
				text-transform uppercase
				font-weight $fontm
				margin-bottom 7px
				a
					color #5e5e5e
					&:hover,
					&:active
						color #5e5e5e
				@media sm
					font-size 14px
					margin-top 5px
				@media xs
					font-size 12px
					margin-top 5px
				@media md
					font-size: 14px
			&-subtitle
				color #5e5e5e
				font-size 14px
				font-weight $fontr
				@media xs
					font-size: 12px
				@media sm
					font-size: 12px
	.copyrights
		margin-bottom 0
		color #8f8f8f
		font-size 14px
		text-transform uppercase
		margin-bottom 35px
		@media xs
			margin-bottom 15px
			text-align center
	.social-buttons-title
		margin-bottom 0
		color #8f8f8f
		font-size 14px
		text-transform uppercase
		margin-bottom 5px
		@media md
			font-size: 12px
		@media xs
			margin 15px 0 5px 0
			text-align center
	.social-buttons
		@media xs
			text-align center
		.social-button
			width 37px
			border 2px solid white
			height 37px
			display inline-block
			margin-right 1.2%
			border-radius 50%
			position relative
			text-align center
			transition all .3s ease
			background #fff
			&:last-child
				margin-right 0
			i
				transition all .3s ease
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				left 0
				right 0
				margin: 0 auto
				font-size 16px
				color $orange
			&:hover,
			&:focus
				background-color: #fff
				border 2px solid #fe7d00 
				i
					color #fe7d00
		&.dark-social-buttons
			.social-button
				background #a4adb4
				i
					color #fff
				&:hover,
				&:focus
					background $orange
	.f-nav
		padding-left 0
		list-style-type none
		@media xs
			margin: 13px 0
			text-align center
		&-item
			margin-bottom 12px
			&-link
				color #5c5c5c
				font-weight $fontsb
				font-size 14px
				text-transform uppercase
				@media md
					font-size: 12px
				@media xs
					font-size: 12px
				&:hover,
				&:focus
					color #5c5c5c
	.none-padding
		@media xs
			padding-left 0
			padding-right 0
	.f-links
		position relative
		&:hover:before
			@media lg
				background-image: url('../img/icons/popover.png')
				width 313px
				height 213px
				position absolute
				content ''
				left -310px
				top -90px
				background-size: cover
				background-repeat: no-repeat
				background-position: center
			@media md
				background-image: url('../img/icons/popover.png')
				width 313px
				height 213px
				position absolute
				content ''
				left -310px
				top -90px
				background-size: cover
				background-repeat: no-repeat
				background-position: center
		
					