header
	padding 25px 0
	.logo-wrap
		max-width 340px
		margin-right -70px
		@media sm
			margin: 0 auto
		@media xs
			margin: 0 auto
		@media md
			max-width 230px
			margin-right:  0
	.logo
		display block
		max-width 75%
		@media lg
			margin 0 auto
		@media xs
			width 65%
			margin: 0 auto
		@media md
			max-width 100%
	.search-wrap
		margin-top 25px
		max-width 425px
		position relative
		float right
		width 100%
		margin-right 15px
		.popular-query
			cursor pointer
		@media sm
			margin: 0 auto
			float none
			margin-top 20px
			text-align center
		@media xs
			margin: 0 auto
			float none
			margin-top 20px
			text-align center
		@media md
			max-width 375px
			float inherit
		.input-group
			width 100%
			.form-control:not(:first-child):not(:last-child)
				border-radius 50px
			.search-results
				position: absolute;
				top: calc(100%);
				width: 100%;
				background-color: #ffffff;
				border: 1px solid;
				border-color #d4d4d4
				border-bottom-left-radius: 21px;
				border-bottom-right-radius: 21px;
				z-index 927
				transition ease-in-out .15s
				ul
					margin-top 10px
					list-style: none;
					padding: 0
					li
						padding: 2px 20px;
						transition .1s linear
						text-align left
						&:hover,
						&:focus
							background-color: #a3adb42e;
							a
								width 100%
								display: block
				a
					text-decoration: none
					color #9e9e9e
					transition .1s linear
					&:hover,
					&:focus
						color #353535
						text-decoration: none
				@media lg
					width 350px
					margin-left: 25px
			.search-input
				font-size 12px
				border-radius 50px
				@media xs
					font-size 12px
				@media lg
					width 350px
					margin-left: 25px
				&:focus
					&~.search-results
						box-shadow 0 1px 1px rgba(0,0,0,.075), 0 4px 8px rgba(102, 175, 233, 0.6)
		::-webkit-input-placeholder
			color: #838383
		::-moz-placeholder
			color: #838383
		:-ms-input-placeholder
			color: #838383
		:-moz-placeholder
			color: #838383
		.search-input
			border-color #d4d4d4
			border-radius 50px
			padding-left 15px
			padding-right 15px
			height 42px
		.search-input.result
			border-radius 21px 21px 0 0 !important
		.search-button
			background-color transparent
			border none
			right 15px
			position absolute
			top 50%
			transform translateY(-50%) perspective(1px)
			z-index 30
			height 42px
			width 30px
			border-top-right-radius 50px
			border-bottom-right-radius 50px
			&:after
				content ''
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				background-image url('/img/search-icon.png')
				width 16px
				height 16px
				right 0
			&:focus
				outline none
			&:hover
				filter: invert(1)
		.search-title
			margin-top 15px
			font-size 12px
			font-weight $fontr
			color #767676
			padding-left 18px
			@media xs
				font-size 12px
			@media lg
				padding-left: 39px
	.h-info
		margin-top 15px
		position relative
		float left
		@media sm
			font-size 0
		@media xs
			font-size 0
		@media sm
			text-align center
			width 100%
		@media xs
			margin-top: 5px
			width 100%
			text-align: center
		@media lg
			width 100%
			margin-top 25px
		@media md
			margin-top 25px   
	.auth-button
		background-color #a4adb4
		border-radius 50px
		font-weight 700
		text-transform uppercase
		color #fff
		font-size 14px
		min-height 40px
		padding 0 20px
		transition all .3s ease
		border 2px solid transparent
		z-index 5
		position relative
		@media xs
			// font-size: 12px
			font-size: 10px
			padding 0 10px
			// 25.12.2018 timenty
			min-height 35px
		&:hover,
		&:focus
			color #fe7d00
			text-decoration: none
			background-color: #fff
			font-weight: bold
			border 2px solid #fe7d00
	.h-button
		@media sm
			display inline-block
			width 50%
			vertical-align top
	.h-phone
		margin-top 15px
		color #767676
		@media xs
			margin-top: 10px
			display inline-block
			margin-left 20px
		@media sm
			display inline-block
			margin-top 0
			width 50%
			vertical-align top 
		&-text
			text-transform uppercase
			font-size 14px
			margin-bottom: 0
			text-transform: unset
			color inherit
			@media xs
				font-size 12px
		a
			color #5c5c5c
			font-size 20px
			@media xs
				font-size: 18px
	.button-bonus
		position absolute
		left 150px
		height 40px
		z-index 2
		width 100px
		background-color: #fe7d00
		top 0
		border-radius 50px
		cursor: pointer
		@media xs
			// left 55%
			// 25.12.2018 timenty
			left 53%
			height 35px
		@media sm
			left 32%
		.button-bonus__present
			position relative
			display block
			&:after
				content ''
				position absolute
				width 24px
				height 34px
				right 9px
				top 3px
				color #fff
				font-weight 900
				font-family: "Font Awesome 5 Free"
				font-size 24px
				@media sm
					right: 12px
				@media xs
					right 13px
					font-size 20px
				@media (max-width 575px)
					right: 10px
					top 3px
				@media (max-width 440px)
					right: 8px
				@media (max-width 390px)
					right 7px
					top 3px