.welcome-hero
	position fixed
	bottom 50px
	transform translateY(-50%)
	right -100%
	max-width 200px
	transition all 0.5s ease
	opacity 0.1
	z-index: 999991
	@media xs
		max-width 405px
		right -250%
	&__text
		position absolute
		top -124px
		left -165px
		max-width 250px
		@media sm
			top -110px
			left -147px
			max-width 220px
		@media xs
			top -108px
			left -165px
			max-width 220px
	&.shown
		right 30px
		bottom -20px
		opacity 1
		max-width 200px
		@media sm
			max-width 150px
		@media xs
			max-width 110px
	&_close
		width 58px
		height 58px
		position absolute
		top 36px
		right -28px
		background-image: url('../img/icons/close.png')
		@media xs
			background-image: none
	&__ico
		cursor: pointer