.basket
	&-bottom
		&__container
			width 100%
			display: none
			&--active
				display: block
			&--orange
				background-color: #fe7d00;
			&-inner
				display flex
				flex-direction row
				justify-content space-between
				align-items center
				margin-top: 18px
				margin-bottom 18px
		&__text
			font-size: 18px;
			span
				padding 0 10px
			&--bold
				font-size 24px
				font-weight 500
			&--white
				color white
			&--dinner
				position: relative
				display flex
				align-items center
				padding-left 60px
				&:after
					content url('../img/food-solid.png')
					position: absolute
					left 0