// Зачем тут были !important ????
//Видимо надо было, азазазаз
.slider-control
	height 53px
	width 29px
	position absolute
	top 50%
	transform translateY(-50%) perspective(1px)
	z-index 1
	&-left
		left -50px
		background-image url('/img/main-slider-prev.png')
	&-right
		right -50px
		background-image url('/img/main-slider-next.png')
	@media lg
		display: none
	@media md
		display: none
	@media sm
		display none
	@media xs
		display none
.main-slider-wrap
	overflow: hidden
	position relative
	@media lg
		height 40vh
	@media md
		height 40vh
	@media (max-width 990px)
		display: none
	.main-slider-control
		height 53px
		width 29px
		position absolute
		top 50%
		transform translateY(-50%) perspective(1px)
		z-index 1
		&-left
			left 15px
			background-image url('/img/main-slider-prev.png')
		&-right
			right 15px
			background-image url('/img/main-slider-next.png')
		@media sm
			display none
		@media xs
			display none
	.slick-dots
		bottom 35px
		@media xs
			bottom 15px
		@media lg
			bottom 1.5vh
		@media md
			bottom 1.5vh
	.main-slider
		position relative
		margin-bottom 0
		&-item
			height 40vh
			padding-top 80px
			// very-plohoe решение
			@media md
				height 40vh
				padding 2.5vh 10vh
			@media lg
				height 40vh
				// max-height 40vh
				padding-top: 3vh
			@media sm
				text-align center
			@media xs
				text-align center
				min-height 450px
				padding-top 50px
			.container
				position: relative
				top 50%
				transform translateY(-50%)	
			&-category
				font-size 18px
				text-transform uppercase
				@media xs
					padding-top 15px
				@media lg
					font-size: 3vh
				@media md
					font-size: 3vh
				@media(min-width 2039px)
					font-size: 18px	
			&-title
				font-size 34px
				font-weight $fontm
				margin-top 30px
				@media sm
					font-size 34px
				@media xs
					font-size 22px
				@media lg
					font-size: 4vh
					margin-top: 2vh
				@media md
					font-size: 4vh
					margin-top: 2vh
				@media(min-width 2039px)
					font-size: 44px
			&-text
				font-size 16px
				margin-bottom 35px
				margin-top 25px
				@media lg
					font-size: 1.5vh
					margin-bottom: 2vh
					margin-top: 1.5vh
				@media md
					font-size: 1.5vh
					margin-bottom: 2vh
					margin-top: 1.5vh
				@media(min-width 2039px)
					font-size: 14px
			&-link
				min-height 42px
				color #fff
				font-size 14px
				font-weight $fontsb
				background-color $dgray
				display inline-block
				text-transform uppercase
				line-height 42px
				min-width 160px
				border-radius 50px
				text-align center
				transition all .3s ease
				margin-bottom: 50px
				border 2px solid transparent
				@media lg
					min-height: 2vh
					font-size: 1.5vh
					line-height: 5vh
					margin-bottom: 5vh
				@media md
					min-height: 2vh
					font-size: 1.5vh
					line-height: 5vh
					margin-bottom: 5vh
				@media(min-width 2039px)
					min-height 42px
					font-size 14px
					line-height 42px
					margin-bottom: 50px
				&:hover,
				&:focus
					color #fe7d00
					text-decoration: none
					background-color: #fff
					font-weight: bold
					border 2px solid #fe7d00
.get-order-widget
	padding 30px 0
	background url('/img/decor-bg.jpg')
	background-size cover
	min-height 135px
	@media lg
		height 15vh
		min-height 1vh
		padding 4.5vh 0
	@media md
		height 15vh
		min-height 1vh
		padding 4.5vh 0
	@media(min-width 2039px)
		height 250px
		min-height 250px
		padding 100px 0
	.get-order-form
		display inline-block
		vertical-align middle
		width 100%
		@media lg
			display block
			// width 80%
			margin 0 auto
		@media md
			text-align left
		@media sm
			text-align center
		@media xs
			text-align center
			button.button
				margin-bottom 12px
		.form-control
			border 1px #b9bfc1 solid
			font-size 14px
			color #838383
			height 52px
			max-width 374px
			width 100%
			display inline-block
			vertical-align middle
			margin-right 30px
			@media xs
				margin-right 0
				max-width 300px
				margin-bottom 20px
			@media lg
				font-size: 1.5vh
				height 5.5vh
			@media md
				font-size: 1.5vh
				height 5.5vh
			@media(min-width 2039px)
				height 52px
				font-size: 16px
	.get-order-dropdown-wrap
		display inline-block
		vertical-align middle
		margin-right 30px		
		@media xs
		//это я сделяль устал
			margin-bottom: 20px
			padding-right: 40px
			padding-left: 40px
			margin-right 0
			float none
	.get-order-dropdown-label
		display block
		max-width 100px
		color #838383
		font-size 14px
		@media lg
			font-size: 1.5vh
		@media md
			font-size: 1.5vh
		@media(min-width 2039px)
			font-size: 16px 
	// Сурово быстро Timenty 
	.get-order-dropdown.open
		.dropdown-toggle
			.caret
				transform rotate(180deg)
	//
	.dropdown-toggle
		border none
		background none
		color #000
		font-size 14px
		font-weight $fontsb
		padding 0
		&:hover
			color #fe7d00
		@media lg
			font-size: 1.5vh
		@media md
			font-size: 1.5vh
		@media(min-width 2039px)
			font-size: 14px
		.caret
			background-image url('/img/icons/dropdown-arrow.png')
			width 15px
			height 8px
			border none
			margin-left 5px
	.get-order-buttons
		display inline-block
		float right
		@media sm
			float none
			margin-top 25px
		@media xs
			float none
	.button
		min-height 52px
		padding 0 14px
		max-width 240px
		@media xs
			min-height 42px
			min-width 174px
		@media sm
			min-width 197px
			min-height 42px
		@media lg
			max-height 5.6vh
			min-height 5.6vh
			min-width 197px
		@media md
			max-height 5.6vh
			min-height 5.6vh
			font-size: 1.5vh
			min-width 183px
		@media(min-width 2039px)
			max-height 52px
			min-height 52px
		&:hover, 
		&:focus
			color #fe7d00
			text-decoration: none
			background-color: #fff
			font-weight: bold
			border 2px solid #fe7d00
	#findme
		background-image url('/img/icons/map-marker-button.png')
		background-position left 30px center
		background-repeat no-repeat
		margin-right 15px
		padding 0 30px 0 59px
		@media xs
			margin 20px 0 20px 0
		&:hover,
		&:focus
			background-image url('/img/icons/map-marker-button_hover.png')
.main-categories-wrap
	padding 55px 35px
	@media xs
		padding 25px 0px
	@media sm
		padding 25px 0px
	@media lg
		padding 3vh
		height auto
	@media md
		padding 3vh
		height auto
	.main-categories
		text-align inherit
		position relative
		font-size 0
		&:after
			content ''
			height 0
			width 100%
			display inline-block
	.category
		max-width 16.666666%
		display inline-block
		vertical-align top
		margin-bottom 20px
		width 100%
		word-wrap: break-word
		@media sm
			max-width 33.3%
		@media xs
			max-width 50%
			max-width 33.3%
			margin-bottom 20px
		@media lg
			margin-bottom: 1vh
		@media md
			margin-bottom: 1vh
		&-pic
			min-height 120px
			display block
			transform: scale(1)
			transition transform .3s ease
			position relative
			@media(min-width 2039px)
				max-height 180px
				min-height 180px
			&:hover
				transform: scale(1.2)
			img
				margin: 0 auto
				display block
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%,-50%)
				width 45%
				@media xs
					width 60%
			@media md
				img
					left 0
					right 0
					position absolute
					top 50%
					transform translateY(-50%) perspective(1px)
					width: 55%
			@media xs
				min-height 100px
				max-width 130px
				margin 0 auto
			@media sm
				min-height 100px
				max-width 130px
				margin 0 auto
				img
					left 0
					right 0
					position absolute
					top 50%
					transform translateY(-50%) perspective(1px)
					width 60%
		&-title
			text-align center
			margin-bottom 0
			color #5e5e5e
			font-size 12px
			font-weight $fontm
			text-transform uppercase
			@media xs
				font-size 10px
			@media lg
				font-size: 1.5vh
			@media md
				font-size: 1.5vh
			@media(min-width 2039px)
				font-size: 16px
	#category-toggle
		color #727272
		font-size 12px
		text-transform uppercase
		float right
		margin-right: 20px
		margin-top: 15px;
		@media xs
			margin-right 5px
		@media sm
			margin-right: 40px
		@media lg
			font-size: 1.5vh
		@media md
			font-size: 1.5vh
		@media(min-width 2039px)
			font-size: 13px
		.category-toggle-arrow
			height 9px
			display inline-block
			background url('/img/categories/toggle-arrow.png') center center no-repeat
			width 15px
			margin-right 7px
			@media lg
				height 1vh
			@media md
				height 1vh
		.category-toggle-arrow.arrow-up
			transform rotate(180deg)
		&:hover,
		&:focus
			text-decoration none
	#hidden-main-categories
		display none
		text-align inherit
		&:after
			content ''
			height 0
			width 100%
			display inline-block
.dishes-list__popular__widget
	margin-top 35px
	.slick-dots
		bottom -40px
.dishes-list
	padding 60px 0
	.dish
		display inline-block
		max-width 265px
		width 100%
		background #fff
		margin-right 35px
		@media xs
			margin-right 25px
		@media sm
			margin-right 25px
			max-width 225px
		&--mr20
			margin-right: 20px
		&:hover
			box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		&-pic
			min-height 225px
			position relative
			display block
			img
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				left 0
				right 0
				margin: 0 auto
		@media xs
			max-width 275px
		&-info
			padding 20px 30px 80px 30px
			position relative
			min-height 235px
			@media xs
				padding 20px 20px 80px
			@media sm
				padding 15px 15px 80px
		&-title
			color #232323
			font-size 14px
			font-weight $fontsb
			text-decoration none
			margin-bottom 15px
			display block
			@media xs
				margin-bottom: 5px
		.restaurant-title
			font-weight $fontm
			color #5e5e5e
			font-size 14px
			margin-bottom 10px
		&-desc
			font-weight $fontr
			color #232323
			font-size 12px
		.dish-bottom-info
			position absolute
			bottom 30px
			left 0
			right 0
			margin: 0 auto
			height 40px
			margin-top: 20px
		.dish-price,
		.dish-order-button
			position absolute
			top 50%
			transform translateY(-50%) perspective(1px)
			z-index 2
		.dish-price
			left 30px
			font-size 18px
			font-weight $fontm
			@media xs
				font-size: 16px
				left 20px
			@media sm
				font-size: 16px
				left 20px
		.dish-order-button
			right 30px
			font-size 12px
			font-weight $fontb
			padding 0 20px
			@media xs
				font-size: 10px
				right 20px
			@media sm
				font-size: 10px
				right 20px
			&:hover, 
			&:focus
				color #fe7d00
				text-decoration: none
				background-color: #fff
				font-weight: bold
				border 2px solid #fe7d00
.promos__widget
	margin-top 35px
	margin-bottom 30px
	@media xs
		margin-bottom: 60px
	@media sm
		margin-bottom 0px
	@media md
		margin-bottom: 0
	.slick-dots
		bottom -45px
	.promo-item
		position relative
		padding-left 240px
		height 225px
		background #fff
		box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		border-radius 3px
		margin-bottom 35px
		@media md
			padding-left: 305px
		@media sm
			padding-left: 305px
		@media xs
			height auto
			padding-left 0
			max-width 275px
			min-width 240px
			margin 0 auto
		@media  lg
			padding-left: 300px
		&-info
			height 225px
			position relative
			padding 30px 30px 70px 0
			@media lg
				padding 30px 10px  20px 0
			@media xs
				height auto
				padding 20px
				padding-bottom 60px
		&-pic
			height 100%
			background-size: cover
			background-repeat no-repeat
			background-position: center
			position absolute
			width 230px
			left 0
			@media md
				width 275px
			@media sm
				width 275px
			@media xs
				max-width 275px
				height 225px
				width 100%
			@media lg
				width: 275px
			img
				border-radius: 3px 3px 0px 0px
		&-title
			color #545454
			font-size 16px
			font-weight $fontsb
			text-decoration none
			margin-bottom 8px
			display block
			text-transform uppercase
			@media xs
				font-size 14px
		.restaurant-title
			font-weight $fontm
			color #5e5e5e
			font-size 14px
			margin-bottom 10px
		&-desc
			font-weight $fontr
			color #8a8a8a
			font-size 12px
		.promo-bottom-info
			position absolute
			bottom 15px
			left 0
			right 0
			margin: 0 auto
			height 40px
			@media lg
				bottom 0px
		.promo-price,
		.promo-order-button
			top 50%
			transform translateY(-50%) perspective(1px)
			z-index 2
			@media sm
				position absolute
			@media md
				position absolute
			@media xs
				position absolute
		.promo-price
			font-size 18px
			font-weight $fontm
			@media xs
				left 10px
				font-size: 16px
			@media lg
				display inline-block
		.promo-order-button
			right 20px
			font-size 12px
			font-weight $fontb
			padding 0 20px
			float right
			@media xs
				font-size: 10px
				right 10px
				padding 0 10px
			@media lg
				margin-right: 15px
				padding 0 15px
			&:hover, 
			&:focus
				color #fe7d00
				text-decoration: none
				background-color: #fff
				font-weight: bold
				border 2px solid #fe7d00
	.slick-initialized
		@media md
			.promo-item
				height auto
				padding-left 0
				max-width 275px
				margin 0 auto
				&-info
					height auto
					padding 20px
					padding-bottom 60px
				&-pic
					position static
					width 100%
					img
						margin: 0 auto
						display block
				&-desc
					padding-bottom 10px
			.promo-bottom-info
				padding: 20px
		@media sm
			.promo-item
				height auto
				padding-left 0
				max-width 275px
				margin 0 auto
				@media sm
					max-width 245px
				&-info
					height auto
					padding 20px
					padding-bottom 60px
				&-pic
					position static
					width 100%
					img
						margin: 0 auto
						display block
				&-desc
					padding-bottom 10px
			.promo-bottom-info
				padding: 20px
		@media xs
			.promo-item
				height 450px
				padding-left 0
				max-width 275px
				margin 0 auto
				&-info
					padding 20px 10px 60px
					height 100%
					// height 100% !important
					padding-top 250px
				&-desc
					padding-bottom 10px
			.promo-bottom-info
				padding: 20px
.couriers
	font-size 0
	margin-bottom 65px
.our-couriers
	position relative
	.couriers-slider-control
		width 29px
		height 53px
		position absolute
		top 62%
		transform translateY(-50%)
		z-index 1
		cursor pointer
		@media xs
			width 19px
			height 43px
			background-size: contain
			background-repeat no-repeat
			top 60px
		@media sm
			top 60px
		@media (min-width: 992px) and (max-width: 1110px)
			top 60px
		@media (min-width: 1260px) and (max-width: 1360px)
			top 60px
		&.couriers-slider-up
			background-image url("/img/main-slider-prev.png")
			left -50px
			@media xs
				left 20px
			@media sm
				left 20px
			@media (min-width: 992px) and (max-width: 1110px)
				left 20px
			@media (min-width: 1260px) and (max-width: 1360px)
				left 20px
		&.couriers-slider-down
			background-image url("/img/main-slider-next.png")
			right -50px
			@media xs
				right 20px
			@media sm
				right 20px
			@media (min-width 992px) and (max-width 1110px)
				right 20px
			@media (min-width 1260px) and (max-width 1360px)
				right 20px
.couriers-map
	display inline-block
	vertical-align top
	width 50%
	@media md
		width 100%
	@media sm
		width 100%
	@media xs
		width 100%
		// width 100% !important
		// Кто и что этим хотели сказать?
		// width 320px
	&__pic
		background-image url("/img/map_1.jpg")
		width 100%
		height 360px
		background-size: cover
		background-position: center
		background-repeat no-repeat
.couriers__widget
	.couriers-list
		width 50%
		vertical-align top
		padding 35px 40px 30px 55px
		display inline-block
		background #fff
		height 360px
		@media md
			width 100%
		@media sm
			width 100%
			height auto
		@media xs
			width 100%
			padding 25px 15px 20px 15px
			height auto
.couriers-list
	.couriers-general-info
		position relative
		height 45px
		margin-bottom 20px
		@media xs
			height auto
		.all-couriers,
		.free-couriers
			font-size 18px
			position absolute
			@media xs
				position static
				font-size: 16px
		.all-couriers
			left 0
		.free-couriers
			right 0
		.all-couriers-label,
		.free-couriers-label
			color #545454
			font-weight $fontl
			margin-right 10px
		.all-couriers-count,
		.free-couriers-count
			color #545454
			font-weight $fontm
	.courier
		display inline-block
		padding 13px 40px 13px 80px
		background #efefef
		position relative
		border-radius 50px
		width 100%
		margin 15px 0
		min-height: 48px;
		@media xs
			padding 5px 20px 5px 80px
		&:last-child
			margin-bottom 12px
		&-pic
			position absolute
			top 50%
			left 0
			background-size: cover;
			background-position: center;
			width: 65px;
			height: 65px;
			border-radius: 90px;
			transform translateY(-50%) perspective(1px)
			img
				border-radius 50%
		&-name
			color #545454
			font-size 14px
			font-weight $fontm
			@media xs
				font-size 14px
		&-rate
			position absolute
			top 50%
			transform translateY(-50%) perspective(1px)
			right 40px
			@media xs
				position static
				margin-top 10px
		.front-stars
			position: absolute;
			left: 0;
			overflow: hidden;
			display: flex;
			top: 0;
			.fa-star
				color: #ffc809;
.restaurants
	padding-bottom 20px
	.restaurant
		padding 25px
		background #fff
		box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		overflow hidden
		margin-bottom 35px
		border-radius 3px
		&-info
			overflow hidden
			@media xs
				padding-top 10px
			@media sm
				padding-top 10px
		&-pic
			width 130px
			height 130px
			position relative
			display inline-block
			float left
			margin-right 35px
			img
				position absolute
				top 50%
				transform translateY(-50%) perspective(1px)
				height inherit
				@media xs
					left 50%
					transform translate(-50%, -50%) perspective(1px)	
			@media sm
				float none
				margin: 0 auto
				display block
			@media xs
				float none
				margin: 0 auto
				display block
		&-title
			color #545454
			font-size 16px
			font-weight $fontm
			text-transform uppercase
			margin-bottom 15px
			@media xs
				font-size: 16px
		&-menu
			font-size 12px
			font-weight $fontr
			color #838383
			@media xs
				font-size: 12px
		&-bottom-info
			color #545454
			font-weight $fontr
			font-size 12px
			margin-top 20px
			@media xs
				font-size 12px
			span
				font-weight $fontsb
				color #545454
			.restaurant-minsum,
			.restaurant-workhours
				display inline-block
				vertical-align top
				p
					margin-bottom 5px	
			.restaurant-minsum
				margin-right 40px
				min-width 160px
				@media md
					margin-bottom 5px
			.restaurant-workhours
				min-width 110px			
.reviews
	.review
		padding 35px
		background #fff
		border-radius 3px
		box-shadow: 0 3px 9px 0 rgba(50,50,50,.07)
		margin-bottom: 10px
		margin-top: 10px
		&-title
			color #545454
			font-size 18px
			font-weight $fontm
			margin-bottom 10px
			@media sm
				font-size 18px
			@media xs
				font-size: 16px
		&-date
			color #8c8c8c
			font-size 12px
			font-weight $fontr
		&-text
			color #5d5d5d
			font-size 14px
			font-weight $fontr
			margin-top 20px
			@media xs
				font-size: 12px
	.reviews-slider-controls
		margin-top 20px
		@media xs
			margin 20px 0 25px 0
		.reviews-slider-control
			display inline-block
			width 53px
			height 53px
			cursor pointer
			&.reviews-slider-up
				background-image url('/img/icons/slider-up.png')
				margin-right 6px
				&:active
					transform scale(0.9)
			&.reviews-slider-down
				background-image url('/img/icons/slider-down.png')
				&:active
					transform scale(0.9)
.slick-arrow
	transition: .15s
.banner
	padding-top 40px
	&__center
		margin 0 auto
.popover
	font-family: 'Pacifico'
	font-size: 16px
	background-color: #f9eecc
	border-color #ccb280
	width 100%
	border-radius: 20px
	text-align center
	&.right>.arrow
		border-right-color: #ccb280
		// top 50% !important
		top 50%
		&:after
			border-right-color: #f8eecc
			border-left-width 1px
	&.bottom>.arrow
		border-bottom-color: #ccb280
		&:after
			border-bottom-color: #f8eecc
			border-top-width 1px
	&.left>.arrow
		border-left-color: #ccb280
		&:after
			border-left-color: #f8eecc
			border-right-width 1px
	&.top>.arrow
		border-top-color: #ccb280
		&:after
			border-top-color: #f8eecc
			border-bottom-width 1px
	&-content
		padding 20px
.plashka
	@media xs
		background-color: rgba(255, 255, 255, .5)
.plashka-dark
	@media xs
		background-color: rgba(51, 51, 51, 0.5)
.dropdown>ul.drop-menu.menu-2 
	perspective 1000px
	li 
		transform-origin top center
		opacity 0
		animation-name menu-2
		animation-duration 1.5s
		animation-delay -250ms
		animation-fill-mode forwards
		animation-timing-function ease-in-out
@keyframes menu-2 
	0% 
		opacity 0
		transform rotateX(-90deg)
	50% 
		transform rotateX(-20deg)
	100% 
		opacity 1
		transform rotateX(0deg)
.dropdown-menu
	background-color: transparent
	box-shadow: unset
	border 0
.dropdown-menu>li>a
	background-color: #FFF
	color #656565
	margin 3px
	padding 5px 20px
	box-shadow: 0 6px 12px rgba(0,0,0,0.175)
	border-radius 3px
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus
	background-color: #fe7d00
	color #fff
.banner
	position relative
	@media xs
		display none
	img
		&:nth-child(1)
			@media sm
				display none
		&:nth-child(2)
			display none
			@media sm
				display block
	.item-banner
		position absolute
		height 100px
		width 460px
		top 64%
		left 47%
		.items-banner
			position relative
			@media sm
				display none
			.links-banner
				width 220px
				height 75px
				border 2px solid #a6a6a6
				border-radius 3px
				position absolute
				top 68%
				transition all 1s ease
				z-index: 20
				@media md
					width 150px
					height 50px
				&:nth-child(1)
					left 0
					@media md
						right 39%
					a
						&:after
							background-image url("../img/icon_apple.png")
							width 169px
							height 43px
							@media md
								width 139px
								height 33px
				&:nth-child(2)
					right 0
					@media md
						right 23%
					a
						&:after
							background-image url("../img/icon_google.png")
							width 165px
							height 40px
							@media md
								width 139px
								height 33px
				&:hover
					transform scale(1.1)
					transition all 1s ease
				a
					display block
					height 100%
					&:after
						content ""
						position absolute
						top 50%
						left 50%
						transform translate(-50%,-50%)
						background-size: contain
						background-repeat no-repeat
						background-position: center
.couriers-list.page-couriers-list
	.courier-rate
		font-size 0px
	.slick-dots
		bottom -55px;