.info
	&_container
		font-size: 14px;
		font-weight: 400;
		&-main
			display: flex
			justify-content: space-between;
			flex-wrap wrap
			align-items center
			@media xs
				flex-direction: column;
				align-items: start;
		&--relative
			position: relative
	&__label
		color: #8a8a8a;
	&__body
		color: #545454;
		margin: 0px 7px;
		&--info
			// font-style: italic
			position: relative
			user-select: none
			&:after
				content ''
				position: absolute
				width: 21px
				height: 21px
				// left: 2.5px;
				left: 2px;
				transform: translateX(-50%) translateY(-50%);
				border-radius: 21px
				top: 50%
				cursor: pointer
				transition .15s
				border: 1px solid #545454
			&:hover,
			&:active
				&:after
					border-color: #ee7700
	&__back
		@media sm-all
			margin 20px 5px
	&__tooltip
		&-row
			display flex
			align-items center
			justify-content space-between
			padding 10px 22px
			position: relative
			&:before
				position: absolute
				content ''
				left: 0
				width: 1px
				height: 100%
				top 50%
				transform translateY(-50%)
				background-color: #f0851a
			&:last-child,
			&:first-child
				&:before
					height: 50%
			&:last-child
				&:before
					top -50% !important
					height: 100%
					transform unset
			&:first-child
				&:before
					height: 100%
					top 50%
					transform unset
			&--off
				&:before
					top 0
					background-color: #d5d5d5;
				.info__tooltip-item
					color: #bbbbbb;
					&:after
						border-color: #bbbbbb;
		&-item
			text-align: left
			position: relative
			&:after
				height: 20px
				width 20px
				border: 1px solid #ee7700;
				background-color: #FFF
				left: -32px
				z-index: 2
			&:after,
			&:before
				border-radius: 10px
				transform: translateY(-50%);
				top 50%
				content ''
				position: absolute
			&--active
				color #f0851a
				&:before
					z-index: 3
					height: 12px
					width 12px
					left: -28px
					border-radius: 7px
					background-color: #f0851a
		&-container
			position: relative
			&:before
				position: absolute
				content ''
				height: 80%
				width: 1px
				background-color: #f0851a;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
// Оч сурово
.info__container .info__tooltip
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
	background-color: #fff
	border-color #f7f7f7
	border-radius: 6px
	font-family: Montserrat !important 
	padding 12px
	min-width: 50%
	max-width 400px
	.popover-title
		background-color: transparent
		border-bottom transparent
		text-align left
		margin-bottom 12px
		color: #545454;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
	.popover-content
		padding 9px 14px !important
	&>.arrow
		border-bottom-color #f7f7f7 !important
		&:after
			border-bottom-color #fff !important