.inner-review
	&__block
		background-color white
		min-height 100px
		border-radius 5px
		box-shadow 0 3px 9px rgba(0, 0, 0, 0.07)
		margin 10px 0
		padding 31.2px 30px
		overflow hidden
		@media xs
			padding 26px 0px
	&__wrap
		&--ml
			margin-left 22px
		&--right
			text-align right
		&--ib
			display inline-block
		&--vam
			display flex
			flex-direction row
			align-items center
			flex-wrap wrap
			&-md
				@media lg
					display flex
					flex-direction row
					align-items center
				@media md
					display flex
					flex-direction row
					align-items center
		&--flex
			&-start
				align-self:flex-start;
	&__title
		font-size 16px
		font-weight 500
		color #545454
		&--uppercase
			font-size: 20px
			color: #5e5e5e
			font-weight 500
			text-transform: uppercase;
		&--anchor
			color: #5e5e5e
			text-decoration: none !important
			&:hover,
			&:active,
			&:focus
				color #fe7d00
	&__date
		margin-top 15px
		color #9f9f9f
		font-size 12px
		font-weight 400
	&__text
		color #545454
		font-size 14px
		line-height 24px
		font-weight 400
		@media sm-all
			margin-top 10px
	&__rate
		color #545454
		font-size 14px
	&__link
		color $orange
		font-size 14px
		font-weight 500
		user-select none
		&:hover,&:focus
			color $orange
	&__image
		min-width 65px
		max-width 65px
		flex-grow 1
		width 65px
		height 65px
		border 1px solid #d4d4d4
		border-radius 3px
		background-size cover
		background-position center
	&__stars
		margin-top 10px
	&--sm
		&-specific
			@media sm-all
				order 1
			&2
				@media sm-all
					order 0
					text-align left