table
	width 95%
	margin 0 auto
tr.items
	margin-right 20px
	margin-left 20px
th.item
	border none
	border-bottom 1px solid #dadada
	font-weight normal
	padding 10px 15px
	paddind-bottom 0
	&:first-child
		width 20%
	&:nth-child(2)
		width 20%
	&:last-child
		width 60%
		text-align end