td.item
	border none
	border-bottom 1px solid #dadada
	font-weight normal
	padding 10px 15px
	&--bold
		font-weight 500
	&:first-child
		width 20%
	&:nth-child(2)
		width 20%
	&:last-child
		width 60%
		text-align end