header
	.lk
		&-button
			padding-left 30px
			min-width: 213px
			&__chevron
				position: absolute
				top 50%
				left 10px
				transform translateY(-50%)
			&__container
				margin-top: 14px;
				background-color: #ffffff;
				border-radius: 25px;
				padding: 9px;
				border: 2px solid #f37c30;
				width 100%
			&__item
				font-weight: 500
				color #a4adb4
				text-decoration: none
				cursor: pointer
				text-align: center
				&:hover
					color #fe7d00