.micro-nav
	&__text
		color #8b8b8b
		font-size 14px
		&--small
			font-size 12px
		&:hover,
		&:focus
			color #fe7d00
			text-decoration none
		&--active
			color #fe7d00
			cursor default
			pointer-events none
	&--small
		display flex
		flex-wrap wrap
		margin-bottom 10px
		justify-content space-between