.modal
	padding-right: 15px
	z-index: 8000
.modal-open .modal
	@media xs
		padding-right 0px !important
#main-modal,
#auto-modal,
#dishes-modal,
#helpModal,
#rateCourierModal,
#modalBasketDraft,
#modalPay,
#ExecRequest
	.close
		font-size: 34px
		top 0
		right -47px
		font-weight 300
		background-color: #fe7d00
		color #fff
		border-radius: 50%
		height 36px
		width 36px
		opacity: 1
		@media xs
			top -40px
			right 0px
	.modal-content
		padding-bottom 40px
	.modal-body
		padding-top: 65px
		@media xs
			padding 15px
			padding-top: 40px
	.modal-dialog
		width 525px
		top 15%
		transform translate(0,0) !important
		@media xs
			width auto
			top 25%
			max-width 525px
			margin auto
.modal
	&-dialog
		width 525px
		top 15%
		@media xs
			width auto
			top 10%
			max-width 525px
			margin auto
		&--autowidth
			width 90%
	&-title
		text-align: center
		padding-bottom: 15px
		@media xs
			padding-bottom: 0
	&-header
		border-bottom 0
		padding 0
		.close
			position: absolute
			top 4px
			right 10px
			font-size: 38px
			font-weight: 300
	&-settings
		&__title
			font-size: 30px;
			font-weight: 500;
			text-transform: uppercase;
			color: #545454;
		&__subtitle
			color: #545454;
			font-weight: 500;
			font-size: 18px;
			text-transform: uppercase;
		&__span
			color: #909090;
			font-size: 14px;
		&__hr
			border-top: 1px solid #d2d2d2;
	&-body
		&__settings
			padding 50px 45px!important
			border-radius: 3px;
			background-color #ffffff
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
	&-footer
		border-top: 0
		text-align: center
		padding 0
	.share__buy-wrap
		text-align: center
		padding 5px
	.share__buy
		// width 220px
		padding 15px 45px
		font-weight: 400
	#profile
		.share__buy
			width 270px
			padding 15px 0
		.share__buy-wrap
			margin-top: 45px
		label
			color #838383
			font-size: 16px
			text-align: center
			font-weight: 400
			padding-bottom: 5px
			width 100%
	.form-control
		text-align: center
		height 55px
		background-color: #f4f4f4
		border-color #b9bfc1
		font-size: 16px
		border-width: 1px 
		&:focus
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(254, 125, 0.6);
		&__password
			text-align: center
			font-size: 16px
			padding-bottom: 15px
			a
				color #fe7d00
				text-decoration: none
		&__authorization
			font-size 16px
			color #646464
			padding-top: 30px
			text-align: center
		&-alert
			box-shadow: 0 0 5px 1px #ff0000ad
			background-color #ff00001a
			&:focus
				background-color #f4f4f4
				box-shadow: none
	.icon
		padding-top: 15px
		text-align: center
		.fab
			vertical-align middle
		&_i
			margin 0 5px
			display inline-block
			text-align: center
			vertical-align middle
			font-size: 34px
			color #fff
			width 55px
			height 55px
			border-radius 3px
			&:nth-child(1)
				background-color: #345b93
			&:nth-child(2)
				background-color: #5181b8
			.fa-facebook-f:before,
			.fa-vk:before
				vertical-align middle
	.form-error
		border-color #ee4d4d
		background-color: #ffeeee
		&__desc
			text-align: center
			color #ee4d4d
	&-body
		padding 15px 110px
	.nav-tabs
		border none
		li
			width 50%
			>a
				margin-right: 0
				border-radius 0
				padding 22px 15px
				@media xs
					padding 15px 5px
			&:nth-child(2)
				&.active>a,
				&.active>a:hover,
				&.active>a:focus
					color #545454
					text-transform: uppercase
					background-color: transparent
					box-shadow: none
					border none
					border-top-right-radius: 5%
				>a,
				>a:hover<
				>a:focus
					background-color: #f4f4f4
					color #898989
					font-size: 16px
					text-align: center
					text-transform: uppercase
					border-top-right-radius: 5%
					border-bottom 1px solid #b4bbbe
					border-left 1px solid #b4bbbe
					box-shadow inset 12px -6px 58px -13px #ABABAB
			&:nth-child(1)
				&.active>a,
				&.active>a:hover,
				&.active>a:focus
					color #545454
					text-transform: uppercase
					background-color: transparent
					border none
					box-shadow: none
				>a,
				>a:hover,
				>a:focus
					background-color: #f4f4f4
					color #898989
					font-size: 16px
					text-align: center
					text-transform: uppercase
					border-top-left-radius: 5%
					border-bottom 1px solid #b4bbbe
					border-right 1px solid #b4bbbe
					box-shadow inset -6px -10px 58px -13px #ABABAB
#auto-modal,
#dishes-modal
	label
		font-size: 16px
		color: #777
#bonus-modal
	a
		color #fe7d00
	.modal-content
		padding 30px
		font-size: 14px
	.modal-header
		padding 0
		.close
			font-size 68px
	.modal-body
		padding 0
	.modal-footer
		padding 0
	.modal-dialog
		margin 0
		left 50%
		top 22%
		transform translate(0,0) !important
		@media md
			left 47%
		@media sm
			left 14%
			top 52%
		@media xs
			width: auto
			top: 25%
			max-width: 525px
			margin: auto
			left auto
.mobile-app
	position: fixed
	display: none
	z-index: 999
	top 0
	transition: 2s linear
	text-align: center
	background linear-gradient(180deg, rgba(0, 0, 0, 0.33), #fff0)
	width 100%
	@media (max-width 990px)
		display: block
	&-container
		position relative
		width 42%
		text-align: center
		margin 0 auto
		padding-top: 10px
		@media (max-width 800px)
			width 52vw
		@media (max-width 570px)
			width 65vw
		@media (max-width 470px)
			width 85vw
		@media (max-width 420px)
			width 100%
	&-link
		width 40%
		display inline-block
	&-close
		border-radius: 50%
		width auto
		height: 34px
		font-size: 30px
		color #000
		position: absolute
		z-index 9999
		right calc(50% - 15px)
		top 120%
		.fa-chevron-up
			left 0
			right 0
			position: absolute
			animation: jump 1s infinite
			font-size 30px
			transform rotate(-180deg)
			will-change top
			@keyframes jump{
				0% {
					top: 0;
				}
				50%{
					top: -20%;
				}
				100%{
					top: 0;
				}
			}
	&-apple
		width 100%
		padding-right: 11%
		padding-left: 11%
.mobile-app.disable
	transition: 3s linear
	top: -100%
	visibility: hidden
.addTopApp
	@media (max-width 990px)
		padding-top: 13vh

#find-me-modal,#findRestoModal
	.modal
		&-map
			box-shadow 0 0 7px 0px #000000d1
			width 100%
			height 70vh
			background-color: white
			&-street
				width 74%
				text-align left
				display: inline-block
			&-house
				width 25%
				text-align: left
				display: inline-block
			&-title
				font-size: 18px
			&-desc
				font-size: 14px
				font-weight: 400
				color #0a0a0a
			&-panel
				position: absolute
				bottom 0
				left 0
				right 0
				width 500px
				margin 0 auto
				margin-bottom: 15px
				@media xs
					width 90%
		&-adress
			text-align: center
			color #000
		&-panel
			&-window
				box-shadow 0 0 2px #000
				border-radius: 4px
				margin 0 auto
				background-color: #efefefcf
				width 100%
				padding 8px
			&-select
				text-align: center
				width 100%
				label
					span
						font-weight: 400
					input
						background-color: #FFF
						height 35px
						&:focus
							box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #fe7d017a
			&-control
				text-align: center
		&-dialog
			position: relative
			width 78vw
			@media md
				width 80vw
			@media sm
				width 85vw
			@media xs
				width: auto
				top: 25%
				max-width: 525px
				right 0
				left 0
				margin 0 auto
			@media (max-width 591px)
				border-right: 20px solid #0000
				border-left 20px solid #0000
			@media (max-width 381px)
				border-right: 10px solid #0000
				border-left 10px solid #0000
		&-header
			.close
				width 30px
				height: 30px
				border-radius: 30px
				background-color: #fe7d00
				margin-top: 5px
				opacity 1
				vertical-align: middle
				line-height: 23px
				text-align: center
				border 1px solid #fe7d00
				color #fff
				top -45px
				box-shadow 0 0 1px 0px #ff7d00
				font-size: 4rem
				padding-right: 1px
				transition 0.2s linear
				&:hover
					background-color: #fff 
					color #fe7d00
	.control
		&-button
			display: inline-block
			text-align: center
			width 80%
			margin-top 9px
			padding: 5px
			border-radius 25px
			cursor: pointer
			transition 0.2s linear
			font-size: 15px
			font-weight: 500
			color #fff
			&:hover
				color #fe7d00
				border-color #fe7d00
				background-color #fff
			@media (max-width 910px)
				width 49%
		&-okay
			background-color: #fe7d00
			border 1px solid #fe7d00
		&-no
			background-color: #a4adb4
			border 1px solid #a4adb4