.modal-courier
	&__container
		&--flex
			display: flex
		&--btns
			flex-direction row
			align-items center
			justify-content space-between
		&--end
			display: flex
			align-items center
			justify-content end
	&__wtitle
		color: #949494;
		font-size 14px
	&__wdesc
		color: #545454;
		font-size: 18px;
	&__row
		&--rates
			display: flex
			flex-direction row
			align-items center
			justify-content space-between
			margin-bottom 15px
	&__set
		font-size: 16px;
		color: #545454;
	&__stars
		.courier-review__stars
			.rate-star
				font-size 20px !important
	&__microtitle
		color: #fe7d00;
		font-size: 18px;
		font-weight 500
		text-align: left
	&__microdesk
		text-align: left
		font-size: 14px;
		color: #8b8b8b;
	&__picture
		width: 65px;
		height: 65px
		border-radius: 35px
	&__wrapp
		margin-left: 23px
		display: flex;
		flex-direction: column;
		align-items: end;
		&--flex
			&-row
				flex-direction row
				@media xs
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
	&__bigbtn
		height: 77px;
		border: 1px solid #d5d5d5;
		border-radius: 39px;
		width: 47%
		display flex
		align-items center
		justify-content space-around
		cursor: pointer
		transition .15s
		&:hover
		&:active
			border-color #fe7d00
		&.active
			border-color #fe7d00
	&__ico
		width: 50px
		height: 50px
		&--good
			background-image: url('/img/smile-rate/good-rate.png')
		&--bad
			background-image: url('/img/smile-rate/poor-rate.png')
