.navbar-cabinet
    background-color: #ffffff
    margin: 0
    padding 0
    font-size: 0
    li
        cursor: pointer
        transition .35s
        // padding: 14px 24px -old
        display inline-block
        text-transform: uppercase
        font-size: 14px
        font-weight: $fontm
        @media xs 
            font-size: 12px
        a
            padding: 12.3px 24px
            display: block
            color: #545454
            text-decoration: none
            font-size: 14px
            user-select: none
        &:hover
            background-color $orange
            a
                color #ffffff
        &:active
            background-color #ff9733
    .active
        color #ffffff
        font-size: 14px
        background-color: $orange
        a
            color #ffffff 
            pointer-events: none