.news-block
	background-color: $light_gray
	&__title
		color #565656
		font-size: 36px
		font-weight: $fontr
		@media xs
			font-size: 22px
	&__content
		background-color: #FFF
		padding 35px
		box-shadow: 0 5px 11px -3px #80808054
		margin 25px 0
		@media sm
			max-width: 400px
			margin 25px auto
		@media xs
			padding 25px
		img
			margin-bottom: 0
			height 145px!important
			width: 190px
		a
			color inherit
		.col-lg-3
			@media lg
				width 20%
		.col-lg-9
			@media lg
				width 80%
	&__pic__wrap
		text-align: center
		display: block
		@media xs
			padding-bottom: 15px
		@media sm
			padding-bottom: 15px
	&__date
		font-size: 16px
		color #909090
		padding 5px 0
	&__subtitle
		color #343434
		font-size: 24px
		text-transform: uppercase
		@media xs
			font-size: 18px
	&__desc
		font-size: 16px
		color #838383
		padding-top 10px
	&__pagination
		float right
		position relative
		margin-right 41px
	&__pagination__prev
			content ''
			background-image: url('../img/news/prev.png')
			height 39px
			width 41px
			position absolute
			left -45px
			top 50%
			transform translateY(-50%)
	&__pagination__next
			content ''
			background-image: url('../img/news/next.png')
			height 39px
			width 41px
			position absolute
			right -45px
			top 50%
			transform translateY(-50%)
	.pagination
		vertical-align: middle
		&>li>a
			border 0
			background-color: inherit
			color #969696
			font-size: 12px
			padding-top: 10px
		&>.active>a
			color #FFF
			width 41px
			height 39px
			background-color: #a4adb4
			border-radius 50%
			text-align: center
			padding-top: 10px
			