.notify
	&-search
		&__container
			max-width: 500px
			position: relative
		&__button
			width 16px
			height 16px
			background-image: url("/img/search-icon.png")
			position: absolute
			top 50%
			right 16px
			transform translateY(-50%) perspective(1px)
			cursor: pointer
			transition 0.35s background-image
			&:active,
			&:hover
				background-image: url("/img/search-icon--active.png")
		// &__input
	&-left
		&__container
			align-items center
			display: flex
			flex-direction: row;
			justify-content: space-between;
			@media xs
				flex-direction: column
				align-items: end;
		&__wrap
			margin-left 50px
			@media xs
				padding-top 10px
				margin-left 0
	&-more
		&__container
			display: flex
			align-items center
			color: #8b8b8b;
			&:hover,
			&:active,
			&:focus
				color: #8b8b8b;
			span
				color: #8b8b8b;
				font-size: 14px;
				font-weight: 400;
				text-decoration: none
				text-decoration-color: #8b8b8b
	&-block
		&__date
			&--orange
				color: #fe7d00;
		&__title
			font-size: 18px;
			color: #545454;
			font-weight: 500;
		&__description
			font-size: 14px;
			color: #8b8b8b;
			font-weight: 400;
	&-arrow
		background-image: url('/img/small_arrow.png')
		width: 14px
		height: 8px
		display: block
		&--ml
			margin-left 14px