.page
	&__title
		font-size: 36px
		font-weight: 500
		color: #565656
		text-transform: uppercase
		margin-top 0px
		margin-bottom 0
		// margin-bottom: 35px - old
		display: inline-block
		@media md
			margin-bottom: 20px
		@media sm-all
			margin-bottom: 20px
			font-size: 32px
		&-and
			color: #b0b0b0
			margin-left 10px
	&__wrap
		&--fr
			color gray
		&--flex
			display flex
			margin-bottom: 27px
			&-alignA
				align-items center
				color: #858585
				text-shadow: 0 3px 9px rgba(0, 0, 0, 0.07)
				justify-content space-between
				flex-wrap wrap
	&__sort
		font-size: 12px;
		text-transform: uppercase;
		&--ondelimiter
			@media xs
				display flex
				flex-direction column
		&--delimiter
			@media xs
				display flex
				align-items center
				justify-content space-between
.drop-order
	&-dropdown
		margin-left 10px
		&.open
			.dropdown-toggle
				.caret 
					transform rotate(180deg)
		.dropdown
			&-menu
				&--right
					left unset
					right 0
			&-toggle
				border none
				background none
				color: #363636
				font-size 12px
				font-weight: 400
				text-transform: uppercase;
				padding 0
				text-shadow: 0 3px 9px rgba(0, 0, 0, 0.07)
				&--caret-left
					.caret
						margin-left: unset
						margin-right: 5px
				&:hover
					color #fe7d00
				@media lg
					font-size: 12px
				@media md
					font-size: 12px
				@media(min-width 2039px)
					font-size: 14px
				.caret
					background-image url('/img/icons/dropdown-arrow.png')
					width 15px
					height 8px
					border none
					margin-left 5px