.simple
	&__button
		border-radius: 50px;
		background-color #a4adb4
		text-decoration: none
		text-transform uppercase
		border 2px solid
		transition .3s
		&--orange
			background-color: #fe7d00;
			border-color #fe7d00
			color white
			transition .3s
			&:hover
				transition .3s
				text-decoration: none
				color #fe7d00
				background-color white
		&--big
			font-size: 16px;
			font-weight: 700;
			padding 12.5px 41px
.white
	&-row
		&__block
			padding-top 10px
			padding-bottom 10px
	&__row
		display flex
		flex-wrap wrap
		justify-content space-between
		margin-bottom: 8px
		margin-top: 8px
	&__block
		background-color white
		min-height 100px
		border-radius 5px
		box-shadow 0 3px 9px rgba(0, 0, 0, 0.07)
		margin 12px 0
		padding 20px 7px
		overflow hidden
		position: relative
		will-change height, width
		@media xs
			padding 26px 0px
		&--big
			&-px
				padding 30px 30px
		&--min
			&-px
				padding: 0px 7px
				min-height: 20px
		&-wrapper
			&--light
				position: relative
				border-radius 0px 0px 5px 5px
				padding 26px 7px
				background-color #f8f8f8
				overflow: hidden
				@media xs
					padding 26px 0px
		&--bb
			&-n
				margin-bottom 0
				border-radius 5px 5px 0px 0px
				box-shadow none
		&--box-shadow
			box-shadow 0 3px 9px rgba(0, 0, 0, 0.07)
		&-xs
			&-w100
				@media xs
					width 100%
.restoraunt
	&-reviews
		&__into
			a
				margin-right 5px
				color: #fe7d00;
				&:hover
					color: #fe7d00;
			span
				margin-right 5px
		&__descw
			@media xs
				display flex
				align-items center
				.restoraunt__stars-rating
					display flex
		&__container
			position: relative
			display flex
			justify-content space-between
			@media xs
				flex-direction column
			&:before
				display: none
		&__textarea
			padding 0!important
			width: 60%
			textarea
				width 100%
				height 100%
				border 0
				resize none
				padding: 10px 15px
			@media xs
				width 100%
				margin-bottom 15px!important
		&__rating
			&-wrapper
				margin-left: 10px
				display flex
				flex-direction column
				justify-content space-between
	&-info
		&__text
			color: #545454;
			font-size: 16px;
	&-table
		&__container
			td
				border none
				padding-left 0
		&__title
			color: #828282;
			font-weight: 400;
			font-size 16px
		&__text
			font-size 16px
			color: #545454;
	&-big
		&__slider
			&.slick-slider
				margin-left: -30px
				margin-right: -30px
				padding-left 2px
				padding-right 2px
			.slick-dots
				display flex
				margin-left: 27px
				margin-right: 27px
				li
					margin 0
			.slick-list
				&:after,
				&:before
					position: absolute
					content ''
					display: block
					width: 15px
					height: 100%
					z-index: 9999
					top 0
				&:before
					left 0
					box-shadow inset 16px 0 10px -12px #efefef
				&:after
					box-shadow inset -16px 0 10px -12px #efefef
					right 0
			&--arrows
				&.slick-slider
					margin-left: 0px
					margin-right: 0px
					padding-left 35px
					padding-right 35px
					@media xs
						margin-left: -30px
						margin-right: -30px
						padding-left 2px
						padding-right 2px
				.slick-arrow
					height 53px
					width 29px
					transition .1s
					&:before
					&:after
						content ''
					&:active
						transition .1s
						filter:brightness(1.3)
				.slick-prev
					left 0
					background-image: url('/img/main-slider-prev.png')
				.slick-next
					right 0
					background-image: url('/img/main-slider-next.png')
		&__slide
			background-color white
			border-radius 3px
			box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
			min-height 325px
			width: 100%
			position relative
			display flex
			align-items: stretch;
			font-size: 0
			margin 25px 0
			margin-bottom: 6px
			@media xs
				min-height 200px
				flex-direction column
			&-wrapper
				position: relative
				display: inline-block
				width: 50%
				height inherit
				min-height 100%
				min-width 50%
				@media xs
					width: 100%
					min-width 100%
				&--flex
					display: flex
					flex-direction column
					padding-top: 50px
					padding-bottom: 50px
					padding-left: 52px
					padding-right: 52px
					justify-content space-between
					@media xs
						padding 25px 22px
					&--row
						display: flex
						flex-direction row
						align-items center
					&--sm
						&-col
							@media xs
								flex-direction column
								align-items end
			&-image
				position relative
				height initial
				min-height inherit
				min-width 50%
				width: 50%
				border-radius 3px 0px 0px 3px
				background-size: cover
				background-position: center
				background-color: #a4adb4
				@media xs
					width: 100%
					min-width 100%
			&-title
				color: #545454;
				font-size: 30px;
				font-weight: 500;
				word-break: break-word;
				text-transform: uppercase;
			&-price
				color: #5e5e5e;
				font-size: 18px;
				font-weight: 500;
				display: inline-block
				margin-right: 24px
			&-desc
				color: #8a8a8a;
				font-size: 14px;
				font-weight: 400;
			&-button
				border-radius: 20px;
				background-color: #a4adb4;
				display: inline-block
				padding 11px 18px
				text-align: center
				vertical-align: middle
				font-size: 12px
				color white
				font-weight: 700;
				border 2px solid #a4adb4
				@media xs
					margin-top: 15px
				&:hover
					color #fe7d00
					background-color #fff
					text-decoration: none
					border 2px solid #fe7d00
			&.slick-slide
				margin-left: 30px
				margin-right: 30px
				display flex
				align-items: stretch;
				text-decoration: none
				text-transform: uppercase;
				.restoraunt-big__slide-wrapper
					height auto
	&-sidebar
		&__title
			display: block
			font-weight: 400;
			// color: #838383;
			color #545454
			font-size: 16px;
			text-decoration: none
			margin-bottom 12px
			@media (max-width: 991px)
				margin-right: 10px
				margin-left: 10px
				display: inline-block
			&:hover
				color: #fe7d00;
				text-decoration: none
			&--active
				color: #fe7d00;
		&__wrapper
			@media (max-width: 991px)
				margin-left: -10px
				margin-right: -10px
	&-menu
		&.dishes-list
			.dish
				box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07);
				border-radius 3px
				&-bottom
					&-info
						padding 0px 30px
						bottom 20px!important
						display flex
						justify-content space-between
						align-items center
						// flex-wrap wrap
						&.dish-price
							color: #5e5e5e;
						@media sm-all
							padding 0px 20px
						span, button
							position static
							transform unset
		&.dishes-list:not(.slick-initialized)
			margin-left: -12.5px
			margin-right: -12.5px
			.dish
				margin-top: 5px
				margin-bottom: 10px
				margin-left: 12.5px
				margin-right: 12.5px
				max-width 30.6%
				@media md
					max-width 29.8%
				@media sm
					max-width 45.4%
				@media (max-width: 767px) and (min-width: 540px)
					max-width 44.4%!important
				@media xs
					max-width 100%
					max-width stretch
				&-pic
					min-height 185.1px
					background-size: cover
					background-position: center
					border-radius: 3px 3px 0px 0px;
	&-side
		&__title
			font-size: 24px;
			line-height: 24px
			color: #545454;
			font-weight: 400;
			text-transform: uppercase;
			word-wrap: break-word
			@media xs
				font-size: 21px
		&__description
			color: #8c8c8c;
			font-size: 14px;
	&__share
		position: absolute
		top 0
		left 0
		border-radius 3px 0
		background-color #a1abb3
		min-height 38px
		min-width: 77px
		display flex
		justify-content center
		align-items center
		font-size: 14px
		transition .2s
		&:hover
			color white
			text-decoration: none
			background-color #de6d00
		&--orange
			color white
			background-color: #fe7d00;
		&--right
			left unset
			right 0
			border-radius 0 3px
	&-main
		&-b
			display flex
			@media md
				flex-direction column
			@media sm-all
				flex-direction column
		&-list
			@media sm
				flex-direction column
	&__text
		&-pt
			padding-top: 15px
			@media sm-all
				padding-top: 10px
		&--13
			color: #5e5e5e;
			font-size: 13px
		&--12
			color: #5e5e5e;
			font-size 12px
		&-m
			font-size 12px
			color: #5e5e5e
		&-b
			font-size 14px
			font-weight 500
	&__logopay
		margin 0 5px
		&-container
			margin-left -5px
			margin-right -5px
	&__image
		width 160px
		flex-shrink 0
		height 160px
		border 1px solid #dcdcdc
		flex-basis 160px
		background-size: cover
		@media sm-all
			margin-bottom: 20px
		&-item
			width: 100%
			height: 100%
			background-size: cover
			background-position: center
	&__wrap
		&--flex
			display flex
			@media sm-all
				flex-direction column
			&-wrap
				flex-wrap wrap
			&-aic
				@media lg
					align-items center
		&--aflex
			display flex
		&--ml
			margin-left: 25px
			@media sm-all
				margin-left 0
			&-list
				@media md
					margin-left 0
				@media sm
					margin-left 0
		&-hlist
			a
				color #5e5e5e
				font-size: 14px
				font-weight 400
				margin-left: 18px
				text-decoration: none
				&:hover 
					color: #fe7d00;
				@media (max-width: 1259px)
					margin-left 10px
				@media xs
					margin-left 10px
				&:nth-child(1)
					margin-left: 0px
				&.active
					color: #fe7d00;
			@media xs
				display flex
				justify-content space-between
				flex-wrap wrap
			&--bold
				a
					color: #3a3a3a
					font-size 18px
					font-weight 500
					@media xs
						font-size: 14px
	&__bottom
		&-menu
			flex-direction row
			justify-content space-between
			flex-wrap wrap
			min-width 460px
			@media sm-all
				min-width unset
	&__like
		cursor: pointer
		color: #5e5e5e
		font-size 14px
		span
			margin-left: 9px
	&__stars
		margin-left: 21px
		@media sm-all
			margin-left: 0
		@media (max-width: 1259px) and (min-width: 991px)
			margin-left: 0
		&-resto
			margin-right: 8px
			color: #5e5e5e
			font-size: 14px
	&-filter
		&__title
			color: #464646;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 18px
			&--small
				margin-bottom: 8px
		&__select,
		&__checkbox
			display: block
			position: relative
			padding-left: 25px
			cursor: pointer
			margin-bottom: 13px
			user-select none
			font-size: 12px
			color: #5e5e5e;
			font-weight: 400;
			input
				position: absolute
				opacity 0
				cursor: pointer
				height 0
				width 0
			.checkmark
				position: absolute
				transform: translateY(-50%)
				top 50%
				left 0
				height: 14px
				width 14px
				border: 1px solid #b1b1b1;
				transition .2s
			&:hover input ~ .checkmark
				border-color #fe7d00
			.text
				transition .2s
				overflow-wrap break-word
			.subtext
				display block
			input:checked 
				& ~ .checkmark
					border-color #fe7d00
					color #fe7d00
					background-color #fe7d00
				& ~ span.text
					color #fe7d00
			&--addsubtext
				.text
					font-size: 16px;
				.checkmark
					top 4px
					transform translateY(0%)
			&--radio
				.checkmark
					height 18px
					width: 18px
					border-radius: 14px
					&:after
						height 8px
						width: 8px
						content ''
						background-color transparent
						border-radius 8px
						transition .2s
				input:checked 
					& ~ .checkmark
						border-color #b1b1b1
						color transparent
						background-color transparent
						display flex
						align-items center
						justify-content center
						&:after
							background-color #fe7d00
		&__hidden
			margin-bottom: 12px
			&-text
				color: #a1a1a1;
				font-size: 12px;
				font-weight: 400;
				cursor: pointer
				&-on
					display none
			&.on
				.restoraunt-filter__hidden-container
					transition .2s
					visibility: visible
					display: block
				.restoraunt-filter__hidden-text-on
					display block
				.restoraunt-filter__hidden-text-off
					display: none
			&-container
				transition .1s visibility
				visibility hidden
				display: none
.like
	color #e4e4ea
	&--active
		color #f46161
.ta
	&-l
		text-align: left;
.resto-review
	.inner-review__stars
		margin-top: 0
		@media xs
			margin-top 10px