.search
	&-bar
		&__container
			background-color: #fe7d00
			width: 100%
		&__wrapper
			margin: 10px 0px
			display flex
			align-items center
			justify-content center
			color white
			@media xs
				flex-direction column
		&__block
			margin: 10px 20px
		&__button
			&:active,
			&:focus
				color #fe7d00 !important