.select
	&-tamaq
		position relative
		display: inline-flex
		align-items center
		&:after
			content url('/img/small_arrow.png')
			position: absolute
			right 0
			margin-right: 15px
			pointer-events: none;
		&:active
			&:after
				transform: scale(1, -1)
		&__select
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			outline: 0;
			box-shadow: none;
			background-image: none;
			border: 1px solid #cfcfcf;
			background-color: #ffffff;
			border-radius: 3px;
			height: 42px;
			min-width: 150px
			padding 0px 14px
			@media xs
				min-width 130px
			&--mgin
				margin-left: 18px
				margin-right: 18px
				@media xs
					margin-left 0
					margin-right: 0