.shares
	display block
	background-color #efefef
	&__items
		margin 45px 0px
		@media xs
			margin 30px 0px
	&__item
		background-color #fff
		margin-bottom 30px
		display: table
		width: 100%
		min-height 225px
		border-radius 3px
		box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		table-layout fixed
		@media sm
			min-height 150px
		@media xs
			display block
			max-width 400px
			margin auto
			margin-bottom 20px
	&__pic
		display table-cell
		vertical-align middle
		min-height 100%
		background-size cover
		background-position center
		width 275px
		@media md
			width 30%
		@media sm
			width 25%
		@media xs
			width 100%
			display: block
			height 200px
	&__text
		display: table-cell
		vertical-align middle
		padding 30px 40px
		width 456px
		@media md
			width 50%
		@media sm
			width 50%
		@media xs
			display: block
			width 100%
			padding 20px 30px
			padding-bottom 0px
			text-align center
	&__name
		text-transform uppercase
		font-size 30px
		color #565656
		display: block
		text-decoration none
		font-weight 500
		margin-bottom 8px
		&:hover,
		&:focus
			color #565656
		@media sm
			font-size 24px
		@media xs
			font-size 24px
	&__desc
		color #8a8a8a
		font-size 14px
	&__info
		display: table-cell
		vertical-align middle
		padding 20px 15px
		@media xs
			display: block
			width 100%
			padding 20px 30px
			text-align center
	&__company
		font-size 14px
		margin 0px
		color #959595
		font-weight 500
		margin-bottom 10px
		+ .shares__buy
			margin-top 23px
	&__cost
		color #5e5e5e
		font-weight 500
		font-size 18px
		margin-bottom 10px
	&__buy
		color #fff
		text-transform uppercase
		background-color #b0b3b9
		display: inline-block
		padding 8px 15px
		border-radius 50px
		transition all 0.3s ease
		border 2px solid #b0b3b9
		font-weight 700
		&:hover,
		&:focus
			text-decoration none
			border 2px solid #fe7d00
			color #fe7d00
			background-color: #FFF