.share
	display block
	background-color #efefef
	&__title
		margin-bottom 40px
	&__pic
		height 370px
		background-size cover
		background-position center
		background-color #fff
		box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		border-radius 3px 3px 0px 0px
		@media xs
			height 250px
	&__header
		background-color #fff
		background-image url('../img/share-pattern.png')
		background-position center
		padding 40px
		border-radius 0px 0px 3px 3px
		box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		text-align center
		@media xs
			padding 15px 20px
	&__company
		display: inline-block
		text-transform none
		background-color #efefef
		border-radius 50px
		padding 15px 50px
		font-size 20px
		min-width 360px
		margin-bottom 20px
		@media xs
			padding 8px 20px
			font-size 16px
			min-width auto
	&__benefit
		max-width 60%
		margin auto
		font-weight 500
		margin-bottom 20px
		@media sm
			max-width 80%
		@media xs
			max-width 100%
			font-size 20px
	&__buy
		color #fff
		text-transform uppercase
		font-weight 700
		border-radius 50px
		background-color $orange
		font-size 16px
		padding 11px 45px 10px 45px
		display:  inline-block
		border 2px solid $orange
		transition all 0.3s ease-in
		&:hover,
		&:focus
			background-color transparent
			color $orange
			text-decoration none
		@media xs
			font-size 14px
			padding 8px 30px
	&__content
		padding 30px 0px
		*
			color #565656
			line-height 1.9
		h3
			margin-bottom 30px
	&__footer
		background-color #fff
		background-image url('../img/share-pattern.png')
		background-position center
		padding 45px
		border-radius 0px 0px 3px 3px
		box-shadow 0px 3px 9px 0px rgba(50, 50, 50, 0.07)
		text-align center
		@media xs
			margin-bottom: 40px
			padding 15px 20px