@import '_config'
@import '_fonts'
@import '_header'
@import '_footer'
@import '_breadcrumbs'
@import '_button_up'
@import '_shares'
@import '_share'
@import '_heroes'
@import '_modal'
@import '_user'
@import '_inner-reviews'
@import '_nav--titles'
@import '_restoraunts'
@import '_courier_contant'
@import '_account_content'
@import '_courier-order'
@import '_select'
@import '_lk'
@import '_info'

html,body
	max-width 100%
	min-height 100%
	color $black
	font-family: 'Montserrat', sans-serif
	button,a
		cursor: pointer
		outline none !important
body
	margin: 0 auto
	overflow-x: hidden
a
	color $link
	&:hover,
	&:focus
		color $link
.container
	@media(max-width 992px)
		max-width 960px
		margin 0 auto
.title
	margin-bottom 35px
	@media xs
		margin-bottom 20px
.cup
	cursor: pointer
.inner-title
	color #4d4d4d
	font-size 30px
	text-transform uppercase
	font-weight $fontm
	@media xs
		font-size 20px
.centered
	text-align center
.paddings
	padding 60px 0 75px 0
	@media xs
		padding 30px 0 35px 0
.gray-bg
	background #efefef
.white-bg
	background-color #ffffff
.button
	background-color #a4adb4
	border-radius 50px
	font-weight $fontm
	text-transform uppercase
	color #fff
	font-size 14px
	min-height 40px
	padding 0 37px
	transition all .3s ease
	border none
	@media xs
		font-size: 12px
	&:hover,
	&:focus
		background-color $orange
		cursor pointer
		text-decoration none
		color #fff
	&.orange-button
		background-color $orange
		&:hover,
		&:focus
			color #fe7d00
			text-decoration: none
			background-color: #fff
			font-weight: bold
			border 2px solid #fe7d00
.get-bonus
	position absolute
	right -140px
	top -40px
	z-index 99
	transition 0.4s linear
	cursor: default
	@media xs
		top -20px
		right -145px
	@media sm
		top -20px
		right 53px
	@media md
		right -123px
		top -40px
.get-bonus-img
	width 120px
	height 170px
	background-size: contain
	background-repeat: no-repeat
	background-position: center
	@media xs
		width 100px
		height 140px
	@media sm
		width 100px
		height 150px
.apply
	min-height 303px
	background-image url('/img/decor-bg.jpg')
	text-align center
	padding-top 70px
	@media xs
		min-height 213px
	.title
		margin-bottom 20px
	.button
		margin-top 30px
	&.decor-bg-light
		background-image url('/img/decor-bg-light.jpg')
	&.paddings
		padding 60px 0
		@media xs
			padding: 30px 0
.page-banner
	position relative
	.button
		padding 0 37px
		&:hover, 
		&:focus
			color #fe7d00
			text-decoration: none
			background-color: #fff
			font-weight: bold
			border 2px solid #fe7d00
	&-title
		font-weight $fontm
		font-size 48px
		text-transform uppercase
		margin 0 0 40px 0
	&-text p
		color #444
		font-size 18px
.slick-dots
	li
		button:before
			font-size 14px
			color #a4adb4
			opacity 1
		&.slick-active
			button:before
				font-size 14px
				color $orange
*:focus
	outline-color #fe7d00 !important
.s
	&-white
		color white
		.main-slider-item-title
			color white
		.main-slider-item-text
			color white
			font-weight: 500
.modal-open
	padding-right: 0px !important
	@media lg
		// margin-right: -17px
@-moz-document url-prefix()
	.modal-open
		margin-right: 0px
.d
	&-none
		display: none !important
	&-xs
		&-block
			@media xs
				display: block;
		&-none
			@media xs
				display: none;
.back-chevron-round
	position: absolute
	top 0
	left: 0
	margin-top: 10px
	margin-left: 20px
	font-size: 30px
	background-color: #fe7d00
	color #fff
	border #fe7d00 1px solid
	border-radius: 50%
	height 36px
	width 36px
	text-align: center
	cursor: pointer
	box-shadow 0 0 18px 0px #00000047
	transition 0.4s linear
	i
		transform translateY(-7%) translateX(-10%)
	&:hover
		transition 0.4s linear
		box-shadow 0 0 9px 0 rgba(0,0,0,.278)
		color #fe7d00
		background-color: #fff
.page
	&-404
		height 50vh
		@media md
			height: 16vh
		@media sm
			height: 16vh
		@media xs
			height: 16vh
		.description
			position: relative
			height: 100%
			text-align: center
			h4
				position: absolute
				right: 0
				left: 0
				margin: 0 auto
				transform: translateY(-50%)
				top 38%
	&-content
		&--gray
			background-color #efefef
.noselect
	user-select none
.mb
	&-0
		margin-bottom 0
	&-30
		margin-bottom 30px
	&-15
		margin-bottom 15px
	&-25
		margin-bottom 25px
	&-md
		&-15
			@media md
				margin-bottom 15px
			@media sm-all
				margin-bottom 15px
.mt
	&-30
		margin-top 30px
	&-15
		margin-top 15px
	&-25
		margin-top: 25px
	&-22
		margin-top: 22px
.pt
	&-20
		padding-top 20px
	&-15-10
		padding-top 15px
		@media sm-all
			padding-top 10px
.py
	&-0
		padding-top 0
		padding-bottom 0
	&-8
		padding-top 8px
		padding-bottom 8px
.my
	&-8
		margin-top 8px
		margin-bottom 8px
.px
	&-20
		padding-right 20px
		padding-left 20px
.t
	&-500
		font-weight: 500
.pr
	&-10
		padding-right 10px
.pb
	&-30
		padding-bottom 30px
.avaible
	width: stretch;
.oh
	&-y
		overflow-y hidden
	&-x
		overflow-x hidden
	&-xy
		overflow hidden
.tdn
	text-decoration: none
	&:hover
		text-decoration: none
.js-addToBasket.disabled
	cursor default
	&:hover,
	&:active
		color #fe7d00
	&+ .popover
		color black
.js
	&-rating
		display: flex
		flex-direction row-reverse
		justify-content flex-end
		margin-top: 8px
		i.fa-star
			cursor: pointer
			&:hover 
				color #ffc809
			&:hover ~ .fa-star
				color #ffc809
	&-wrap
		&-preload
			visibility hidden
			opacity 0
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			background-image url('/img/preloaders/rounded.svg')
			background-repeat: no-repeat
			background-position: center
			&.active
				visibility: visible
				opacity 1	
		&-container,
		&-container-rest
			position: relative
			min-height 80vh
			&.preload
				.js-wrap-preload
					visibility visible
					opacity 1
					background-color: #efefef
					z-index: 999
.product-slides__container
	position: relative
	min-height 80vh
	margin-top 71px
	&.preload
		.js-wrap-preload
			visibility visible
			opacity 1
			background-color: #efefef
			z-index: 999
.upp
	text-transform: uppercase
	font-weight 500
.clear
	&__table
		margin 0
		tr,th,td
			border 0
.mi
	&-w
		&150
			min-width: 150px
.settings
	&-table
		&__label
			color: #545454;
			font-size: 14px;
			font-weight: 500;
		&__input
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			background-color: #ffffff;
			width 100%
			height: 42px;
			padding 10px 16px
			&--error
				color: #ff5722 !important
				border-color #ff5722 !important
		&__delete,
		&__added
			color: #fe7d00;
			font-size: 14px;
			font-weight 500
			cursor: pointer
		&__delete
			&--small
				display: none;
				font-size: 28px
				@media xs
					display: inline-block
		&__added
			position: relative
			padding-left: 28px
			&:after,
			&:before
				position: absolute
				left 0
				top 50%
				transform translateY(-50%)
				content ''
				background-color #fe7d00
			&:after
				width: 2px
				margin-left: 6.5px;
				height: 14px
			&:before
				width: 14px
				height: 2px
.smooth
	&:after
		content ''
		display: block
		position: absolute
		left 0
		top 0
		width 100%
		height 100%
		background-color #a4adb4
		border-radius inherit
.thumb
	font-size: 30px
	color #b3aeae
	transition .2s
	&-red
		&:hover,
		&:active
			color: #ff5722
		&.check
			color: #ff5722
	&-orange
		&:hover,
		&:active
			color: #ff9800
		&.check
			color: #ff9800
.order-billet
	display: none
	min-height: 81px;
	background-color: #fe7d00;
	width: 100%;
	z-index 99999
	padding-top: 15px
	padding-bottom 15px
	&.show
		display: block
		position: fixed;
		bottom: 0;
		left 0
	&__container
		display flex
		justify-content space-between
		align-items center
		@media xs
			flex-direction: column;
		a
			&:active
				color #737171
			&:hover,
			&:focus
				color #141414
	&-food
		background-image: url('/img/food-solid.png');
		background-size: cover
		width: 43px;
		height: 28px;
		margin-right: 15px
	&-smalltext
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		margin-right: 12px
	&-cost
		font-size: 24px;
		font-weight: 500;
		color: #ffffff;
	&__wrap
		display flex
		align-items center
		justify-content space-between
		@media xs
			flex-direction: column;
			span
				text-align: center;
			padding-bottom 18px
	&-go
		border-radius: 22px;
		background-color: #ffffff;
		border: 1px solid #ffffff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		padding 10px 22px
		display: block
		max-height: 44px;
		color #f37c30
		span
			color: #000000;
			vertical-align: middle
			&:hover
				color: #000000;
#driver-popover
	font-family: 'Pacifico',sans-serif!important
div#driver-popover-item
	.driver-popover
		&-description
			font-family: 'Pacifico',sans-serif!important
			padding 18px
			font-size: 16px
		&-footer
			button
				padding 5.8px 10px
				text-shadow unset
				color #ffffff
				border-color #a3adb4
				background-color: #a3adb4
				border-radius: 22px
				transition .1s
				font-size 16px
				&:hover
					color #f37c30
					background-color: #FFF
					border-color: #f37c30
			.driver
				&-next-btn
					background-color: #f37c30
					border-color #f37c30
.searchbig
	&-result
		background-color white
		padding 15px
		border-radius 12px
		box-shadow: 0 0 2px #00000066
		min-height 25px
		margin 10px 0px
		color: #767679;
		font-weight: 500;
		border 2px solid transparent
		transition .25s
		&:hover
			color #ff9800
			border-color #ff9800
			box-shadow: 0 0 2px #ff9800
			text-decoration none
// font-family: Pacifico
// background-color: #f9eecc;
// font-size: 16px;
// border-color: #ccb280;
// width: 100%;
// border-radius: 20px;
// text-align: center;
// border-bottom-color: #ccb280;
// просто коммит
@import '_index'
@import '_agreement'
@import '_news'
@import '_news_inside'
@import '_about-us'
@import '_auto'
@import '_dishes-page'
@import '_contacts'
@import '_delivery'
@import '_page'
@import '_head-list'
@import '_list-table'
@import '_specific'
@import '_list-table--content'
@import '_customer-order'
@import '_customer-order-content'
@import '_customer-order--comment-sum'
@import '_customer-order--geo'
@import '_customer-order-back'
@import '_customer-orders'
@import '_customer-orders-content'
@import '_chat'
@import '_micro-nav'
@import '_basket'
@import '_in_basket'
@import '_notify'
@import '_modal-courier'
@import '_search-bar'

.posr
	position relative
.poss
	position: static
#dropdownMenu1
	position: static
	&~ ul.dropdown-menu.drop-menu.menu-2
		// flex-direction row
		flex-direction column
		// justify-content space-between
		justify-content flex-start
		// align-items center
		align-items flex-start
		flex-wrap wrap
		width: auto
		top 45px
		height 250px
		@media xs
			top 110px
.open ul.kostyl.dropdown-menu.drop-menu.menu-2
	display: flex
.xdsoft_datetimepicker.xdsoft_inline
	@media xs
		width: 100%
.form-group
	.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
	.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
	.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current
		background-color: #fe7d00
li .adress
	white-space normal !important
	word-wrap break-word
.specific
	&-modal
		&__container
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			margin: 0 -8px;
			button
				width: calc(50% - 20px);
				@media xs
					width: calc(100% - 20px);
					margin-bottom: 10px
					&:last-child
						margin-bottom: 0px
			@media xs
				flex-direction:column;
.text
	&--gray
		color #5e5e5e
		text-decoration none
	&--hover
		&-orange
			&:hover,
			&:active,
			&:focus
				color #fe7d00
				text-decoration: none
	&.active
		color #ffb200
.js-rate
	i.fa-star
		cursor pointer

.search-geo
	position: absolute;
	top: calc(100% - 1px)
	width: 100%;
	background-color: #ffffff;
	border: 1px solid;
	border-color #d4d4d4
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index 927
	transition ease-in-out .15s
	ul
		margin-top 10px
		list-style: none;
		padding: 0
		li
			padding: 2px 20px;
			transition .1s linear
			text-align left
			cursor pointer
			&:hover,
			&:focus
				background-color #a3adb42e
		err
			padding: 10px