.container
	.account.mt-30
		.account__info
			.account__info-block
				span.account__info-block__item Телефон:
				span.account__info-block__number +77073535119
			.account__info-block    
				span.account__info-block__item Адрес:
				span.account__info-block__text Такой-то такой-то
				.dropdown.account-dropdown
					button#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
						span.caret
						|Еще 3 адреса
					ul.dropdown-menu.drop-menu.menu-2.dre(aria-labelledby='dropdownMenu1')
						li
							a(href='#') Адрес 1
						li
							a(href='#') Адрес 2
						li
							a(href='#') Адрес 3
						li
							a(href='#') Адрес 4
			.account__info-block
				span.account__info-block__item Бонусов:
				span.account__info-block__number 3400
				a.account__info__link(href="/html/cabinet-customer-bonus.html").
					История бонусов
		.account__info
			button.btn.button.account__info__item Редактировать данные