.white__block.basket-order
	.row.order
		.col-md-5.col-lg-4
			.order-order
				.order-image
					.order__image(style="background-image:url('../img/reviews/japanese.png'); background-repeat:no-repeat;")
				.order-name-type
					p.order__order-name три самурая
					span.order__order-type Ресторан
		.col-md-3.col-lg-5
			ul.order-amt-count
				li.order__order-amt 2 блюда
				li.order__order-count 4800 тг.
			ul.order-delivery-cost
				li.order__order-delivery доставка
				li.order__order-cost 600 тг.
		.col-md-3.col-lg-3
			a.tdn
				.order__delete Убрать заказ из этого ресторана
	.row.order-content
		.col-xs-12.col-sm-6.col-md-4
			.order-order-content
				.order-content-image
					.order-content__dishes(style="background-image:url('../img/dishes/popular-dish2.jpg'); background-repeat:no-repeat;")
				.order-content-name.order-content__order-name роллы калифорния, 8 шт
		.col-xs-12.col-sm-6.col-md-5
			ul.order-content-price(style="padding:0;")
				li.order-content__order-price 1200 тг.
				li.order-content__order-portion Порций:
					span.basket__button-counter--elements
						span.basket__button-counter--elem.basket__button-counter--minus
						input(value="0").basket__button-counter
						span.basket__button-counter--elem.basket__button-counter--plus
		.col-xs-12.col-md-3
			ul.order-content-sum
				li.order-content__order-sum Сумма: 
					span.order-content__order-count 2 400 тг.