each review in restoraunts
	-;
	.white__block
		.col-xs-12.col-sm-8.col-md-9.col-lg-9.restoraunt-main-b.restoraunt-main-list
			.restoraunt__image.restoraunt__image--pd
				.restoraunt__image-item(style="background-image:url('/img/cabinet-restoraunts/rest-2.jpg');")
			.restoraunt__wrap.restoraunt__wrap--ml.restoraunt__wrap--ml-list
				.restoraunt__wrap--flex.restoraunt__wrap--flex-wrap.restoraunt__wrap--flex-aic
					.inner-review__title.inner-review__title--uppercase #{ review.title }
					.restoraunt__stars
						span.restoraunt__stars-resto.
							Ресторан
						i.fas.fa-star.rate-star.active
						i.fas.fa-star.rate-star.active
						i.fas.fa-star.rate-star.active
						i.fas.fa-star.rate-star
						i.fas.fa-star.rate-star
				.restoraunt__wrap
					.restoraunt__text.restoraunt__text--12.restoraunt__text-pt.
						Прием заказов: Круглосуточно
					.restoraunt__text.restoraunt__text--12.restoraunt__text-pt.
						Кухня: Кавказская | Европейская | Казахская | Пиво | Шашлык | Пицца
				.restoraunt__wrap--aflex.restoraunt__logopay-container.pt-15-10
					.restoraunt__logopay
						img(src="/img/cabinet-restoraunts/visa.png")
					.restoraunt__logopay
						img(src="/img/cabinet-restoraunts/master.png")
				.restoraunt__wrap--flex.restoraunt__bottom-menu
					.restoraunt__wrap-hlist.pt-15-10
						a
							span Меню
						a 
							span Информация
						a 
							span Отзывы
					.restoraunt__wrap.pt-15-10
						.restoraunt__like
							i.fas.fa-heart.like--active
							span Убрать из избранных
		.col-xs-12.col-sm-4.col-md-3.col-lg-3
			.restoraunt__wrap.pt-15-10
				.restoraunt__text-m.ta-l.
					Минимальная сумма:
				.restoraunt__text-b.ta-l.
					3000 тг.
			.restoraunt__wrap.pt-15-10
				.restoraunt__text-m.ta-l.
					Доставка:
				.restoraunt__text-b.ta-l.
					Доставка Ресторана
		.restoraunt__share.restoraunt__share--orange Акции