.white__block.courier-order
	.courier-order__block #{order.date}
	.courier-order__block.courier-order__block--number #{order.number}
	.courier-order__block #{order.adress}
	.courier-order__block #{order.state}
	.courier-order__block.courier-order__block--buttons
		each button in order.buttons
			-;
			unless button.active
				-;
				.button-standard.button-standard--mini.my-8 #{button.title}
			else
				-;
				.button-standard.button-standard--mini.button-standard--orange.my-8 #{button.title}