.container
	.courier.mt-22
		.courier__info
			.courier__info-block
				span.courier__headline Телефон
				span.courier__caption--tel +77073535119
			.courier__info-block
				span.courier__headline Транспорт
				span.courier__caption Пешком
			.courier__info-block
				span.courier__headline Рейтинг
				.courier-review__stars
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star.active
			.courier__info-block
				span.courier__headline Баланс
				span.courier__caption 5600
		.courier__buttons
			button.courier__btn-new_order.white-bg
				span.courier__button-text 2 новых заказа
			.courier__button-block
				button.btn.button-courier.courier__btn-edit Редактировать данные
				button.btn.button-courier.courier__btn-options(data-target="#modal-settings" data-toggle="modal") Параметры заказов
