.container
	.white__block.white__block--big-px
		.white__row
			.white-row__block
				.order-geo__title Время:
				.order-comment__desc.t-500 01.12.2018  в 12:47
			.white-row__block
				.order-geo__title Адрес доставки:
				.order-comment__desc.t-500 Ул. Сатыбалдина - пр. Кунанбаева
			.white-row__block
				.order-geo__title Сумма заказа:
				.order-comment__desc.t-500 13 400 тг.
			.white-row__block
				.order-geo__title Сумма доставки:
				.order-comment__desc.t-500 1 000 тг.
			.white-row__block
				.order-geo__title Статус:
				.order-comment__desc.t-500 Поиск исполнителя
		.white__row
			.white-row__block
				.order-geo__title Комментарий к заказу:
				.order-comment Привезите заказ после 6 часов пожалуйста, а то нас не будет дома
			.white-row__block
				each button in buttons
					-;
					unless button.active
						-;
						.button-standard.button-standard--mini.my-8.button-standard-xs-100 #{button.title}
					else
						-;
						.button-standard.button-standard--mini.button-standard--orange.button-standard-xs-100.my-8 #{button.title}