.container
	.white__block.white__block--min-px
		.white__row
			.white-row__block
			.white-row__block.white__block-xs-w100
				each button in buttons
					-;
					unless button.active
						-;
						.button-standard.button-standard--mini.my-8.button-standard-xs-100 #{button.title}
					else
						-;
						.button-standard.button-standard--mini.button-standard--orange.button-standard-xs-100.my-8 #{button.title}