.container.order-back.order-back--flex
	.order-back-label__number №19032918
	.order-back-label
		span.order-back-label__title Время:
		span.order-back-label__text 01.12.2018  в 12:47
	.order-back-label
		span.order-back-label__title Статус:
		span.order-back-label__text Оформлен
	.order-back_button
		a(href="#")
			.btn.order-back-button 
				.order-back_image(style="background-repeat:no-repeat;") 
				span.order-back_name Вернуться в списку заказов