.row.orders-content
	.col-xs-12.col-md-6
		.orders-orders-content
			.orders-content-image
				.orders-content__image(style="background-image:url('../img/reviews/japanese.png'); background-repeat:no-repeat;")
			.orders-content-name
				span.orders-content__orders-name Ресторан "Три толстяка"
	.col-xs-12.col-md-6
		.orders-content-price
			span.orders-content__price 2 блюда на сумму 6 500 тг.