.container
	.white__block
		.container.order
			.row
				.col-xs-12.col-sm-5.col-md-3
					.order-order
						.order-image
							.order__image(style="background-image:url('../img/reviews/japanese.png'); background-repeat:no-repeat;")
						.order-name-type
							p.order__order-name три самурая
							span.order__order-type Ресторан
				.col-xs-12.col-sm-7.col-md-9
					ul.order-amt-count
						li.order__order-amt 2 блюда
						li.order__order-count 4800 тг.
					ul.order-delivery-cost
						li.order__order-delivery доставка
						li.order__order-cost 600 тг.
		include _customer-order-content.pug
		include _customer-order-content.pug