.row.order-content
	.col-xs-12.col-md-6.col-lg-6
		.order-order-content
			.order-content-image
				.order-content__dishes(style="background-image:url('../img/dishes/popular-dish2.jpg'); background-repeat:no-repeat;")
			.order-content-name
				.order-content__order-name роллы калифорния, 8 шт
	.col-xs-12.col-sm-5.col-md-3.col-lg-3
		.order-content-price
			ul.order-content_price
				li.order-content__order-price 1200 тг.
				li.order-content__order-portion Порций: 
					span.order-content-amt 2 
	.col-xs-12.col-sm-7.col-md-3.col-lg-3
		ul.order-content-sum
			li.order-content__order-sum Сумма: 
			li.order-content__order-count 2 400 тг.