.container.order-geo
	.white__block
		.container
			.row
				.col-md-3
					.order-geo-image
						.order-geo__image(style="background-image:url('../img/courier-pic.png'); background-repeat:no-repeat;")
					.order-geo-courier
						ul.order-geo__courier
							li Ваш курьер:
							li Антон Курьерский
				.col-md-3
					.order-geo-status
						ul.order-geo__status
							li Статус доставки:
							li В пути
		include _customer-order--geo-map.pug