.container
	.white__block
		.container.orders
			.row
				.col-md-6
					ul.orders-number-date
							li.orders__orders-number №19032918
							li.orders__orders-date 01.12.2018 в 12:47
				.col-md-6
					.orders-total-status
						ul.orders-total
								li Итого:
								li.orders__orders-total 20 700 тг.
						ul.orders-status
								li Статус:
								li.orders__orders-status В обработке
		include _customer-orders-content.pug
		include _customer-orders-content.pug
		include _customer-orders-details.pug
