.container.order-back
	.order-back_button
		a(href="#")
			.btn.order-back-button.pull-right 
				.order-back_image(style="background-repeat:no-repeat;") 
				span.order-back_name Вернуться в списку заказов