each review in restoraunts
	-;
	.white__block--box-shadow
		.white__block.white__block--bb-n
			.col-xs-12.col-sm-8.col-md-9.col-lg-9.restoraunt-main-b.restoraunt-main-list
				.restoraunt__image.restoraunt__image--pd
					.restoraunt__image-item(style="background-image:url('/img/cabinet-restoraunts/rest-2.jpg');")
				.restoraunt__wrap.restoraunt__wrap--ml.restoraunt__wrap--ml-list
					.restoraunt__wrap--flex.restoraunt__wrap--flex-wrap
						.inner-review__title.inner-review__title--uppercase #{ review.title }
						.restoraunt__stars
							span.restoraunt__stars-resto.
								Ресторан
							i.fas.fa-star.rate-star.active
							i.fas.fa-star.rate-star.active
							i.fas.fa-star.rate-star.active
							i.fas.fa-star.rate-star
							i.fas.fa-star.rate-star
					.restoraunt__wrap
						.restoraunt__text.restoraunt__text--12.restoraunt__text-pt.
							Прием заказов: Круглосуточно
						.restoraunt__text.restoraunt__text--13.restoraunt__text-pt.
							Кухня: Кавказская | Европейская | Казахская | Пиво | Шашлык | Пицца
					.restoraunt__wrap--aflex.restoraunt__logopay-container.pt-15-10
						.restoraunt__logopay
							img(src="/img/cabinet-restoraunts/visa.png")
						.restoraunt__logopay
							img(src="/img/cabinet-restoraunts/master.png")
					.restoraunt__wrap--flex.restoraunt__bottom-menu
						.restoraunt__wrap-hlist.pt-15-10
							a
								span Меню
							a 
								span Информация
							a 
								span Отзывы
						.restoraunt__wrap.pt-15-10
							.restoraunt__like
								i.fas.fa-heart.like
								span В избранное
			.col-xs-12.col-sm-4.col-md-3.col-lg-3
				.restoraunt__wrap.pt-15-10
					.restoraunt__text-m.ta-l.
						Минимальная сумма:
					.restoraunt__text-b.ta-l.
						3000 тг.
				.restoraunt__wrap.pt-15-10
					.restoraunt__text-m.ta-l.
						Доставка:
					.restoraunt__text-b.ta-l.
						Доставка Ресторана
			.restoraunt__share.restoraunt__share--orange Акции
		.white__block-wrapper--light
			.col-xs-12
				.dishes-list.py-0.slider(data-slider="dishesSliderOnMain")
					.dish.dish--mr20
						a(href="#").dish-pic
							img(src="/img/dishes/popular-dish.jpg", alt="")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
					.dish.dish--mr20
						a(href="#").dish-pic
							img(src="/img/dishes/popular-dish.jpg", alt="")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
					.dish.dish--mr20
						a(href="#").dish-pic
							img(src="/img/dishes/popular-dish.jpg", alt="")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
					.dish.dish--mr20
						a(href="#").dish-pic
							img(src="/img/dishes/popular-dish.jpg", alt="")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
					.dish.dish--mr20
						a(href="#").dish-pic
							img(src="/img/dishes/popular-dish.jpg", alt="")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать