span.dropdown.drop-order-dropdown
	button#sortBy.dropdown-toggle.dropdown-toggle--caret-left(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
		span.caret
		| Расстоянию
	ul.dropdown-menu.dropdown-menu--right.drop-menu.menu-2.dre(aria-labelledby='sortBy')
		li
			a(href='#') Action
		li
			a(href='#') Another action
		li
			a(href='#') Something else here
		li
			a(href='#') Separated link