footer(role="contentinfo")
	.container
		.row
			.col-xs-12.col-sm-9.col-md-9.col-lg-10.none-padding
				.col-xs-12.col-sm-6.col-md-6
					ul.f-nav
						li.f-nav-item
							a(href="/html/about-us.html").f-nav-item-link о нас
						li.f-nav-item
							a(href="/html/news.html").f-nav-item-link новости
						li.f-nav-item
							a(href="/html/shares.html").f-nav-item-link акции
						li.f-nav-item
							a(href="/html/contacts.html").f-nav-item-link контакты
						li.f-nav-item
							a(href="/html/delivery.html").f-nav-item-link Доставка и оплата
						li.f-nav-item
							a(href="/html/agreement.html").f-nav-item-link пользовательское соглашение
				.col-xs-12.col-sm-6.col-md-6.none-padding
					.f-links.gray-bg
						.f-link
							a(href="#").f-link-pic
								img(src="/img/icons/car.png", alt="")
							.f-link-info
								.f-link-title У вас есть транспорт?
								a(href="#").f-link-subtitle Зарабатывайте
						.f-link
							a(href="#").f-link-pic
								img(src="/img/icons/pizza.png", alt="")
							.f-link-info
								.f-link-title вы вкусно готовите?
								a(href="#").f-link-subtitle Добавьте свои блюда
			.col-xs-12.col-sm-3.col-md-3.col-lg-2
				.social-buttons-wrap
						p.social-buttons-title мы в соцсетях:
						.social-buttons.light-social-buttons
							a(href="#").social-button
								i.fab.fa-twitter
							a(href="#").social-button
								i.fab.fa-instagram
							a(href="#").social-button
								i.fab.fa-facebook
