.container.bonus-list
	.row
		.col-xs-9
			h6.bonus-list__title.bonus-list__title--up История бонусов
		.col-xs-3
			.bonus-title-count
				span.bonus-list__bonus-title Всего бонусов: 
				span.bonus-list__bonus-count 1500 