header(role="banner")
  .container
    .row
      .col-xs-12.col-sm-12.col-md-3
        .logo-wrap
          a.logo(href="/")
            img(src="/img/logo_1.png", alt="")
      .col-xs-12.col-sm-12.col-md-5
        form(action="#", method="GET").search-wrap
          .input-group
            button.search-button(type='submit')
            input.form-control.search-input(type='text', placeholder='Ресторан или блюдо',data-toggle="popover",data-content="Поисковая строка поможет найти Вам любимое блюдо либо ресторан", data-trigger="hover",data-placement="left")
          p.search-title.noselect Популярные запросы: <b class="popular-query">Как заказать? , Отзывы </b>
      .col-xs-12.col-sm-12.col-md-3
        .h-info
          .h-button
            button(data-toggle="modal",data-target="#main-modal").btn.auth-button вход / регистрация
              //- Новый блок Тима добавь в php плез
            .button-bonus(data-toggle="popover",data-content="Для того, чтобы получать бонусы от каждой покупки, зарегистрируйтесь или войдите в свой личный кабинет", data-trigger="hover")
              a(href="#").button-bonus__present
          .h-phone
            p.h-phone-text.noselect Позвонить нам:
            a(href="tel:+71234567890") +7 123 456 78 90