head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no")
	title Tamaq
	link(rel="stylesheet", href="/vendor/bootstrap/bootstrap.min.css")
	link(rel="stylesheet", href="/vendor/bootstrap-select/bootstrap-select.min.css")
	link(rel="stylesheet", href="/vendor/slick/slick.css")
	link(rel="stylesheet", href="/vendor/slick/slick-theme.css")
	link(rel="stylesheet", href="/vendor/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="/vendor/fontawesome-5.5.0/css/all.min.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;subset=cyrillic")
	link(href="https://fonts.googleapis.com/css?family=Pacifico",rel="stylesheet")
	link(rel="stylesheet", href="/css/default.css")
	link(rel="stylesheet", href="/css/style.css")
	link(rel='apple-touch-icon', sizes='57x57', href='/img/favicon/apple-icon-57x57.png')
	link(rel='apple-touch-icon', sizes='60x60', href='/img/favicon/apple-icon-60x60.png')
	link(rel='apple-touch-icon', sizes='72x72', href='/img/favicon/apple-icon-72x72.png')
	link(rel='apple-touch-icon', sizes='76x76', href='/img/favicon/apple-icon-76x76.png')
	link(rel='apple-touch-icon', sizes='114x114', href='/img/favicon/apple-icon-114x114.png')
	link(rel='apple-touch-icon', sizes='120x120', href='/img/favicon/apple-icon-120x120.png')
	link(rel='apple-touch-icon', sizes='144x144', href='/img/favicon/apple-icon-144x144.png')
	link(rel='apple-touch-icon', sizes='152x152', href='/img/favicon/apple-icon-152x152.png')
	link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-icon-180x180.png')
	link(rel='icon', type='image/png', sizes='192x192', href='/img/favicon/android-icon-192x192.png')
	link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='96x96', href='/img/favicon/favicon-96x96.png')
	link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
	link(rel='manifest', href='/manifest.json')
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi8IU4G_sXvagrmFeK2Nr2jGw8y0DyDso")
	meta(name='msapplication-TileColor', content='#ffffff')
	meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
	meta(name='theme-color', content='#ffffff')