.basket-bottom__container.basket-bottom__container--orange.basket-bottom__container--active
	.container
		.basket-bottom__container-inner
			.basket-bottom__wrapper
				.basket-bottom__text.basket-bottom__text--white.basket-bottom__text--dinner.basket-bottom__text--white
					| Ваш заказ на сумму:
					span.basket-bottom__text--bold 2400 тг.
			.basket-bottom__wrapper
				a(href="").button-standard.button-standard--white Перейти в корзину