<!DOCTYPE html>
html.page(lang="en")
	include _head.pug
	body
		.page-inner.addTopApp
			include _header-authorized.pug
			main.page-content.page-content--gray
				block content
			include _footer.pug
			include _button_up.pug
			include _modal.pug
		script(src="../../vendor/jquery/jquery.min.js")
		//- script(src="../../vendor/jquery.chained.remote.min.js")
		script(src="../../vendor/bootstrap/bootstrap.min.js")
		script(src="../../vendor/bootstrap-select/bootstrap-select.min.js")
		script(src="../../vendor/slick/slick.min.js")
		script(src="../../vendor/fancybox/jquery.fancybox.min.js")
		script(src="../js/all.min.js")