<!DOCTYPE html>
html.page(lang="en")
	include _head.pug
	body
		.mobile-app.disable
			.mobile-app-container
				a.mobile-app-link(href="https://play.google.com/store/apps/details?id=com.google.android.apps.tasks&utm_source=Test&utm_campaign=Test&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1")
					img.mobile-app-image(src="https://play.google.com/intl/en_us/badges/images/generic/ru_badge_web_generic.png", alt='Доступно в Google Play')
				a.mobile-app-link(href="https://play.google.com/store/apps/details?id=com.google.android.apps.tasks&utm_source=Test&utm_campaign=Test&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1")
					img.mobile-app-image.mobile-app-apple(src="/img/mobile-icon/Download_on_the_App_Store.svg", alt='Доступно в Google Play')
			.mobile-app-close
				i.fas.fa-chevron-up
		//- .welcome-hero#welcome_hero
		//- 	img(src="/img/icons/welcome-hero.png", alt="")
		//- 	img(src="/img/icons/welcome-hero_text.png", alt="").welcome-hero__text
		//- 	a(href="#", class="welcome-hero_close" id="welcome_hero_close")
		.page-inner.addTopApp
			include _header.pug
			main.page-content.page-content--gray
				block content
			include _footer.pug
			include _button_up.pug
			include _modal.pug
		
		script(src="../../vendor/jquery/jquery.min.js")
		//- script(src="../../vendor/jquery.chained.remote.min.js")
		script(src="../../vendor/bootstrap/bootstrap.min.js")
		script(src="../../vendor/bootstrap-select/bootstrap-select.min.js")
		script(src="../../vendor/slick/slick.min.js")
		script(src="../../vendor/fancybox/jquery.fancybox.min.js")
		script(src="../js/all.min.js")