.container
	.table-filter
.container
	.white__block
		table
			thead
				tr.items
					th.item
					th.item
					th.item
					th.item
			tbody
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Пополнение
					td.item + 1200
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item - 2000
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item + 1200
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item - 2000
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item + 1200
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item - 2000
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item + 1200
				tr.items
					td.item 01.12.18 в 12:47
					td.item.item--bold Заказ №1056
					td.item Списание
					td.item - 2000