tbody
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item + 1200
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item - 2000
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item + 1200
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item - 2000
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item + 1200
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item - 2000
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item + 1200
	tr.items
		td.item 01.12.18 в 12:47
		td.item 019831
		td.item - 2000