form.white__block.white__block--big-px.js-menu-rest(style="display:flex; justify-content: space-between; flex-wrap:wrap;margin-top:0;")
		.wrap-dib
			.restoraunt-filter__title.restoraunt-filter__title--small Данные
			.micro-nav.micro-nav--small
				a(href="").pr-10.micro-nav__text.micro-nav__text--small.micro-nav__text--active Без регистрации
				a(href="").pr-10.micro-nav__text.micro-nav__text--small регистрация
				a(href="").pr-10.micro-nav__text.micro-nav__text--small вход
			input.basket-input(type="text" name="name" placeholder="* Имя Фамилия")
			input.basket-input(type="text" name="number" placeholder="Телефон")