each item in filters
	-;
	.wrap-dib
		.restoraunt-filter__title #{ item.title }
		each litem in item.list
			-;
			label.restoraunt-filter__checkbox
				input(type="checkbox")
				span.text #{ litem }
				span.checkmark
		.restoraunt-filter__hidden.js-filter-restoraunts-list
			.restoraunt-filter__hidden-container
				each litem in item.list
					-;
					label.restoraunt-filter__checkbox
						input(type="checkbox")
						span.text #{ litem }
						span.checkmark
			span.js-filter-restoraunts-list-btn.restoraunt-filter__hidden-text.restoraunt-filter__hidden-text-off Показать все (65)
			span.js-filter-restoraunts-list-btn.restoraunt-filter__hidden-text.restoraunt-filter__hidden-text-on Скрыть