form.white__block.white__block--big-px.js-menu-rest(style="display:flex; justify-content: space-between; flex-wrap:wrap")
	- var filters = [{'title':'Способы оплаты','list':['Оплата наличными курьеру', 'Оплата картой онлайн','Оплата бонусами']}];
	each item in filters
		-;
		.wrap-dib
			.restoraunt-filter__title #{ item.title }
			each litem in item.list
				-;
				label.restoraunt-filter__checkbox.restoraunt-filter__checkbox--radio
					input(type="radio" name="type_pay")
					span.text #{ litem }
					span.checkmark