.messages__wrapper
	.white__block.messages__message
		.messages__name Курьер
		.messages__text Здравствуйте. Что именно вам нужно подсказать?
		.messages__date
			span 01.12.2018
			span 12:47
.messages__wrapper.messages__wrapper--left
	.white__block.messages__message
		.messages__name.messages__name--user Вы
		.messages__text Здравствуйте!
		.messages__date.messages__date--left
			span 01.12.2018
			span 12:47