.modal.fade#modal-settings(role="dialog" style="display:none;")
	.modal-dialog.modal-dialog--autowidth
		.modal-body.modal-body__settings
			.modal-settings__title.
				настройка параметров заказов
			hr.modal-settings__hr
			.modal-settings__subtitle.mb-15
				|оплата работы
			.modal-settings__box.row.mt-4
				.col-xs-4
					label.restoraunt-filter__checkbox.restoraunt-filter__checkbox--radio.restoraunt-filter__checkbox--addsubtext
						input(name="type_pay" type="radio")
						span.text Не принимать
						span.subtext Вам не будут поступать заказы
						span.checkmark
				.col-xs-4
					label.restoraunt-filter__checkbox.restoraunt-filter__checkbox--radio.restoraunt-filter__checkbox--addsubtext
						input(name="type_pay" type="radio")
						span.text Рассматриваю все заказы
						span.subtext Вам будут поступать все заказы, и вы сможете принять их или отказаться
						span.checkmark
				.col-xs-4
					label.restoraunt-filter__checkbox.restoraunt-filter__checkbox--radio.restoraunt-filter__checkbox--addsubtext
						input(name="type_pay" type="radio")
						span.text Автоставка
						span.subtext Вам будут автоматически поступать заказы, соответствующие параметрам автоставки
						span.checkmark
			hr.modal-settings__hr
			.modal-settings__subtitle.mb-10
				|оплата работы
			.modal-settings__span.mb-15
				|Укажите минимальную сумму за заказ, которую вы хотели бы получить
			.modal-settings__box.row.mt-4
				.col-xs-4
		.modal-header
			button.close(type="button" data-dismiss="modal")
				|×