#main-modal.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				ul.nav.nav-tabs
					li.active
						a(href='#home', data-toggle='tab') вход
					li
						a(href='#profile', data-toggle='tab') регистрация
				button.close(type='button', data-dismiss='modal') ×
			.modal-body
				.tab-content
					form#home.tab-pane.active
						.form-group
							input.form-control.form-error(type='text',placeholder='Номер телефона',name='login')
							p.form-error__desc Неверный номер
						.form-group
							input.form-control(type='password',placeholder='Пароль',name='password')
						.form-control__password
							a(href='#').
								Забыли пароль?
						.share__buy-wrap
							a.share__buy(href='#').
								Войти
						.form-control__authorization
							| Авторизация через соцсети:
						.icon
							.icon_i
								i.fab.fa-facebook-f
							.icon_i
								i.fab.fa-vk
					form#profile.tab-pane
						.form-group
							label(for='name') Ваше имя
							input.form-control(type='text',,name='name', id='name')
						.form-group
							label(for='number') Телефон
							input.form-control(type='phone',,name='number', id='number')
						.form-group
							label(for='pass') Пароль
							input.form-control(type='password',,name='pass', id='pass')
						.share__buy-wrap
							a.share__buy(href='#').
								Зарегистрироваться
			//- .modal-footer
#bonus-modal.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h6.modal-title 
					a(href="#").
						бонусы
			.modal-body.
				 	Для того, чтобы получать бонусы от каждой покупки, зарегистрируйтесь или войдите в свой личный кабинет
			//- .modal-footer
#find-me-modal.modal.fade(role='dialog')
	.modal-dialog
		.modal-map#map-modal
		.modal-header
			button.close(type='button', data-dismiss='modal') ×
		form.modal-map-panel(data-panel="panel")
			.modal-panel-window
				.modal-panel-select
					.modal-map-title.
						Алматы
					label.modal-map-street
						span Укажите улицу
						input.form-control(required="required" type="text" name="custom-street")
					label.modal-map-house
						span Укажите дом
						input.form-control(required="required" type="text" name="custom-house")
				.modal-adress.hide.fade
					.modal-map-desc.
						Адрес доставки:
					.modal-map-title.
						Алматы, Кунаева 21б
			.modal-panel-control
				.control-okay.control-button.
					Да это верный адрес
				.control-no.control-button.
					Ввести вручную