.container-fluid.white-bg.mb-30.mt-25(style="padding:0!important;")
	.container
		ul.navbar-cabinet
			each item in nav
				if item.active
					li.active 
						a(href="#") #{item.title}
				else
					li
						a(href="" + item.url) #{item.title}