.order-comment-sum(style="overflow:hidden")
	.col-xs-12.col-sm-6(style="overflow:hidden")
		ul.order_comment
			li.order_comment__comment Ваш комментарий к заказу: 
			li.order_comment__content Привезите заказ после 6 часов пожалуйста, а то нас не будет дома
	.col-xs-12.col-sm-6(style="overflow:hidden")
		.order_sum
			ul.order_sum_cost
				li.order_sum__cost Предварительная стоимость:
				li.order_sum__cost-value 12 400 тг.
			ul.order_sum_delivery
				li.order_sum__delivery Доставка:
				li.order_sum__delivery-value 1000 тг.
			ul.order_sum_total
				li.order_sum__total Итого:
				li.order_sum__total-value 13 400 тг.