.container
	.page__wrap.page__wrap--flex.page__wrap--flex-alignA
		h1.page__title #{title}
			if count 
				-;
				span.page__title-and (#{count})
		.page__wrap.mb-md-15
			.page__sort Сортировать по:
				include _dropdown.pug