.restoraunt-big__slider
	.restoraunt-big__slide
		.restoraunt-big__slide-image(style="background-image:url('../img/cabinet-restoraunts/bigslide.png')")
		.restoraunt-big__slide-wrapper.restoraunt-big__slide-wrapper--flex
			.restoraunt-big__slide-wrapper2
				.restoraunt-big__slide-title Суши в подарок
				.restoraunt-big__slide-desc Фирменный соус для пиццы, моцарелла и пепперони
			.restoraunt-big__slide-wrapper--flex--row.restoraunt-big__slide-wrapper--flex--sm-col.mt-30
				.restoraunt-big__slide-price 2 400тг
				a 
					.restoraunt-big__slide-button Заказать
	.restoraunt-big__slide
		.restoraunt-big__slide-image(style="background-image:url('../img/cabinet-restoraunts/bigslide.png')")
		.restoraunt-big__slide-wrapper.restoraunt-big__slide-wrapper--flex
			.restoraunt-big__slide-wrapper2
				.restoraunt-big__slide-title Суши в подарок
				.restoraunt-big__slide-desc Фирменный соус для пиццы, моцарелла и пепперони
			.restoraunt-big__slide-wrapper--flex--row.restoraunt-big__slide-wrapper--flex--sm-col.mt-30
				.restoraunt-big__slide-price 2 400тг
				a 
					.restoraunt-big__slide-button Заказать