//- располагать только в контейнере!!!
each review in reviews
	-;
	.col-xs-12
		.inner-review__block.resto-review
			.col-xs-12.col-md-5.col-lg-4(style="display:flex;")
				.inner-review__wrap
					.inner-review__title #{ review.title }
					.inner-review__date #{ review.date }
			.col-xs-12.col-md-5.col-lg-6
				.inner-review__text.
					#{ review.text }
			.col-xs-12.col-md-2.col-lg-2(style="text-align:right;")
				.inner-review__stars
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star.active
					i.fas.fa-star.rate-star
					i.fas.fa-star.rate-star