.container.restoraunt-reviews__container.pb-30
	.white__block.restoraunt-reviews__textarea.mb-0
		textarea
	.restoraunt-reviews__rating-wrapper
		.restoraunt-reviews__descw
			.restoraunt__stars-resto Поставьте рейтинг заведению:
			.restoraunt__stars-rating.js-rating
				i.fas.fa-star.rate-star
				i.fas.fa-star.rate-star
				i.fas.fa-star.rate-star
				i.fas.fa-star.rate-star
				i.fas.fa-star.rate-star
		.button-standard.btn.mt-15 оставить отзыв