.restoraunt-sidebar__wrapper
	a.restoraunt-sidebar__title.restoraunt-sidebar__title--active Акции
	a.restoraunt-sidebar__title Новинки
	a.restoraunt-sidebar__title Популярные
	a.restoraunt-sidebar__title Сеты
	a.restoraunt-sidebar__title Роллы
	a.restoraunt-sidebar__title Суши
	a.restoraunt-sidebar__title Рыба и морепродукты
	a.restoraunt-sidebar__title Сашими
	a.restoraunt-sidebar__title Дим-самы
	a.restoraunt-sidebar__title Холодные закуски
	a.restoraunt-sidebar__title Птица и мясо