form.white__block.white__block--big-px.js-menu-rest(style="display:flex; justify-content: space-between; flex-wrap:wrap")
	- var filters = [{'title':'Критерии','list':['С акциями', 'Круглосуточно','Работают сейчас']},{'title':'По расстоянию','list':['10км', '5км','1км']}];
	include _menu-content.pug