//- располагать только в контейнере!!!
each review in reviews
	-;
	.col-xs-12
		.inner-review__block.inner-review__wrap--vam
			.col-xs-12.col-md-8.col-lg-8.inner-review--sm-specific
				.inner-review__text.
					#{ review.text }
			.col-xs-12.col-md-4.col-lg-4.inner-review__wrap--right.inner-review__wrap--flex-start.inner-review--sm-specific2
				.inner-review__wrap.inner-review__wrap--ib
					.inner-review__rate.
						Вам поставили рейтинг:
					.inner-review__stars
						i.fas.fa-star.rate-star.active
						i.fas.fa-star.rate-star.active
						i.fas.fa-star.rate-star.active
						i.fas.fa-star.rate-star
						i.fas.fa-star.rate-star