extends _layout.pug

block content
	.about-us.gray-bg
		include _breadcrumbs.pug
		.container
			h2.about-us__title.
				о нас
			.about-us__item
				.row
					.col-md-12
						.about-us__item__title.
							Тамак - это сервис быстрой доставки еды из ресторанов и кафе
						.about-us__item__desc.
							Основным преимуществом сервиса является скорость доставки и отслеживание курьера в режиме “online” за те же деньги.
			.about-us__mission
				.row
					.col-md-12.col-sm-12.col-xs-12.col-lg-2
						h3.about-us__mission__title.
							миссия:
					.col-md-12.col-lg-10
						.col-md-4.col-sm-12.col-xs-12
							.about-us__mission__item
								img(src="../img/about-us/pizza.png", alt="")
								.about-us__mission__desc.
									доставлять ГОРЯЧУЮ еду 
						.col-md-4.col-sm-12.col-xs-12
							.about-us__mission__item
								img(src="../img/about-us/pizzeria.png", alt="")
								.about-us__mission__desc.
									из любимых ресторанов города
						.col-md-4.col-sm-12.col-xs-12
							.about-us__mission__item
								img(src="../img/about-us/man-us-pizza.png", alt="")
								.about-us__mission__desc.
									до дверей наших друзей
			.about-us__worth
				.row
					.col-lg-3.col-xs-12.col-sm-12.col-md-4
						h3.about-us__worth__title.
							ОСНОВНЫЕ ЦЕННОСТИ:
					.col-lg-9.col-xs-12.col-sm-12.col-md-8
						.about-us__worth__item
							ol.list-unstyled
								li
									h6.about-us__worth__subtitle.
										Мы клиентоориентированы.
									| Мы понимаем, что успех предприятия во многом зависит от клиентов/курьеров и от уровня заботы, которую мы проявляем по отношению к ним.
								li
									h6.about-us__worth__subtitle.
										Мы креативны и инициативны.
									| Мы умеем сами формировать новые тенденции развития и внедрять свежие идеи раньше, чем это делается в конкурирующих компаниях. Мы стремимся выполнять работу как можно лучше, достигать оптимальных результатов и сформировать эффективную организационную среду.
								li
									h6.about-us__worth__subtitle.
										Мы дисциплинированы и любим упорядоченность.
									|У нас налажена система деловых процессов, рациональный подход к труду, мы избегаем ненужных трат времени, финансов и материальных ресурсов. Чётко следуем принятому организационному распорядку.
								li
									h6.about-us__worth__subtitle.
										Мы честны и доброжелательны.
									| Мы искренни, правдивы, безупречны в делах и отношениях, готовы делиться с окружающими информацией и компетенциями. Доброжелательность- это наш тип взаимоотношений, психологический климат в компании, для которого характерны помощь друг другу и позитивные эмоции.
								li
									h6.about-us__worth__subtitle.
										Мы истинные демократы.
									| У нас участвует весь персонал в принятии решений, опираясь на точку зрения большинства, без нарушения прав меньшинства.
			.about-us__team
				.row
					.col-md-12
						h3.about-us__team__title.
							наша команда
				.row
					.col-md-4.col-xs-12.col-sm-6.col-lg-3
						.about-us__team__item
							.about-us__team__img
							.about-us__team__name.
								анастасия иванова
							.about-us__team__position.
								Руководитель
					.col-md-4.col-xs-12.col-sm-6.col-lg-3
						.about-us__team__item
							.about-us__team__img
							.about-us__team__name.
								антон привольнов
							.about-us__team__position.
								Менеджер
					.col-md-4.col-xs-12.col-sm-6.col-lg-3
						.about-us__team__item
							.about-us__team__img
							.about-us__team__name.
								анастасия иванова
							.about-us__team__position.
								Руководитель
					.col-md-4.col-xs-12.col-sm-6.col-lg-3
						.about-us__team__item
							.about-us__team__img
							.about-us__team__name.
								антон привольнов
							.about-us__team__position.
								Руководитель



