extends _layout.pug

block content
	.agreement.gray-bg
		include _breadcrumbs.pug
		.container
			.row
				.col-md-12
					h2.agreement__title.
						пользовательское соглашение
					.agreement__content
						p.agreement__subcontent.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам.
						h4.agreement__subtitle.
							термины и определения
						p.agreement__subcontent.
							О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам. 
						ol
							li
								h4 Основные положения:
								ol
									li.
										Поскольку философия состоит из рациональных рассуждений, логика является первичным атрибутом философии. Для анализа различных философских концепций, для их сопоставления друг с другом необходимо проведение критического анализа (англ.)русск. различных философских утверждений и теорий.
									li.
										В связи с тем, что человеческое мышление формулируется текстуально, логика тесно связана с анализом текстов и языков. Логика формализует текстуальное рассуждение и определяет его формы, которые приемлемы для анализа. Первым шагом к логической формализации рассуждения послужило выявление силлогизмов, или рассуждений вида.
										При всей своей кажущейся простоте выделение силлогизмов из обычной человеческой речи произошло не сразу и не везде[прим. 2]. Выделению силлогизмов как способа доказательства способствовало сочетание философии и математики, распространённое в Древней Греции.
									li.
										Первое формальное изложение понятия силлогизма и простейшей логической системы было сделано Аристотелем[⇨]. Логика Аристотеля оставалась неизменной две тысячи лет, до начала XX века, когда исследования в математике и аналитической философии открыли дорогу для развития логики[⇨]. Была формализована «логика первого порядка» или «логика предикатов», которая к настоящему моменту хорошо изучена. Однако, как оказалось, для полноценного анализа философской аргументации, а тем более естественной человеческой речи требуется применение модальной логики и логик более высоких порядков, в частности логики второго порядка. Кроме этого взаимосвязь формального символического языка и естественной речи исследуют логическая семантика и семиотика. Эти дисциплины в совокупности с модальной логикой более высоких порядков продолжают оставаться областью активных междисциплинарных исследований.
									li.
										Современная логика состоит из нетривиальных, глубоко математических концепций, которые изучаются философами, математиками, лингвистами, а в последнее время ещё и программистами и специалистами в области теории решений и искусственного интеллекта. Логика, таким образом, является как одной из самых древних, так и одной из самых современных дисциплин
