extends _layout.pug

block content
	.page-banner.page-banner-auto
		.container
			.row
				.col-xs-12
					.page-banner-auto-inner
						.page-banner-info
							h1.page-banner-title зарабатывайте<br> в любое удобное<br> для вас время
							p.page-banner-text.
								Заполните заявку на сотрудничество,<br>
								и наши менеджеры свяжутся с вами
							button.button.orange-button(data-toggle="modal" data-target="#auto-modal") подать заявку
						img(src="/img/auto-icon.png", alt="")
	.benefits.paddings
		.container
			.row
				.col-xs-12
					.title.inner-title.centered преимущества работы с нами
			.row
				.col-xs-4
					.benefit-item
						.benefit-item-pic
							img(src="/img/icons/auto-benefit-1.png", alt="")
						.benefit-item-title Свободный график
						.benefit-item-text.
							Вы сами решаете – когда и как часто принимать заказы
				.col-xs-4
					.benefit-item
						.benefit-item-pic
							img(src="/img/icons/auto-benefit-2.png", alt="")
						.benefit-item-title Зарабатывайте с нами
						.benefit-item-text.
							Преврати свой автомобиль в источник заработка. Начать работать можно уже сегодня
				.col-xs-4
					.benefit-item
						.benefit-item-pic
							img(src="/img/auto/fast-pay.png", alt="")
						.benefit-item-title Быстрые выплаты
						.benefit-item-text.
							Мы предлагаем разные варианты как получать оплату

	.getting-started.gray-bg.paddings
		.container
			.row
				.col-sm-12
					.title.inner-title.centered чтобы начать работать
					.getting-started-steps
						.step
							.step-number
								span 1
							.step-text Заполните заявку
						.step
							.step-number
								span 2
							.step-text Дождитесь звонка<br> наших менеджеров
						.step
							.step-number
								span 3
							.step-text Предоставьте документы
						.step
							.step-number
								span 4
							.step-text Установите приложение и начните зарабатывать
	.offer-block.paddings
		.container
			.row
				.col-xs-12.col-sm-6
					.inner-title Есть автомобиль?<br>Превратите его в источник<br> дохода
					p.
						Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.
				.col-xs-6.hidden-xs
					.offer-block-pic
						img(src="/img/icons/do-u-have-a-car.png", alt="", class="hidden-xs")
	.faq.paddings.gray-bg
		.container
			.row
				.col-xs-12
					h3.inner-title.centered.title часто задаваемые вопросы
					.faq-item-wrap
						.faq-item
							span.faq-icon
							.faq-title Как получить заказы?
						.faq-full-text.
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.<br><br>
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.
					.faq-item-wrap
						.faq-item
							span.faq-icon
							.faq-title что делать если нет автомобиля?
						.faq-full-text.
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.<br><br>
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.
					.faq-item-wrap
						.faq-item
							span.faq-icon
							.faq-title Как получить заказы?
						.faq-full-text.
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.<br><br>
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.
					.faq-item-wrap
						.faq-item
							span.faq-icon
							.faq-title что делать если нет автомобиля?
						.faq-full-text.
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.<br><br>
							Хотите дополнительно зарабатывать деньги на новые покупки или подарки – ТАМАК дает вам такую возможность. Каждый человек имеет свой график и свой образ жизни. Вы сами решаете, когда вам удобно принимать заказы и получаете за это хорошие деньги. Для наших курьеров мы создали мобильное приложение, где все просто и понятно. У нас минимальные требования к кандидатам и автомобилю.
	.our-couriers.paddings
		.container
			.row
				.col-xs-12
					h3.title.centered.inner-title наши курьеры
					.couriers-list.page-couriers-list
						.row
							-for (var i = 0; i < 2; i++) 
								.col-xs-12.col-sm-12.col-md-6
										.courier
											.courier-pic
												img(src="/img/courier-pic.png", alt="")
											span.courier-name Алмас Есенгалиев
											.courier-rate
												img(src="/img/icons/rate-4.png", alt="")
										.courier
											.courier-pic
												img(src="/img/auto/viktor.png", alt="")
											span.courier-name Виктор Сухоруков
											.courier-rate
												img(src="/img/icons/rate-4.png", alt="")
										.courier
											.courier-pic
												img(src="/img/auto/andry.png", alt="")
											span.courier-name Андрей Пепперони
											.courier-rate
												img(src="/img/icons/rate-4.png", alt="")
	.apply.paddings
		.container
			.row
				.col-xs-12
					h3.title.inner-title начните зарабатывать!
					p.
						Заполните заявку на сотрудничество,<br>
						и наши менеджеры свяжутся с вами
					button.button.orange-button подать заявку
