extends _layout-inner.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	.container(style="margin-top:20px;")
		.row
			.col-xs-12.col-sm-12.col-md-4.specific-col-lg-23
				include _menu-pay-data.pug
				include _menu-pay.pug
			.col-xs-12.col-sm-12.col-md-8.specific-col-lg-77
				.restoraunt-side__title.
					Корзина
				.restoraunt-side__description.pt-15-10.
					В корзине 4 блюда из 2 заведений
				include _basket-order.pug
				include _basket-order.pug
				include _order-sum.pug
				.basket__area
					textarea.basket__area-text
					a(href="").button-standard.button-standard--orange.basket__button Подтвердить заказ