extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'Анатолий курьерский';
	include _user-name--title.pug
	- var nav = [{title:'История заказов', url:'../html/cabinet-courier-history.html'}, {title:'Иcтория оплаты',url:'../html/cabinet-courier-payed.html'}, {title:'Отзывы',url:'#',active:'1'}, {title:'Чат с клиентом',url:'../html/cabinet-courier-chat.html'}];
	include _courier_contant
	include _nav.pug
	.container
		.row
			- var reviews = [{stars: 3, text: 'Отличный курьер. Всем рекомендую. Очень вежливый и все делает быстро'}];
			include _reviews-block--courier.pug
			include _reviews-block--courier.pug
			include _reviews-block--courier.pug
			include _reviews-block--courier.pug
			include _reviews-block--courier.pug