extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html', active:'1'}, {title:'Мои отзывы',url:'/html/cabinet-customer-reviews.html'}, {title:'Избранные рестораны',url:'/html/cabinet-customer-restolike.html'}, {title:'чат с менеджером',url:'/html/cabinet-customer-chat.html'}];
	include _account_content
	include _nav.pug
	.container.order-back.mb-15
		.info_container-main
			.restoraunt-side__title №19032919
			.info__container
				span.info__label Время:
				span.info__body 01.12.2018  в 12:47
			.info__container
				span.info__label Статус:
				span.info__body Оформлен
			a(href="#").info__back
				.btn.order-back-button
					.order-back_image(style="background-repeat:no-repeat;") 
					span.order-back_name Вернуться в списку заказов
	include _customer-order.pug
	include _customer-order.pug
	include _customer-order--comment-sum.pug
	include _customer-order--geo.pug
	include _customer-order-back.pug