extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'Анатолий курьерский';
	include _user-name--title.pug
	- var nav = [{title:'История заказов', url:'../html/cabinet-courier-history.html'}, {title:'Иcтория оплаты',url:'../html/cabinet-courier-payed.html'}, {title:'Отзывы',url:'../html/cabinet-courier-reviews.html'}, {title:'Чат с клиентом',url:'#', active:'1'}];
	include _courier_contant
	include _nav.pug
	.container
		.row
			.col-xs-12
				.button-wrap.chat__buttons.mb-30
					a(href="").button-standard.button-standard--orange Позвонить клиенту
					a(href="").button-standard Позвонить менеджеру
				include _message-area.pug
				.messages__area.mt-30.mb-30
					include _messages.pug
	include _modal-setting.pug