extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable
	- var username = 'Анатолий курьерский';
	include _user-name--title
	- var nav = [{title:'История заказов', url:'#',active:'1'}, {title:'Иcтория оплаты',url:'../html/cabinet-courier-payed.html'}, {title:'Отзывы',url:'../html/cabinet-courier-reviews.html'}, {title:'Чат с клиентом',url:'../html/cabinet-courier-chat.html'}];
	include _courier_contant
	include _nav
	.container
		.restoraunt-side__title.
			НОВЫЕ ЗАКАЗЫ
	- var order = {date: '11.12.2018',number: '№1056',adress: 'Ул. Сатыбалдина - пр. Кунанбаева',state: 'Поиск исполнителя',buttons:[{title:'Принять заказ',active:'1'},{title:'отказаться'}]};
	.container
		include _courier-order
		include _courier-order
	.container.mt-15.mb-15
		.restoraunt-side__title.
			История заказов
	.container.mb-15
		include _period
	.container
		- var order = {date: '11.12.2018',number: '№1056',adress: 'Ул. Сатыбалдина - пр. Кунанбаева',state: 'Заказ завершен',buttons:[{title:'детали заказа'}]};
		include _courier-order
		include _courier-order
		include _courier-order
		include _courier-order