extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html', active:'1'}, {title:'Мои отзывы',url:'/html/cabinet-customer-reviews.html'}, {title:'Избранные рестораны',url:'/html/cabinet-customer-restolike.html'}, {title:'чат с менеджером',url:'/html/cabinet-customer-chat.html'}];
	include _account_content
	include _nav.pug
	include _customer-orders.pug
	include _customer-orders.pug