extends _layout-cabinet.pug

block content
	//- Здесь просто обьявляем для хлебных крошек названия
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html'}, {title:'Мои отзывы',url:'/html/cabinet-customer-reviews.html'}, {title:'Избранные рестораны',url:'#', active:'1'}, {title:'чат с менеджером',url:'/html/cabinet-customer-chat.html'}];
	include _account_content
	include _nav.pug
	.container
		.row
			- var restoraunts = [{image: "/img/reviews/japanese.png", title: 'Ресторан “Три толстяка”', }];
			include _restoraunt-block.pug