extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html'}, {title:'Мои отзывы',url:'/html/cabinet-customer-reviews.html'}, {title:'Избранные рестораны',url:'/html/cabinet-customer-restolike.html'}, {title:'чат с менеджером',url:'/html/cabinet-customer-chat.html'}];
	include _account_content
	include _nav.pug
	.container
		.restoraunt-side__title Редактировать данные
	.container
		.row
			.col-lg-9.col-xs-12.mt-15
				table(border="0" style="width:100%").clear__table
					tr
						th
						th
						th
					tr
						td
							span.settings-table__label Ваше имя:
						td
							input.settings-table__input 
						td
					tr
						td
							span.settings-table__label Фамилия:
						td
							input.settings-table__input 
						td
					tr
						td
							span.settings-table__label Телефон:
						td
							input.settings-table__input 
						td
					tr
						td
							span.settings-table__label Адрес:
						td
							input.settings-table__input 
						td
							span.settings-table__delete.d-xs-none Удалить
							span.settings-table__delete.settings-table__delete--small ×
					tr
						td
						td
							input.settings-table__input
						td
							span.settings-table__delete.d-xs-none Удалить
							span.settings-table__delete.settings-table__delete--small ×
					tr
						td
						td
							span.settings-table__added Добавить ещё адрес
						td
					tr
						td
							span.settings-table__label Новый пароль:
						td
							input.settings-table__input
						td
					tr
						td
						td
							.wrap.mt-15
								a(href="").button-standard.mi-w150.mb-15.button-standard--orange Сохранить
								a(href="").button-standard.mi-w150.mb-15 Отмена
						td