extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'Анатолий курьерский';
	include _user-name--title.pug
	- var nav = [{title:'История заказов', url:'#',active:'1'}, {title:'Иcтория оплаты',url:'../html/cabinet-courier-payed.html'}, {title:'Отзывы',url:'../html/cabinet-courier-reviews.html'}, {title:'Чат с клиентом',url:'../html/cabinet-courier-chat.html'}];
	include _courier_contant
	include _nav.pug
	include _courier-order-back.pug
	- var buttons = [{title:'Принять заказ',active:'1'},{title:'отказаться'}];
	include _courier-order-comment.pug
	include _courier-order-geo.pug
	.container
		.restoraunt-side__title.mt-30.mb-15.
			Детали заказа
	include _customer-order.pug
	include _customer-order.pug
	include _courier-order-sum.pug
	- var buttons = [{title:'Принять заказ',active:'1'},{title:'отказаться'}];
	include _courier-accept
	include _customer-order-back.pug