extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html'}, {title:'Мои отзывы',url:'#',active:'1'}, {title:'Избранные рестораны',url:'/html/cabinet-customer-restolike.html'}, {title:'чат с менеджером',url:'/html/cabinet-customer-chat.html'}];
	include _account_content
	include _nav.pug
	.container
		.row
			- var reviews = [{image: "/img/reviews/japanese.png", title: 'Ресторан “Три толстяка”', date: '01.12.2018  в 12:47', stars: 3, text: 'Отличный ресторан. Ходим сюда всей семьей. Очень приятная обстановка и приветливый персонал. Рекомендуем Ходим сюда всей семьей. Очень приятная обстановка и приветливый персонал. Рекомендуем'}];
			include _reviews-block--customer.pug
			include _reviews-block--customer.pug
			include _reviews-block--customer.pug