extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'Анатолий курьерский';
	include _user-name--title.pug
	- var nav = [{title:'История заказов', url:'../html/cabinet-courier-history.html'}, {title:'Иcтория оплаты',url:'#',active:'1'}, {title:'Отзывы',url:'../html/cabinet-courier-reviews.html'}, {title:'Чат с клиентом',url:'../html/cabinet-courier-chat.html'}];
	include _courier_contant
	include _nav.pug
	.container.mb-15
		.page__sort--ondelimiter
			span.upp Период:
			span.page__sort
				include _select
	include _list-table--courier.pug