extends _layout-cabinet.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var username = 'константин константинопольский';
	include _user-name--title.pug
	- var nav = [{title:'история заказов', url:'/html/cabinet-customer-history.html'}, {title:'Мои отзывы',url:'/html/cabinet-customer-reviews.html'}, {title:'Избранные рестораны',url:'/html/cabinet-customer-restolike.html'}, {title:'чат с менеджером',url:'#', active:'1'}];
	include _account_content
	include _nav.pug
	.container
		.row
			.col-xs-12
				.button-wrap.chat__buttons.mb-30
					a(href="").button-standard.button-standard--orange Позвонить курьеру
					a(href="").button-standard Позвонить менеджеру
				include _message-area.pug
				.messages__area.mt-30.mb-30
					include _messages.pug