extends _layout.pug

block content
	.contacts.gray-bg
		include _breadcrumbs.pug
		.container
			h2.contacts__title.
				контакты
			.row
				.col-md-4
					.contacts__item
						h4.contacts__subtitle.
							Служба доставки
						.contacts__number.
							+7 123 456 78 90
				.col-md-4
					.contacts__item
						h4.contacts__subtitle.
							служба поддержки
						.contacts__number.
							+7 123 456 78 90
				.col-md-4
					.contacts__item
						h4.contacts__subtitle.
							НАШ АДРЕС:
						.contacts__desc.
							Алматы, ул. Победоносная, 45
			.row
				.col-md-12
					.contacts__map
			.row
				.col-md-12
					form.contacts__form
						h3.contacts__form__title.
							Обратная связь
						.row
							.col-md-6.col-xs-12.col-sm-6
								.contacts__form__item
									.form-group
										input.form-control(type='text',placeholder='Ваше имя',name='name')
									.form-group
										input.form-control(type='tel',placeholder='Телефон',name='phone')
									.form-group
										input.form-control(type='email',placeholder='E-mail',name='email')
							.col-md-6.col-xs-12.col-sm-6
								.contacts__form__item
									.form-group
										textarea.form-control(type='text',placeholder='Сообщение',name='name',rows='5')
										button.btn.button.dish-order-button(type='submit') Отправить
