extends _layout.pug

block content
	.delivery.gray-bg
		include _breadcrumbs.pug
		.container
			h2.delivery__title.
				Доставка и оплата
			.delivery__content
				.row
					.col-md-6
						.delivery__img
					.col-md-6
						.delivery__desc.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам. 
				.row
					.col-md-12
						.delivery__text.
							После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам.