extends _layout-inner.pug

block content
	//- Здесь просто обьявляем для хлебных крошек названия
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Блюда',url:'#'}];
	include _breadcrumbs-variable.pug
	- var title = 'Пицца в Алматы';
	- var count = '194';
	include _page-title.pug
	.container
		.row
			- var restoraunts = [{image: "/img/reviews/japanese.png", title: 'Три толстяка', }];
			.col-xs-12
				include _dishes-block.pug
				include _dishes-block.pug