extends _layout.pug

block content
	.page-banner.page-banner-auto(style="background:url(/img/dishes/bg.jpg)")
		.container
			.row
				.col-xs-12
					.page-banner-auto-inner
						.page-banner-info
							//- добавлять <br> дурной тон, т.к зачастую челы добавляющие контент через админку "Не могут в" HTML
							//- в результате текст может h некорректно
							h1.page-banner-title добавьте свои блюда и начните зарабатывать
							p.page-banner-text.
								Заполните заявку на сотрудничество,<br>
								и наши менеджеры свяжутся с вами
							button.button.orange-button подать заявку
						img(src="/img/dishes/hero-cook.png", alt="")
	//- .page-banner.page-banner-dishes
	//- 	.container
	//- 		.row
	//- 			.col-xs-12
	//- 				.page-banner-dishes-inner
	//- 					.page-banner-info
	//- 						h1.page-banner-title добавьте свои блюда <br>и начните зарабатывать
	//- 						p.page-banner-text.
	//- 							Заполните заявку на сотрудничество,<br>
	//- 							и наши менеджеры свяжутся с вами
	//- 						button.button.orange-button подать заявку
	.benefits.paddings
		.container
			.row
				.col-xs-12
					.title.inner-title.centered преимущества работы с нами
			.row
				.col-xs-12.col-sm-4
					.benefit-item
						.benefit-item-pic
							img(src="/img/dishes/people.png", alt="")
						.benefit-item-title Дополнительный канал продаж
						.benefit-item-text.
							Привлечение новой аудитории
				.col-xs-12.col-sm-4
					.benefit-item
						.benefit-item-pic
							img(src="/img/dishes/pay-buiseness.png", alt="")
						.benefit-item-title Оплата услуг сервиса
						.benefit-item-text.
							Вы платите за реальные заказы
				.col-xs-12.col-sm-4
					.benefit-item
						.benefit-item-pic
							img(src="/img/dishes/automatization.png", alt="")
						.benefit-item-title Автоматизация бизнеса
						.benefit-item-text.
							удобный личный кабинет для управления меню и получение отчетности
	.infoblock.infoblock__left.gray-bg.paddings
		.container
			.row
				.col-xs-12.col-sm-6
					.infoblock-pic
						img(src="/img/dishes/service.png", alt="")
				.col-xs-12.col-sm-6
					.infoblock-content
						.infoblock-title.title.inner-title ТАМАК - сервис доставки еды
						.infoblock-text.
							Наша цель привлечение новой аудитории, многократное повышение ваших заказов. Совместно автоматизировать приток клиентов и сэкономить уйму времени и денег. Мы используем самые современные и эффективные методы интернет-продвижения. Мы создаем поток «голодных» клиентов. В результате работы с нами тысячи новых людей узнают о Вашем заведении. Каждый гость увидит ваши акции и предложения. 
	.infoblock.infoblock__right.paddings
		.container
			.row
				.col-xs-12.col-sm-6.col-sm-push-6
					.infoblock-pic
						img(src="/img/dishes/handshake.png", alt="")
				.col-xs-12.col-sm-6.col-sm-pull-6
					.infoblock-content
						.infoblock-title.title.inner-title Сотрудничество с нами очень лояльное
						.infoblock-text.
							Стать нашим партнером абсолютно бесплатно. Вы не несете никаких затрат и ничего не теряете. Вы платите только за результат, за реальные заказы. Стоимость наших услуг – это небольшая комиссия от суммы выполненного заказа. Все партнеры сервиса получают доступ к собственному личному кабинету, где вы сможете проанализировать статистику по среднему чеку, количеству заказов.
	.partners-wrap.paddings.gray-bg
		.container
			.row
				.col-xs-12
					.title.inner-title.centered с нами работают
					.partners.slider(data-slider="dishPartners")
						-for (var i = 1; i < 9; i++)
							.partner
								img(src="/img/dishes/partner"+i+".png", alt="")
						// PUG це кохання, PUG це життя
	.apply.paddings.decor-bg-light
		.container
			.row
				.col-xs-12
					h3.title.inner-title начните зарабатывать!
					p.
						Заполните заявку на сотрудничество,<br>
						и наши менеджеры свяжутся с вами
					button.button.orange-button подать заявку
