extends _layout.pug

block content
	.main-slider-wrap
		a(href="#")#main-slider-control-left.main-slider-control.main-slider-control-left
		.main-slider.slider(data-slider="mainSlider")
			.main-slider-item(style="background-image: url('/img/main-slider-pic.jpg');background-repeat: no-repeat;background-size: cover;background-position: center ")
				.container
					.row
						.col-xs-12.col-md-6.plashka
							.main-slider-item-category акция
							h2.main-slider-item-title.
								бесплатная<br>новогодняя<br>доставка
							p.main-slider-item-text.
								На любые заказы, сделанные<br>в новогоднюю ночь
							a.main-slider-item-link подробнее
			.main-slider-item(style="background-image: url('/img/main-slider-pic.jpg');background-repeat: no-repeat; background-size: cover;background-position: center ")
				.container
					.row
						.col-xs-12.col-md-6.plashka
							.main-slider-item-category акция
							h2.main-slider-item-title.
								бесплатная<br>новогодняя<br>доставка
							p.main-slider-item-text.
								На любые заказы, сделанные<br>в новогоднюю ночь
							a.main-slider-item-link подробнее
			.main-slider-item(style="background-image: url('/img/happy-cook.png');background-repeat: no-repeat; background-size: cover;background-position: center ")
				.container
					.row
						.col-xs-12.col-md-6.s-white.plashka-dark
							.main-slider-item-category акция
							h2.main-slider-item-title.
								бесплатная<br>новогодняя<br>доставка
							p.main-slider-item-text.
								На любые заказы, сделанные<br>в новогоднюю ночь
							a.main-slider-item-link подробнее
		a(href="#")#main-slider-control-right.main-slider-control.main-slider-control-right
	.get-order-widget
		.container
			.row
				.col-xs-12
					form.get-order-form(action="#")
						input.form-control(type="text", placeholder="Введите адрес доставки")
						.get-order-dropdown-wrap(data-toggle="popover",data-content="Выберете свой город из списка", data-trigger="hover", data-placement="top")
							span.get-order-dropdown-label Ваш город:
							.dropdown.get-order-dropdown
								button#dropdownMenu1.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
									| Алматы
									span.caret
								ul.dropdown-menu.drop-menu.menu-2.dre(aria-labelledby='dropdownMenu1')
									li
										a(href='#') Action
									li
										a(href='#') Another action
									li
										a(href='#') Something else here
									li
										a(href='#') Separated link
						.get-order-buttons
							button(data-toggle="modal",data-target="#find-me-modal").button.orange-button#findme найти меня
							button(data-toggle="popover",data-content="Кнопка «найти ближайшие» покажет, какие ближайшие к вам рестораны являются партнерами Тамак", data-trigger="hover", data-placement="auto bottom").button найти ближайшие
	.main-categories-wrap
		.container
			.row
				.col-xs-12
					.main-categories(data-toggle="popover",data-content="В этом блоке вы сможете найти нужное блюдо и рестораны, которые приготовят их для вас", data-trigger="hover")
						.category
							a(href="#").category-pic
								img(src="/img/categories/c-all.png", alt="")
							p.category-title все рестораны
						.category
							a(href="#").category-pic
								img(src="/img/categories/c-pizza.png", alt="")
							p.category-title пицца
						.category
							a(href="#").category-pic
								img(src="/img/categories/c-roll.png", alt="")
							p.category-title суши и роллы
						.category
							a(href="#").category-pic
								img(src="/img/categories/c-burger.png", alt="")
							p.category-title бургеры
						.category
							a(href="#").category-pic
								img(src="/img/categories/c-doner.png", alt="")
							p.category-title твистеры, донеры, шаурма
						.category
							a(href="#").category-pic
								img(src="/img/categories/c-shashlyk.png", alt="")
							p.category-title шашлык
						#hidden-main-categories
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-baby-food.png", alt="")
								p.category-title для детей
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-complex.png", alt="")
								p.category-title комплексный обед
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-cook.png", alt="")
								p.category-title авторские блюда
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-dinner.png", alt="")
								p.category-title ужин
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-donuts.png", alt="")
								p.category-title выпечка
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-fishplate.png", alt="")
								p.category-title рыбные блюда
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-freeze.png", alt="")
								p.category-title замороженные продукты
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-ice-cream.png", alt="")
								p.category-title мороженное
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-mash.png", alt="")
								p.category-title пюре
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-pie.png", alt="")
								p.category-title пироги/торты
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-seasonings.png", alt="")
								p.category-title Специи/приправы
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-soup.png", alt="")
								p.category-title супы
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-spaghetti.png", alt="")
								p.category-title спагетти
							.category
								a(href="#").category-pic
									img(src="/img/categories/c-vegetables.png", alt="")
								p.category-title овощи
					a#category-toggle(href="#" data-toggle="popover",data-content="Нажмите на «все категории» и увидите весь список категорий блюд!", data-trigger="hover",data-placement="auto bottom") 
						span.mr-1 Все категории
						span.category-toggle-arrow
	.dishes-list.gray-bg.dishes-list__popular
		.container
			.row
				.col-xs-12
					h3.title популярные блюда
					a(href="#")#popular-slider-control-right.slider-control.slider-control-right
					.dishes-list__popular__widget.slider(data-slider="dishesSliderOnMain")
						// У элементов списка блюд установлена фиксированная ширина, при сборке нужно учесть.
						-for (var i=1; i< 8; i++)
							.dish
								a(href="#").dish-pic
									img(src="/img/dishes/popular-dish.jpg", alt="")
								.dish-info
									a(href="#").dish-title Пицца Пепперони, 500 г.
									.restaurant-title Pizzeria Italiana
									.dish-desc.
										Фирменный соус для пиццы, моцарелла и пепперони
									.dish-bottom-info
										span.dish-price 2 400 тг
										button.btn.button.dish-order-button заказать
					a(href="#")#popular-slider-control-left.slider-control.slider-control-left
	.promos.gray-bg
		.container
			.row
				.col-xs-12
					h3.title акции
					.promos__widget
						.row
							a(href="#")#promo-slider-control-left.slider-control.slider-control-left
							.slick-in-modile.slick-promo
								-for (var i=1; i< 8; i++)
									.col-md-12.col-lg-6
										.promo-item
											a(href="#").promo-item-pic
												img(src="/img/promo-pic.jpg" style="height:100%!important")
											.promo-item-info
												a(href="#").promo-item-title суши в подарок
												.restaurant-title Nori Sushi
												.promo-item-desc.
													Фирменный соус для пиццы, моцарелла и пепперони
												.promo-bottom-info
													span.promo-price 2 400 тг
													button.btn.button.promo-order-button заказать
							a(href="#")#promo-slider-control-right.slider-control.slider-control-right
	.couriers-wrap.gray-bg.couriers__widget
		.container
			.row
				.col-xs-12
					h3.title наши курьеры
					.couriers
						.couriers-map
							#map(style="min-height:360px;")
						.couriers-list
							.couriers-general-info
								.all-couriers
									span.all-couriers-label Курьеров в системе:
									span.all-couriers-count 25
								.free-couriers
									span.free-couriers-label Свободны:
									span.free-couriers-count 10
							.slider(data-slider="courierSliderOnMain")
								.courier
									.courier-pic
										img(src="/img/courier-pic.png", alt="")
									span.courier-name Алмас Есенгалиев
									.courier-rate
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star
								.courier
									.courier-pic
										img(src="/img/courier-pic.png", alt="")
									span.courier-name Алмас Есенгалиев
									.courier-rate
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star
										i.fas.fa-star.rate-star
								.courier
									.courier-pic
										img(src="/img/courier-pic.png", alt="")
									span.courier-name Алмас Есенгалиев
									.courier-rate
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
								.courier
									.courier-pic
										img(src="/img/courier-pic.png", alt="")
									span.courier-name Алмас Есенгалиев
									.courier-rate
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
								.courier
									.courier-pic
										img(src="/img/courier-pic.png", alt="")
									span.courier-name Алмас Есенгалиев
									.courier-rate
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
										i.fas.fa-star.rate-star.active
							.couriers-slider-controls
								.couriers-slider-control#couriers-slider-up.couriers-slider-up
								.couriers-slider-control#couriers-slider-down.couriers-slider-down
	.restaurants.gray-bg
		.container
			.row
				.col-xs-12
					h3.title популярные рестораны
					.restaurants__widget
						.row.slick-in-modile
							.col-xs-12.col-sm-6
								.restaurant
									.restaurant-pic
										img(src="/img/restaurant-pic.jpg", alt="")
									.restaurant-info
										.restaurant-title три толстяка
										.restaurant-menu Кухня: Кавказская | Европейская | Казахская | Пиво | Шашлык | Пицца
										.restaurant-bottom-info
											.restaurant-minsum
												p Минимальная сумма:
												span.number 3000 тг.
											.restaurant-workhours
												p Время работы:
												span.hours 10:00 - 01:00
							.col-xs-12.col-sm-6
								.restaurant
									.restaurant-pic
										img(src="/img/restaurant-pic.jpg", alt="")
									.restaurant-info
										.restaurant-title три толстяка
										.restaurant-menu Кухня: Кавказская | Европейская | Казахская | Пиво | Шашлык | Пицца
										.restaurant-bottom-info
											.restaurant-minsum
												p Минимальная сумма:
												span.number 3000 тг.
											.restaurant-workhours
												p Время работы:
												span.hours 10:00 - 01:00
							.col-xs-12.col-sm-6
								.restaurant
									.restaurant-pic
										img(src="/img/restaurant-pic.jpg", alt="")
									.restaurant-info
										.restaurant-title три толстяка
										.restaurant-menu Кухня: Кавказская | Европейская | Казахская | Пиво | Шашлык | Пицца
										.restaurant-bottom-info
											.restaurant-minsum
												p Минимальная сумма:
												span.number 3000 тг.
											.restaurant-workhours
												p Время работы:
												span.hours 10:00 - 01:00
							.col-xs-12.col-sm-6
								.restaurant
									.restaurant-pic
										img(src="/img/restaurant-pic.jpg", alt="")
									.restaurant-info
										.restaurant-title три толстяка
										.restaurant-menu Кухня: Кавказская | Европейская | Казахская | Пиво | Шашлык | Пицца
										.restaurant-bottom-info
											.restaurant-minsum
												p Минимальная сумма:
												span.number 3000 тг.
											.restaurant-workhours
												p Время работы:
												span.hours 10:00 - 01:00
	.reviews.gray-bg
		.container
			.row
				.col-xs-12
					h3.title отзывы
					.reviews-slider.slider(data-slider="restaurantsSliderOnMain")
						.review
							.row
								.col-xs-12.col-sm-3
									.review-info
										.review-title Александр
										.review-date 14.07.2018
								.col-xs-12.col-sm-9
									.review-block
										.review-rate
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star
											i.fas.fa-star.rate-star
										.review-text.
											Отличный сервис, быстрая доставка. Заказываю обычно из ресторана “Три Толстяка”, операторы вежливые, все супер!
						.review
							.row
								.col-xs-12.col-sm-3
									.review-info
										.review-title Александр
										.review-date 14.07.2018
								.col-xs-12.col-sm-9
									.review-block
										.review-rate
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star.active
											i.fas.fa-star.rate-star
										.review-text.
											Отличный сервис, быстрая доставка. Заказываю обычно из ресторана “Три Толстяка”, операторы вежливые, все супер!
					.reviews-slider-controls
						.reviews-slider-control#reviews-slider-up.reviews-slider-up
						.reviews-slider-control#reviews-slider-down.reviews-slider-down
	.banner.gray-bg
		img(src="/img/apps.jpg", alt="", class="img-responsive banner__center")