extends _layout.pug

block content
	.news-block.gray-bg
		include _breadcrumbs.pug
		.container
			h2.news-block__title.
				новости
			.news-block__content
				.row
					.col-md-3.col-xs-12.col-lg-3
						a(href="#").news-block__pic__wrap
							img(src="../img/news/item.jpg", alt="")
					.col-md-9.col-xs-12.col-lg-9
						p.news-block__date.
							15.07.2018
						h4.news-block__subtitle
							a(href="#").
								новые рестораны открылись в алматы
						.news-block__desc.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий.
			.news-block__content
				.row
					.col-md-12.col-xs-12
						p.news-block__date.
							15.07.2018
						h4.news-block__subtitle
							a(href="#").
								теперь сделать заказ стало гораздо проще
						.news-block__desc.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий.
			.news-block__content
				.row
					.col-md-3.col-xs-12.col-lg-3
						a(href="#").news-block__pic__wrap
							img(src="../img/news/item.jpg", alt="")
					.col-md-9.col-xs-12.col-lg-9
						p.news-block__date.
							15.07.2018
						h4.news-block__subtitle
							a(href="#").
								новые рестораны открылись в алматы
						.news-block__desc.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий.
			.news-block__content
				.row
					.col-md-12.col-xs-12
						p.news-block__date.
							15.07.2018
						h4.news-block__subtitle
							a(href="#").
								теперь сделать заказ стало гораздо проще
						.news-block__desc.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий.
			.news-block__pagination
				a(href="#")
					.news-block__pagination__prev
				a(href="#")
					.news-block__pagination__next
				ul.pagination
					li
						a(href='#') 1
					li
						a(href='#') 2
					li.active
						a(href='#') 3
					li
						a(href='#') 4
					li
						a(href='#') 5

