extends _layout.pug

block content
	.news-inside.gray-bg
		include _breadcrumbs.pug
		.container
			h2.news-inside__title.
				теперь сделать заказ стало гораздо проще
			.news-inside__content
				.row
					.col-md-6
						.news-inside__img
					.col-md-6
						.news-inside__desc.
							Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам. 
				.row
					.col-md-12
						.news-inside__text.
							После Второй мировой войны бывшими солдатами там было основано большое количество пиццерий. О таком блюде, как пицца, они узнали, находясь на службе в Италии. В 1950—1960 годах в северной Европе, в таких странах как Германия, Бельгия и Голландия, пиццерии получили большое распространение также благодаря итальянским иммигрантам.
				.row
					.col-md-4
						.news-inside__follow поделиться
						.social-buttons.light-social-buttons
							a(href="#").social-button
								i.fa.fa-twitter
							a(href="#").social-button
								i.fa.fa-instagram
							a(href="#").social-button
								i.fa.fa-facebook
			button.btn.button.dish-order-button.news-inside__button назад
			button.btn.button.dish-order-button.btn-right.news-inside__button далее