extends _layout-inner.pug

block content
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var nav = [{title:'История заказов', url:'#'}, {title:'Мои отзывы',url:'#'}, {title:'Избранные рестораны',url:'#',active:'1'}, {title:'Чат с курьером',url:'#'}];
	.container-fluid.white-bg.mb-30
		.container
			.row.mb-30.mt-30
				- var resto = {image: "/img/reviews/japanese.png", title: 'SAMURAI SUSHI', };
				include _resto-head.pug
	.container
		.restoraunt-side__title.
			Оставить отзыв
	include _restoraunt-reviews.pug
	.container.mb-30
		.restoraunt-reviews__into
			a(href="") Войдите
			span или
			a(href="") Зарегестрируйтесь
			span ,чтобы оставить отзыв
	.container.mb-15
		.restoraunt-side__title.
			5 отзывов
	.container.mb-15
		include _micro-nav.pug
	.container
		- var reviews = [{title: 'Антон Вениаминов', date: '01.12.2018  в 12:47', stars: 3, text: 'Отличный ресторан. Ходим сюда всей семьей. Очень приятная обстановка и приветливый персонал. Рекомендуем Ходим сюда всей семьей. Очень приятная обстановка и приветливый персонал. Рекомендуем'}, {title: 'Антон Гыгыгы', date: '01.12.2018  в 12:47', stars: 5, text: 'Отличный ресторан. Ходим сюда всей семьей. Очень приятная обстановка и приветливый персонал. Рекомендуем Ходим сюда всей семьей. Очень приятная обстановка и приветливый персонал. Рекомендуем'}];
		.row
			include _resto-review.pug