extends _layout-inner.pug

block content
	//- Здесь просто обьявляем для хлебных крошек названия
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'суши-бары',url:'#'}];
	include _breadcrumbs-variable.pug
	- var title = 'суши-бары в алматы';
	- var count = '194';
	include _page-title.pug
	.container
		.row
			- var restoraunts = [{image: "/img/reviews/japanese.png", title: 'Три толстяка', }];
			.col-xs-12.col-sm-4.col-md-4.specific-col-lg-23
				include _resto-menu.pug
			.col-xs-12.col-sm-8.col-md-8.specific-col-lg-77
				include _clear-resto-block.pug
				include _clear-resto-block.pug