extends _layout-inner.pug

block content
	//- Здесь просто обьявляем для хлебных крошек названия
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	.container-fluid.white-bg
		.container
			.row.mb-30.mt-30
				- var resto = {image: "/img/reviews/japanese.png", title: 'SAMURAI SUSHI', };
				include _resto-head.pug
	.container(style="margin-top:50px;")
		.row
			.col-xs-12.mb-30
				.restoraunt-side__title.
					О заведении
				table.restoraunt-table__container.mb-30(style="width:100%;")
					thead
						tr
							th &nbsp;
							th &nbsp;
						tr
							td.restoraunt-table__title Специализация
							td.restoraunt-table__text Пицца , Суши , Бургеры , Шашлыки , Пироги , Готовые блюда , Еда в коробочках
						tr
							td.restoraunt-table__title Кухня
							td.restoraunt-table__text Русская , Китайская , Европейская , Американская , Японская , Итальянская , Кавказская
						tr
							td.restoraunt-table__title Рабочие дни
							td.restoraunt-table__text Пн , Вт , Ср , Чт , Пт , Сб , Вс
						tr
							td.restoraunt-table__title Время приема заказов
							td.restoraunt-table__text 10:00 - 00:00
						tr
							td.restoraunt-table__title Принимаются ли карты?
							td.restoraunt-table__text Да, при получении заказа
				.restoraunt-side__title.mb-15.
					Условия доставки
				p.restoraunt-info__text.mb-30 Доставка Ресторана
				.restoraunt-side__title.mb-15.
					Адрес
				p.restoraunt-info__text.mb-30 Ул. Центральная, 123
				#map.mb-30(style="width:100%; height: 360px;background-image:url('../img/map_1.jpg');background-size:cover;")
				.white__block.white__block-wrapper--light.mb-30(style="display:flex;flex-direction:column;justify-content: center;align-items: center;")
					.restoraunt-side__title.px-20.t-500.mb-30.mt-15 понравилось заведение? Оставьте отзыв
					a(href="").simple__button.simple__button--orange.simple__button--big.
						Сделать заказ