extends _layout-inner.pug

block content
	//- Здесь просто обьявляем для хлебных крошек названия
	- var bread = [{title:'Главная', url:'../html/index.html'}, {title:'Личный кабинет',url:'#'}];
	include _breadcrumbs-variable.pug
	- var nav = [{title:'История заказов', url:'#'}, {title:'Мои отзывы',url:'#'}, {title:'Избранные рестораны',url:'#',active:'1'}, {title:'Чат с курьером',url:'#'}];
	.container-fluid.white-bg
		.container
			.row.mb-30.mt-30
				- var resto = {image: "/img/reviews/japanese.png", title: 'SAMURAI SUSHI', };
				include _resto-head.pug
	.container(style="margin-top:50px;")
		.row
			- var restoraunts = [{image: "/img/reviews/japanese.png", title: 'Три толстяка', }];
			.col-xs-12.col-sm-12.col-md-2
				include _restoraunt-menu-sidebar.pug
			.col-xs-12.col-sm-12.col-md-10
				.restoraunt-side__title.
					Акции
				.oh-x.mb-30
					include _restoraunt-slide-slider.pug
				//- .restoraunt-side__title.
				//- 	Акции
				//- .oh-x.mb-30
				//- 	include _restoraunt-side-slider.pug
				.restoraunt-side__title.mb-30.
					Новинки
				.restoraunt-menu.dishes-list.py-0.slider(data-slider="dishesSliderOnMain")
					.dish.dish--mr20
						a.dish-pic(href="#",style="background-image:url('/img/dishes/popular-dish.jpg')")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
					.dish.dish--mr20
						a.dish-pic(href="#", style="background-image:url('/img/dishes/popular-dish.jpg')")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
					.dish.dish--mr20
						a.dish-pic(href="#", style="background-image:url('/img/dishes/popular-dish.jpg')")
						.dish-info
							a(href="#").dish-title Пицца Пепперони, 500 г.
							.restaurant-title Pizzeria Italiana
							.dish-desc.
								Фирменный соус для пиццы, моцарелла и пепперони
							.dish-bottom-info
								span.dish-price 2 400 тг
								button.btn.button.dish-order-button заказать
