extends _layout.pug

block content
	.share
		include _breadcrumbs.pug
		.container
			h2.share__title.
				Бесплатная доставка весь сентябрь
			.share__pic(style="background-image:url('../img/share_1.jpg')")
			.share__header
				h4.share__company.
					Ресторан Три тостяка
				h3.share__benefit.
					Сделай заказ на любую сумму в сентябре, и получи бесплатную доставку
				.share__buy-wrap
					a.share__buy(href='#' role="buy").
						Сделай заказ
			.share__content
				h3.
					Условия акции
				p.
					Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.
				br
				p.
					Одной из первых стран, где доставка пиццы получила широкое распространение, стали США. Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.Одной из первых стран, где доставка пиццы получила широкое распространение, стали США.
			.share__footer
				.share__buy-wrap.share__buy-wrap--footer
					a.share__buy(href='#' role="buy").
						Сделай заказ