extends _layout.pug

block content
	.shares
		include _breadcrumbs.pug
		.container
			h2.shares__title.
				Акции
			.shares__items
				-for (var i = 0; i < 2; i++) 
					.shares__item
						a.shares__pic(href="#" style="background-image:url('../img/shares_1.png')")
						.shares__text
							a.shares__name(href="#").
								Суши в подарок
							p.shares__desc.
								Фирменный соус для пиццы, моцарелла и пепперони
						.shares__info
							h4.shares__company.
								Gippo
							h4.shares__cost.
								2 400 тг
							a.shares__buy(href="#" role="buy").
								Заказать
				-for (var i = 0; i < 2; i++)
					.shares__item
						a.shares__pic(href="#" style="background-image:url('../img/shares_1.png')")
						.shares__text
							a.shares__name(href="#").
								Суши в подарок
							p.shares__desc.
								Фирменный соус для пиццы, моцарелла и пепперони
						.shares__info
							h4.shares__company.
								Gippo
							a.shares__buy(href="#").
								Подробнее
